<template>
<!-- <div> -->
<div class="container" style="margin-top: 200px;">
      <div class="row">
            <div class="col-12 col-md-3 mb-4">
            <ul class="nav flex-column flex-nowrap filter-menu text-center">
              <p class="cat-title">Kategori</p>
              <li class="nav-item"><a class="nav-link left-menu-link" href="#">Semua Kategori</a></li>
              <!-- <li class="nav-item"><a class="nav-link left-menu-link" href="#">Sekolah</a></li>
              <li class="nav-item"><a class="nav-link left-menu-link" href="#">Penerbit</a></li>
              <li class="nav-item">
                  <a class="nav-link left-menu-link collapsed" href="#matapelajaran" data-toggle="collapse" data-target="#matapelajaran">
                    Mata Pelajaran
                  </a>
                  <div class="collapse" id="matapelajaran" aria-expanded="false">
                      <ul class="flex-column nav submenu-cat">
                          <li class="nav-item">
                            <div class="nav-link left-menu-link">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="bindonesia">
                                  <label class="custom-control-label" for="bindonesia">B. Indonesia</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="binggris">
                                  <label class="custom-control-label" for="binggris">B. Inggris</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="biologi">
                                  <label class="custom-control-label" for="biologi">Biologi</label>
                                </div>
                                <div class="mt-3">
                                  <a href="#" class="danger-link ">Selengkapnya</a>
                                </div>
                            </div>
                          </li>
                      </ul>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link left-menu-link collapsed" href="#buku" data-toggle="collapse" data-target="#buku">
                    Buku
                  </a>
                  <div class="collapse" id="buku" aria-expanded="false">
                      <ul class="flex-column nav submenu-cat">
                          <li class="nav-item"><a class="nav-link left-menu-link" href="#">Pelajaran</a></li>
                      </ul>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link left-menu-link collapsed" href="#video" data-toggle="collapse" data-target="#video">
                    Video
                  </a>
                  <div class="collapse" id="video" aria-expanded="false">
                      <ul class="flex-column nav submenu-cat">
                          <li class="nav-item">
                              <div class="nav-link left-menu-link">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="all">
                                    <label class="custom-control-label" for="all">Semua video</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <inpu t type="checkbox" class="custom-control-input" id="tutorial">
                                    <label class="custom-control-label" for="tutorial">Tutorial</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="seminar">
                                    <label class="custom-control-label" for="seminar">Seminar</label>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link left-menu-link collapsed" href="#kelas" data-toggle="collapse" data-target="#kelas">
                    Kelas
                  </a>
                  <div class="collapse" id="kelas" aria-expanded="false">
                      <ul class="flex-column nav submenu-cat">
                          <li class="nav-item">
                              <div class="nav-link left-menu-link">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="kelas1">
                                    <label class="custom-control-label" for="kelas1">Kelas I</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="kelas2">
                                    <label class="custom-control-label" for="kelas2">Kelas II</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="kelas3">
                                    <label class="custom-control-label" for="kelas3">Kelas III</label>
                                  </div>
                                  <div class="mt-3">
                                    <a href="#" class="danger-link ">Selengkapnya</a>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link left-menu-link collapsed" href="#harga" data-toggle="collapse" data-target="#harga">
                    Harga
                  </a>
                  <div class="collapse" id="harga" aria-expanded="false">
                      <ul class="flex-column nav submenu-cat">
                          <li class="nav-item">
                              <div class="nav-link left-menu-link">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="all">
                                    <label class="custom-control-label" for="all">Gratis</label>
                                  </div>
                              </div>
                              <div class="container">
                                  <div class="form-group row">
                                    <label class="col-sm-2 col-form-label lbl-big">Rp</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control form-filter" placeholder="Minimum">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-2 col-form-label lbl-big">Rp</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control form-filter" placeholder="Maximum">
                                    </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link left-menu-link collapsed" href="#penawaran" data-toggle="collapse" data-target="#penawaran">
                    Penawaran
                  </a>
                  <div class="collapse" id="penawaran" aria-expanded="false">
                      <ul class="flex-column nav submenu-cat">
                          <li class="nav-item">
                              <div class="nav-link left-menu-link">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="diskon">
                                    <label class="custom-control-label" for="diskon">Diskon</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="promo">
                                    <label class="custom-control-label" for="promo">Promo</label>
                                  </div>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="voucher">
                                    <label class="custom-control-label" for="voucher">Voucher</label>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </li> -->
          </ul>
        </div>
        <div class="col-12 col-md-9 mb-4">
            <nav class="nav nav-pills nav-justified tab-da" id="myTab">
              <a class="nav-item nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">Semua Hasil</a>
              <!-- <a class="nav-item nav-link" id="edutest-tab" data-toggle="tab" href="#edutest" role="tab" aria-controls="edutest" aria-selected="false">Edutest</a>
              <a class="nav-item nav-link" id="eduplace-tab" data-toggle="tab" href="#eduplace" role="tab" aria-controls="eduplace" aria-selected="false">Eduplace</a> -->
            </nav>
            <div class="tab-das">
              <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
<!--                    <p class="mb-0 text-grey">Menampilkan {{ttlSearch}} hasil untuk pencarian “{{this.$route.query.v === undefined ? 'error' : this.$route.query.v}}” </p>-->
                    <p class="mb-0 text-grey">Menampilkan {{ttlSearch}} hasil untuk pencarian “{{resultSearch}}” </p>
                </div>
                <div class="col-lg-5 col-md-6">
                    <form>
                      <div class="row align-items-center">
                        <label for="staticEmail" class="col-lg-2 col-md-4 col-4 col-form-label">Urutkan</label>
                        <div class="col-lg-10 col-md-8 col-8">
                            <select class="custom-select radius-10">
                              <option value="1">Paling sesuai</option>
                              <option value="2">Terpopuler</option>
                              <option value="3">Terbaru</option>
                            </select>
                        </div>
                      </div>
                    </form>
                </div>
              </div>
              <!-- <div class="selection mt-4">
                <span class="selection-list">B. Inggris <i class="fas fa-times close-selection"></i></span> <span class="del-all"><a href="">Hapus semua</a></span>
              </div> -->
              <div class="tab-content mt-5" id="myTabContent">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                  <div class="row">
                     <div v-for="(modules, index) in listSearchModule" :key="index" class="col-6 col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-edutest">
                            <i class="ico ico-edutest"></i>
                          </div>

                          <a @click="goToModules(modules.module_slug)" href="javascript:void(0)">
                              <div class="img-content">
                                <img :src="mImage(modules.image)" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a @click="goToModules(modules.module_slug)" href="javascript:void(0)"><p class="title-prod split-text">{{modules.name}}</p></a>
                          <p class="ket-pr">{{modules.publisher.name}}</p>
                          <p class="price"><i :class="moduleCategory2(modules.module_category_id)"></i> Rp. {{currencyFormat(modules.price, '')}}</p>
<!--                          <div class="row">-->
<!--                            <div class="col-6 text-grey">-->
<!--                              <span class="ico ico-heart"></span> 0-->
<!--                            </div>-->
<!--                            <div class="col-6 text-grey">-->
<!--                              <span class="ico ico-todo"></span> 0-->
<!--                            </div>-->
<!--                          </div>-->
                      </div>
                    </div>
                    <!-- MODULE NEW -->
                    <!-- <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-edutest">
                            <i class="ico ico-edutest"></i>
                          </div>
                          <div class="label-new">
                            <i class="ico ico-label-new"></i>
                          </div>
                          <a href="#">
                              <div class="img-content">
                                <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                          <p class="ket-pr">Penerbit</p>
                          <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                          <div class="row">
                            <div class="col-6 text-grey">
                              <span class="ico ico-heart"></span> 543
                            </div>
                            <div class="col-6 text-grey">
                              <span class="ico ico-todo"></span> 124
                            </div>
                          </div>
                      </div>
                    </div> -->
                    <!-- MODULE BEST -->
                    <!-- <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-edutest">
                            <i class="ico ico-edutest"></i>
                          </div>
                          <div class="label-new">
                            <i class="ico ico-label-best"></i>
                          </div>
                          <a href="#">
                              <div class="img-content">
                                <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                          <p class="ket-pr">Penerbit</p>
                          <p class="price"><i class="ico label-crown-2"></i> Rp 100.000</p>
                          <div class="row">
                            <div class="col-6 text-grey">
                              <span class="ico ico-heart"></span> 543
                            </div>
                            <div class="col-6 text-grey">
                              <span class="ico ico-todo"></span> 124
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-edutest">
                            <i class="ico ico-edutest"></i>
                          </div>

                          <a href="#">
                              <div class="img-content">
                                <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                          <p class="ket-pr">Penerbit</p>
                          <p class="price"><i class="ico label-crown-3"></i> Rp 100.000</p>
                          <div class="row">
                            <div class="col-6 text-grey">
                              <span class="ico ico-heart"></span> 543
                            </div>
                            <div class="col-6 text-grey">
                              <span class="ico ico-todo"></span> 124
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-edutest">
                            <i class="ico ico-edutest"></i>
                          </div>

                          <a href="#">
                              <div class="img-content">
                                <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                          <p class="ket-pr">Penerbit</p>
                          <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                          <div class="row">
                            <div class="col-6 text-grey">
                              <span class="ico ico-heart"></span> 543
                            </div>
                            <div class="col-6 text-grey">
                              <span class="ico ico-todo"></span> 124
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-edutest">
                            <i class="ico ico-edutest"></i>
                          </div>

                          <a href="#">
                              <div class="img-content">
                                <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                          <p class="ket-pr">Penerbit</p>
                          <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                          <div class="row">
                            <div class="col-6 text-grey">
                              <span class="ico ico-heart"></span> 543
                            </div>
                            <div class="col-6 text-grey">
                              <span class="ico ico-todo"></span> 124
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-edutest">
                            <i class="ico ico-edutest"></i>
                          </div>

                          <a href="#">
                              <div class="img-content">
                                <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                          <p class="ket-pr">Penerbit</p>
                          <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                          <div class="row">
                            <div class="col-6 text-grey">
                              <span class="ico ico-heart"></span> 543
                            </div>
                            <div class="col-6 text-grey">
                              <span class="ico ico-todo"></span> 124
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-edutest">
                            <i class="ico ico-edutest"></i>
                          </div>

                          <a href="#">
                              <div class="img-content">
                                <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                          <p class="ket-pr">Penerbit</p>
                          <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                          <div class="row">
                            <div class="col-6 text-grey">
                              <span class="ico ico-heart"></span> 543
                            </div>
                            <div class="col-6 text-grey">
                              <span class="ico ico-todo"></span> 124
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-edutest">
                            <i class="ico ico-edutest"></i>
                          </div>

                          <a href="#">
                              <div class="img-content">
                                <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                          <p class="ket-pr">Penerbit</p>
                          <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                          <div class="row">
                            <div class="col-6 text-grey">
                              <span class="ico ico-heart"></span> 543
                            </div>
                            <div class="col-6 text-grey">
                              <span class="ico ico-todo"></span> 124
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-edutest">
                            <i class="ico ico-edutest"></i>
                          </div>

                          <a href="#">
                              <div class="img-content">
                                <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                          <p class="ket-pr">Penerbit</p>
                          <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                          <div class="row">
                            <div class="col-6 text-grey">
                              <span class="ico ico-heart"></span> 543
                            </div>
                            <div class="col-6 text-grey">
                              <span class="ico ico-todo"></span> 124
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-edutest">
                            <i class="ico ico-edutest"></i>
                          </div>

                          <a href="#">
                              <div class="img-content">
                                <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                          <p class="ket-pr">Penerbit</p>
                          <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                          <div class="row">
                            <div class="col-6 text-grey">
                              <span class="ico ico-heart"></span> 543
                            </div>
                            <div class="col-6 text-grey">
                              <span class="ico ico-todo"></span> 124
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-edutest">
                            <i class="ico ico-edutest"></i>
                          </div>

                          <a href="#">
                              <div class="img-content">
                                <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                          <p class="ket-pr">Penerbit</p>
                          <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                          <div class="row">
                            <div class="col-6 text-grey">
                              <span class="ico ico-heart"></span> 543
                            </div>
                            <div class="col-6 text-grey">
                              <span class="ico ico-todo"></span> 124
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                      <div class="product-content">
                          <div class="label-eduplace">
                            <i class="ico ico-eduplace"></i>
                          </div>

                          <a href="#">
                              <div class="img-content">
                                <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                              </div>
                          </a>
                          <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                          <p class="ket-pr">Penerbit</p>
                          <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                          <div class="row">
                            <div class="col-6 text-grey">
                              <span class="ico ico-heart"></span> 543
                            </div>
                            <div class="col-6 text-grey">
                              <span class="ico ico-todo"></span> 124
                            </div>
                          </div>
                      </div>
                    </div> -->
                  </div>
                  <div class="text-center text-grey mb-4">
                      Menampilkan {{showingFromTo}} dari {{ttlSearch}} hasil
                  </div>

                  <nav aria-label="Page navigation">
                     <paginate
                        v-model="pagePos"
                        :page-count="ttlPages"
                        :page-range="3"
                        :margin-pages="1"
                        :click-handler="clickCallback"
                        :next-text="nextText"
                        :prev-text="prevText"
                        :container-class="'pagination justify-content-center mb-4'"
                        :page-class="'page-item'"
                        :prev-class="'page-item'"
                        :next-class="'page-item'"
                        :page-link-class="'page-link'"
                        :prev-link-class="'page-link'"
                        :next-link-class="'page-link'"
                        :first-button-text="firstBtnText"
                        :last-button-text="lastBtnText"
                        :hide-prev-next="true"
                        :first-last-button="true"
                        >
                        <span slot="prevContent">Changed previous button</span>
                        <span slot="nextContent">Changed next button</span>
                      </paginate>
                    <!-- <ul class="pagination justify-content-center mb-4"> -->

                      <!-- <li class="page-item"><a class="page-link" href="#"><i class="ico ico-prev-first"></i></a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="ico ico-page-prev"></i></a>
                      </li> -->
                      <!-- <li v-for="cntPages in ttlPages" :key="cntPages" :class="{'active': isActivePaging}" class="page-item" @click="pages(cntPages)"><a class="page-link " href="#">{{cntPages}}</a></li> -->
                      <!-- <li @click="pages" class="page-item"><a class="page-link active" href="javascript:void(0)">1</a></li>
                      <li @click="pages" class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                      <li @click="pages" class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#"><i class="ico ico-page-next"></i></a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#"><i class="ico ico-next-last"></i></a></li> -->
                    <!-- </ul> -->
                  </nav>

                  <!-- <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center mb-4">
                      <li class="page-item"><a class="page-link" href="#"><i class="ico ico-prev-first"></i></a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="ico ico-page-prev"></i></a>
                      </li>
                      <li v-for="cntPages in ttlPages" :key="cntPages" :class="{'active': isActivePaging}" class="page-item" @click="pages(cntPages)"><a class="page-link " href="#">{{cntPages}}</a></li>
                      <li @click="pages" class="page-item"><a class="page-link active" href="javascript:void(0)">1</a></li>
                      <li @click="pages" class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                      <li @click="pages" class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#"><i class="ico ico-page-next"></i></a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#"><i class="ico ico-next-last"></i></a></li>
                    </ul>
                  </nav> -->
                </div>
                <div class="tab-pane fade" id="edutest" role="tabpanel" aria-labelledby="edutest-tab">
                    <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="product-content">
                            <div class="label-edutest">
                              <i class="ico ico-edutest"></i>
                            </div>
                            <div class="label-new">
                              <i class="ico ico-label-new"></i>
                            </div>
                            <a href="#">
                                <div class="img-content">
                                  <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                                </div>
                            </a>
                            <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                            <p class="ket-pr">Penerbit</p>
                            <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                            <div class="row">
                              <div class="col-6 text-grey">
                                <span class="ico ico-heart"></span> 543
                              </div>
                              <div class="col-6 text-grey">
                                <span class="ico ico-todo"></span> 124
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="product-content">
                            <div class="label-edutest">
                              <i class="ico ico-edutest"></i>
                            </div>
                            <div class="label-new">
                              <i class="ico ico-label-best"></i>
                            </div>
                            <a href="#">
                                <div class="img-content">
                                  <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                                </div>
                            </a>
                            <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                            <p class="ket-pr">Penerbit</p>
                            <p class="price"><i class="ico label-crown-2"></i> Rp 100.000</p>
                            <div class="row">
                              <div class="col-6 text-grey">
                                <span class="ico ico-heart"></span> 543
                              </div>
                              <div class="col-6 text-grey">
                                <span class="ico ico-todo"></span> 124
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="product-content">
                            <div class="label-edutest">
                              <i class="ico ico-edutest"></i>
                            </div>

                            <a href="#">
                                <div class="img-content">
                                  <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                                </div>
                            </a>
                            <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                            <p class="ket-pr">Penerbit</p>
                            <p class="price"><i class="ico label-crown-3"></i> Rp 100.000</p>
                            <div class="row">
                              <div class="col-6 text-grey">
                                <span class="ico ico-heart"></span> 543
                              </div>
                              <div class="col-6 text-grey">
                                <span class="ico ico-todo"></span> 124
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="product-content">
                            <div class="label-edutest">
                              <i class="ico ico-edutest"></i>
                            </div>

                            <a href="#">
                                <div class="img-content">
                                  <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                                </div>
                            </a>
                            <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                            <p class="ket-pr">Penerbit</p>
                            <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                            <div class="row">
                              <div class="col-6 text-grey">
                                <span class="ico ico-heart"></span> 543
                              </div>
                              <div class="col-6 text-grey">
                                <span class="ico ico-todo"></span> 124
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="product-content">
                            <div class="label-edutest">
                              <i class="ico ico-edutest"></i>
                            </div>

                            <a href="#">
                                <div class="img-content">
                                  <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                                </div>
                            </a>
                            <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                            <p class="ket-pr">Penerbit</p>
                            <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                            <div class="row">
                              <div class="col-6 text-grey">
                                <span class="ico ico-heart"></span> 543
                              </div>
                              <div class="col-6 text-grey">
                                <span class="ico ico-todo"></span> 124
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="product-content">
                            <div class="label-edutest">
                              <i class="ico ico-edutest"></i>
                            </div>

                            <a href="#">
                                <div class="img-content">
                                  <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                                </div>
                            </a>
                            <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                            <p class="ket-pr">Penerbit</p>
                            <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                            <div class="row">
                              <div class="col-6 text-grey">
                                <span class="ico ico-heart"></span> 543
                              </div>
                              <div class="col-6 text-grey">
                                <span class="ico ico-todo"></span> 124
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="product-content">
                            <div class="label-edutest">
                              <i class="ico ico-edutest"></i>
                            </div>

                            <a href="#">
                                <div class="img-content">
                                  <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                                </div>
                            </a>
                            <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                            <p class="ket-pr">Penerbit</p>
                            <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                            <div class="row">
                              <div class="col-6 text-grey">
                                <span class="ico ico-heart"></span> 543
                              </div>
                              <div class="col-6 text-grey">
                                <span class="ico ico-todo"></span> 124
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="product-content">
                            <div class="label-edutest">
                              <i class="ico ico-edutest"></i>
                            </div>

                            <a href="#">
                                <div class="img-content">
                                  <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                                </div>
                            </a>
                            <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                            <p class="ket-pr">Penerbit</p>
                            <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                            <div class="row">
                              <div class="col-6 text-grey">
                                <span class="ico ico-heart"></span> 543
                              </div>
                              <div class="col-6 text-grey">
                                <span class="ico ico-todo"></span> 124
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="product-content">
                            <div class="label-edutest">
                              <i class="ico ico-edutest"></i>
                            </div>

                            <a href="#">
                                <div class="img-content">
                                  <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                                </div>
                            </a>
                            <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                            <p class="ket-pr">Penerbit</p>
                            <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                            <div class="row">
                              <div class="col-6 text-grey">
                                <span class="ico ico-heart"></span> 543
                              </div>
                              <div class="col-6 text-grey">
                                <span class="ico ico-todo"></span> 124
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="product-content">
                            <div class="label-edutest">
                              <i class="ico ico-edutest"></i>
                            </div>

                            <a href="#">
                                <div class="img-content">
                                  <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                                </div>
                            </a>
                            <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                            <p class="ket-pr">Penerbit</p>
                            <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                            <div class="row">
                              <div class="col-6 text-grey">
                                <span class="ico ico-heart"></span> 543
                              </div>
                              <div class="col-6 text-grey">
                                <span class="ico ico-todo"></span> 124
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="product-content">
                            <div class="label-edutest">
                              <i class="ico ico-edutest"></i>
                            </div>

                            <a href="#">
                                <div class="img-content">
                                  <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                                </div>
                            </a>
                            <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                            <p class="ket-pr">Penerbit</p>
                            <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                            <div class="row">
                              <div class="col-6 text-grey">
                                <span class="ico ico-heart"></span> 543
                              </div>
                              <div class="col-6 text-grey">
                                <span class="ico ico-todo"></span> 124
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="product-content">
                            <div class="label-edutest">
                              <i class="ico ico-edutest"></i>
                            </div>

                            <a href="#">
                                <div class="img-content">
                                  <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                                </div>
                            </a>
                            <a href="#"><p class="title-prod">Kumpulan Soal & Pembahasan Siap UN/USB…</p></a>
                            <p class="ket-pr">Penerbit</p>
                            <p class="price"><i class="ico label-crown-1"></i> Rp 100.000</p>
                            <div class="row">
                              <div class="col-6 text-grey">
                                <span class="ico ico-heart"></span> 543
                              </div>
                              <div class="col-6 text-grey">
                                <span class="ico ico-todo"></span> 124
                              </div>
                            </div>
                        </div>
                      </div>

                    </div>
                    <div class="text-center text-grey mb-4">
                        Menampilkan 13-24 dari 102.376 hasil
                    </div>
                    <nav aria-label="Page navigation">
                      <ul class="pagination justify-content-center mb-4">
                        <li class="page-item"><a class="page-link" href="#"><i class="ico ico-prev-first"></i></a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="ico ico-page-prev"></i></a>
                        </li>
                        <!-- <li v-for="cntPages in ttlPages" :key="cntPages" class="page-item"><a class="page-link " href="#">{{cntPages}}</a></li> -->
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#"><i class="ico ico-page-next"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#"><i class="ico ico-next-last"></i></a></li>
                      </ul>
                    </nav>
                </div>
                <div class="tab-pane fade" id="eduplace" role="tabpanel" aria-labelledby="eduplace-tab">
                  <div class="label-404"><div>
                </div>
              </div>
            </div>

        </div>
      </div>
      <div class="adsd mt-4">
          <img src="~/assets/img/iklan2.png" class="img-fluid" alt="">
        </div>

    </div>
</div>
</div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
    layout: 'base-layout-4',
    data: () => ({
        metaImage: `master-tkd-cpns_1565858416.jpg`,
        loading: false,
        title: 'Result Search',
        searchWord: '',
        listSearchModule: [],
        ttlSearch: 0,
        pageNumber: 0,
        ttlPages: 0,
        isActivePaging: false,
        showingFromTo: '0-0',
        valFrom: 1,
        valTo: 12,
        limitShow: 12,
        pagePos: 1
    }),
    head () {
      return {
        title: this.title,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Hasil pencarian dari sebuah website edutore yang sangat detail sekali dalam menampilkan hasil pencarian yang sangat akurat' },
          { property: 'og:title', content: `Hasil pencarian "${this.$route.query.v !== undefined ? this.$route.query.v : 'tidak di temukan'}"` },
          { property: 'og:url', content: `https://edutore.com/hasil-pencarian`},
          { property: 'og:site_name', content: 'edutore.com' },
          { property: 'og:description', content: `Hasil pencarian "${this.$route.query.v !== undefined ? this.$route.query.v : 'tidak di temukan'}"` },
          { property: 'og:image', content: `${this.$store.state.setting.cdnBasePathModuleThumb}${this.metaImage}` },
        ],
        bodyAttrs: {
            class: 'bg-grey'
        }
      }
    },
    computed:{
      // metaImage(){
      //   return `${this.$store.state.setting.cdnBasePathModuleThumb}master-tkd-cpns_1565858416.jpg`
      // },
      firstBtnText(){
        return '<i class="ico ico-prev-first"></i>'
      },
      lastBtnText(){
        return '<i class="ico ico-next-last"></i>'
      },
      nextText(){
        return '<i class="ico ico-page-next"></i>'
      },
       prevText(){
        return '<i class="ico ico-page-prev"></i>'
      },
      pageCount(){
        let l = this.listData.length,
            s = this.size;
      return Math.floor(l/s);
      },
      resultSearch(){
        // console.log(this.$route.query.v)
        this.searchWord = this.$route.query.v
        if (this.searchWord !== ''){
          this.getSearchResult()
          this.title += ` #${this.$route.query.v}`
          return this.$route.query.v
        }
      }
    },
    methods: {
      // resultSearch(){
      //   // console.log(this.$route.query.v)
      //   this.searchWord = this.$route.query.v
      //   if (this.searchWord !== ''){
      //     this.getSearchResult()
      //     this.title += ` #${this.$route.query.v}`
      //   }
      // },
      goToModules(slug){
          // console.log(idx)
          this.$nuxt.$router.push('/modules/'+slug+'?type=0')
        },
      clickCallback (pageNum) {
        let result_search = this.$route.query.v
        this.$nuxt.$router.push('/hasil-pencarian/'+pageNum+'?v='+result_search)
        this.pagePos = parseInt(pageNum)
        // console.log(this.pagePos)
        if(process.client){
          window.scrollTo(0,0);
        }
        this.$store.dispatch('edutest/getResultSearch', {word: result_search, pages: pageNum})
        .then(result => {
          // console.log(result)
          if (result.success){
            this.listSearchModule = result.data.rows
            this.ttlSearch = result.data.count // Total Module
            this.ttlPages = Math.ceil(this.ttlSearch/this.limitShow) // Total Pages dan 4 adalah limit atau total yang di tambpilkan
            // console.log(this.ttlSearch % this.limitShow)
            if (this.ttlPages === pageNum){
                // console.log(this.ttlPages, pageNum)
                if (this.ttlSearch % this.limitShow !== 0){
                  //console.log('hello')
                  this.showingFromTo = this.valFrom+(this.limitShow*(pageNum-1)) +'-'+ (this.valTo+(this.limitShow*(pageNum-2))+(this.ttlSearch % this.limitShow))
                }else{
                  this.showingFromTo = this.valFrom+(this.limitShow*(pageNum-1)) +'-'+ (this.valTo+(this.limitShow*(pageNum-1)))
                }
            }else{
              // console.log(showingFromTo)
              this.showingFromTo = this.valFrom+(this.limitShow*(pageNum-1)) +'-'+ (this.valTo+(this.limitShow*(pageNum-1)))
              // console.log(showingFromTo)
            }

            // console.log(5 % 4)

            //  console.log(this.ttlSearch/3)
            // console.log(result)
            // console.log(this.$store.state.setting.cdnBasePathModuleThumb)
          }
        })
      },
      // pages(idx){
      //    window.scrollTo(0,0);
      //   //  console.log(idx)
      //    this.isActivePaging = true
      // },
      mImage(img){
        return this.$store.state.setting.cdnBasePathModuleThumb+img
      },
      getSearchResult(){
        let result_search = this.$route.query.v
        let pages = this.$route.params.page
        this.$store.dispatch('edutest/getResultSearch', {word: result_search, pages: pages})
        .then(result => {
          if (result.data.rows.length > 0){
            this.metaImage = result.data.rows[0].image
          }
          if (result.success){
            if (result.data.rows.length === 0) {
              this.showingFromTo = '0-0'
            }else{
              this.listSearchModule = result.data.rows
              this.ttlSearch = result.data.count
              this.ttlPages = Math.ceil(this.ttlSearch/this.limitShow)
              // console.log(this.ttlSearch)
              if (this.ttlSearch < this.valTo){
                this.showingFromTo = this.valFrom +'-'+ this.ttlSearch
              }else{
                this.showingFromTo = this.valFrom +'-'+ this.valTo
              }
              // console.log(result.data.rows);
            }
          }
        })
      }
    },
    created(){
      // console.log(this.$route.query.v)
      this.pagePos = parseInt(this.$route.params.page)
      // this.getSearchResult()
      // this.clickCallback(this.$route.params.page)
    }
}
</script>
