<template>
  <div class="mobile-view">
    <div class="container mt-4">
      <div class="row">
<!--        <div class="">-->
<!--          <img src="~/assets/img/langganan/banner-langganan.jpg" class="banner" alt="banner lebaran" style="width: 100%">-->
<!--        </div>-->
      </div>
      <div class="col col-rekomendasi">
        <div class="row">
          <h2>Koleksi Langganan Saya</h2>
        </div>
        <div v-if="mySubscriptions.length !== 0" class="row">
          <div v-for="(mySubs, index) in mySubscriptions" :key="index" v-if="!mySubs.isExpired" class="col-12 col-lg-3">
            <div class="box-langganan">
<!--              <h3><b>{{mySubs.duration}} Bulan</b></h3>-->
              <h6>{{mySubs.paket_langganan.package_name}}</h6>
              <hr />
              <div class="content" v-html="mySubs.paket_langganan.descriptions"></div>
              <hr />
                          <div class="expired-date2">Exp. Date : {{mySubs.expire_at}}</div>
<!--              <div class="price-carret">Rp. {{currencyFormat2(mySubs.basic_price, '')}}</div>-->
<!--              <div class="price">Rp. {{currencyFormat2(mySubs.sale_price, '')}}</div>-->
              <!--button @click="beliLangganan" class="btn btn-buy-langganan">Detail</button-->
              <nuxt-link :to="'/users/my-subscriptions/details/'+mySubs.id" class="btn btn-buy-langganan">Detail</nuxt-link>
<!--              <div class="text-center" style="width: 100%"><nuxt-link to="/terms">Syarat dan ketentuan</nuxt-link></div>-->
            </div>
          </div>
        </div>
<!--        <div v-else-if="sLoading" class="keranjang-kosong">-->
<!--          &lt;!&ndash; <img src="~/assets/img/keranjang-belanja.png" style="width: 30%"> &ndash;&gt;-->
<!--          <loader></loader>-->
<!--          <h6 class="mt-3">Loading...</h6>-->
<!--          &lt;!&ndash; <nuxt-link to="/edutest"><h6>Beli Buku Sekarang</h6></nuxt-link> &ndash;&gt;-->
<!--        </div>-->
        <div v-else class="keranjang-kosong">
          <img src="~/assets/img/keranjang-belanja.png" style="width: 30%">
          <h6 class="mt-3">Anda belum memiliki koleksi langganan buku. Silahkan pilih langganan yang ingin anda beli.</h6>
          <nuxt-link to="/langganan"><h6>Berlangganan Buku Sekarang</h6></nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import loader from '~/components/vue-content-loader.vue'
  export default {
    layout: 'base-layout-4',
    middleware: 'router-auth',
    components: {
      loader
    },
    data: () => ({
      mySubscriptions: [],
      sLoading: true,
      isExpired: ''
    }),
    async asyncData(context){
      if (context.store.state.auth.isLogin){
        // console.log(context.store.state.langganan.mySubs)
        if (context.store.state.langganan.mySubs === null){
          const setMySubscription = await context.$axios.get(`${process.env.API_URL}/my-subscriptions`, {headers : {'x-access-token': context.store.state.auth.user.token}})
          context.store.commit('langganan/setMySubscriptions', setMySubscription.data.data.rows)
          // console.log(setMySubscription.data)
          return {
            mySubscriptions : setMySubscription.data.data.rows
          }
        }else{
          return {
            mySubscriptions : context.store.state.langganan.mySubs
          }
        }
      }else{
        return {
          mySubscriptions : []
        }
      }
    },
    head () {
      return {
        title: 'Langganan Saya',
      }
    },
    created(){
      this.mySubscriptions.forEach((element, index) => {
        // console.log(element.expire_at)
        let now = this.$moment().format('YYYY-MM-DD')
        let m = this.$moment(new Date(this.mySubscriptions[index].expire_at)).format('YYYY-MM-DD')
        // let isafter = this.$moment(now).isAfter(m, 'day');
        this.mySubscriptions[index].isExpired = this.$moment(now).isAfter(m, 'day');
      })
      // let now = this.$moment().format('YYYY MM DD')
      // console.log(this.mySubscriptions[0].expire_at)
      // let m = this.$moment(new Date(this.mySubscriptions[0].expire_at)).format('YYYY MM DD')
      // let m = this.$moment(this.mySubscriptions[0].expire_at).format('YYYY MM DD')
      // let isafter = this.$moment(now).isAfter(m, 'day');
      // console.log(this.mySubscriptions); // true)
    },
    methods: {

    },
  }
</script>
