<template>
  <div class="container-fluid">
    <h1>Jenjang</h1>
  </div>
</template>

<script>
  require('~/plugins/jquery');
  const slugify = require('slugify')
  import { mapState } from 'vuex'

  export default {
    layout: 'belajar-gratis-layout',
    middleware: 'router-auth',
    head () {
      return {
        titleTemplate: 'Belajar Gratis Online dengan Aplikasi Edutore by Gramedia',
        meta: [
          { hid: 'description', name: 'description', content: 'Coba modul belajar gratis online dengan aplikasi Edutore by Gramedia. Ada soal SD,SMP,SMA,SBMPTN,CPNS hingga belajar TOEFL online gratis.' },
          { hid: 'keywords', name: 'keywords', content: 'Belajar Gratis Online dengan Aplikasi Edutore by Gramedia' },
          { hid: 'author', name: 'author', content: 'Edutore by Gramedia' },
          { hid: 'publisher', name: 'publisher', content: 'Edutore by Gramedia' }
        ],
        link: [
          { rel: 'stylesheet', href: 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type: 'text/css'},
          {
            rel: 'canonical',
            href: process.env.CANONICAL_URL + this.$route.path
          }
        ],
        script: [

        ],
      }
    },
    data: () => ({
      leftSideKelas: [],
      rightSideKelas: [],
      listCat: [],
      toggleText: false,
      isChangePage: false,
      breadcrumbs: [
        {
          url: process.env.BASE_URL,
          text: 'Belajar Gratis/matematika/kelas-6',
        },
        // {
        //   url: 'https://example.com/foo',
        //   text: 'foo',
        // },
        // {
        //   url: 'https://example.com/foo/bar',
        //   text: 'bar',
        // },
      ],
    }),
    jsonld() {
      const items = this.breadcrumbs.map((item, index) => ({
        '@type': 'ListItem',
        position: index + 1,
        item: {
          '@id': item.url,
          name: item.text,
        },
      }));
      return {
        '@context': 'http://schema.org',
        '@type': 'BreadcrumbList',
        itemListElement: items,
      };
    },
    async asyncData(context){

    },
    async fetch({store}){
      try {
        if (store.state.belajar_gratis.cacheKelas.length === 0){
          await store.dispatch('belajar_gratis/setKelas')
        }
      }
      catch (ex){
        console.log('error '+ex)
      }
    },
    async created(){
      try {
        // console.log(this.breadcrumbs)
        this.leftSideKelas = this.cacheKelas.leftSideKelas
        this.rightSideKelas = this.cacheKelas.rightSideKelas
      }
      catch (ex){
        console.log('error '+ex)
      }
    },
    computed: {
      ...mapState('belajar_gratis', {
        cacheKelas: state => state.cacheKelas,
      }),
    },
    methods: {
      async getSetMatkul(kelas){
        // console.log(this.$store.state.belajar_gratis.setListMatPel.some(x => x.kelas === kelas))
        if (!this.$store.state.belajar_gratis.setListMatPel.some(x => x.kelas === kelas) && !this.isChangePage){
          const getPaketSoal = await this.$axios.get(`paket-soal-trial?kelas=${kelas}`)
          let data = {
            kelas: kelas,
            matkul: Object.values(getPaketSoal.data.data.reduce((acc,cur)=>Object.assign(acc,{[cur.mata_pelajaran]:cur}),{})),
          }
          await this.$store.commit('belajar_gratis/setListMatPel', data)
        }

        // console.log(Object.values(getPaketSoal.data.data.reduce((acc,cur)=>Object.assign(acc,{[cur.mata_pelajaran]:cur}),{})))

        // return ['AGAMA ISLAM', 'IPA', 'IPS']
      },
      toogleText(){
        this.toggleText = !this.toggleText;
        // console.log('test')
      },
      removeDuplicateArray(arr){
        // console.log(arr)
        return Object.values(arr[0].data.reduce((acc,cur)=>Object.assign(acc,{[cur.mata_pelajaran]:cur}),{}))
        // return arr
      },
      goToKelas(kelasName, kelas, matpel){
        this.$store.commit('belajar_gratis/setRouteParams', {kelas: kelas, matpel: matpel, kelas_name:kelasName})
        this.$nuxt.$router.push('/belajar-gratis/'+slugify(`${matpel} ${kelasName.replace('/', ' ')} Kelas ${kelas}`, {lower: true}))
        // console.log('/belajar-gratis/'+slugify(`${matpel} ${kelasName.replace('/', ' ')} Kelas ${kelas}`, {lower: true}))
      },
      getModuleByKelas(kelas){
        const grouped = this.groupBy(this.listPaketSoalTrial, list => list.kelas)
        // console.log(grouped.get(kelas))
        return grouped.get(kelas)
      }
    },
  }
</script>

<style scoped>
  .toggle-text-button2 {
    color: #557cbf !important;
    cursor: pointer;
  }
  .pointer{
    cursor: pointer;
  }
  .p-mb-0{

  }
</style>
