<template>
  <!-- MODAL RESEND EMAIL -->
  <div>
  <div id="resend-email" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="login-popup" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="container h-100">
            <div class="row h-100 justify-content-center">
              <div class="col-sm-12 my-auto">
                <ValidationObserver v-slot="{ handleSubmit }">
                 <form @submit.prevent="handleSubmit(onSubmit)">
                  <ValidationProvider name="Email" rules="required|email" v-slot="{ errors }">
                    <div class="form-group">
                      <label for="resend-email-input">Resend Email</label>
                      <input name="resend-email-input" v-model="rEmail" ref="email" type="email" :class="{'req-validate': errors.length > 0, 'form-control': true}" id="resend-email-input" placeholder="">
                      <span class="merah">{{ errors[0] }}</span>
                    </div>
                  </ValidationProvider>
                   <div class="text-center">
                     <button type="submit" class="btn btn-primary btn-block">Resend</button>
                   </div>
                 </form>
                </ValidationObserver>

                <!-- <div class="login-container">
                    <div class="text-center">
                        Belum punya akun? Yuk <a @click="removeModal" href="javascript:void(0)" class="link-underline">daftar</a> sekarang!
                    </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
    export default {
        name: "resend-email",
        data: () => ({
          rEmail: ''
        }),
        methods: {
          async onSubmit() {
            this.resendEmail()
          },
          resendEmail(){
            // console.log(this.rEmail)
            this.$store.dispatch('auth/resendEmailVerif', this.rEmail)
              .then(result => {
                // console.log(result)
                if (result.success){
                  $('#resend-email').modal('hide');
                  // setTimeout(() => location.reload(), 2000)
                  // this.isLogin = true
                  this.$toast.success('Email sent to '+this.rEmail+'.');
                  //   this.userName = this.$store.getters['auth/user'].name
                  //   this.setMymodule()
                  // this.$router.push('/')
                } else {
                  this.$toast.show('Email belum terdaftar');
                }
              })
          }
        }
    }
</script>

<style scoped>

</style>
