<!--<template lang="html">-->


<!--</template>-->

<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
  let _atrk_opts = { atrk_acct:"9ZhKt1Y1Mn20Io", domain:"edutore.com",dynamic: true};
  (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript>
  <img src="https://certify.alexametrics.com/atrk.gif?account=9ZhKt1Y1Mn20Io" style="display:none" height="1" width="1" alt="" />
</noscript>
<!-- End Alexa Certify Javascript -->

