<template>
    <section class="sec-shop sec-tema">
    <div class='container'>
        <div class='row'>
            <div class="col-md-2">
                <!--div class="logo-edutest">
                        <img src="~/assets/img/test-logo.png" alt="edutest logo">
                </div-->
            </div>
            <div class='col-md-10'>
              <ul class="tema-reg ">
                <li class=""><nuxt-link to="/edutest?page=1">Galeri Tes</nuxt-link></li>
                <li>
                  <nuxt-link v-if="this.$store.state.auth.isLogin" to="/users/my-modules">Koleksi Saya</nuxt-link>
                  <a v-else @click="popupLogin" href="javascript:void(0)">Koleksi Saya</a>
                </li>
                <li>
                  <nuxt-link v-if="this.$store.state.auth.isLogin" to="/users/my-subscriptions">Langganan Saya</nuxt-link>
                  <a v-else @click="popupLogin" href="javascript:void(0)">Langganan Saya</a>
                </li>
                <li>
                    <nuxt-link to="/c/keranjang-belanja"><img src="~/assets/img/cart.png" alt="cart"></nuxt-link>
                    <div v-if="this.$store.state.cart.totalCart !== 0" class="count-notif">{{this.$store.state.cart.totalCart}}</div>
                </li>
<!--                <li>-->
<!--                  <a href="javascript:void(0)" @click="test"><img src="~/assets/img/history.png" alt="history"></a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="javascript:void(0)"><img src="~/assets/img/history.png" id="historyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="history"></a>-->
<!--                    &lt;!&ndash; <div class="count-notif">2</div> &ndash;&gt;-->
<!--                </li>-->
<!--                <li class="nav-item nav-top-item dropdown">-->
<!--                  <a class="nav-link" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    <img src="~/assets/img/history.png" alt="cart">-->
<!--                  </a>-->
<!--                  <div class="dropdown-menu dropdown-menu-right produk-drop dropdown-history" aria-labelledby="navbarDropdown">-->
<!--                    <div class="row">-->
<!--                      <div class="col-md-4">-->
<!--                        <nuxt-link to="/edutest/1"><img src="~/assets/img/edutest.png" class="img-fluid" alt="" style="margin: 15px"></nuxt-link>-->
<!--                        &lt;!&ndash; <img src="~/assets/img/edutest.png" class="img-fluid" alt="" style="margin: 15px"> &ndash;&gt;-->
<!--                        <p class="mb-1">-->
<!--                          Kumpulan latihan soal dari buku-buku pilihan Gramedia yang di seleksi dari penerbit-penerbit unggulan.-->
<!--                        </p>-->
<!--                        &lt;!&ndash; <a href="javascript:void(0)" class="link-underline">Selengkapnya</a> &ndash;&gt;-->
<!--                        <nuxt-link class="link-underline" to="/edutest/1">Selengkapnya</nuxt-link>-->
<!--                      </div>-->
<!--                      <div class="col-md-4">-->
<!--                        <a href="http://partner.edutore.com"><img src="~/assets/img/eduplace.png" class="img-fluid" alt="" style="margin: 15px"></a>-->
<!--                        &lt;!&ndash; <img src="~/assets/img/eduplace.png" class="img-fluid" alt="" style="margin: 15px"> &ndash;&gt;-->
<!--                        <p class="mb-1">-->
<!--                          Partner-partner unggulan pilihan Gramedia.-->
<!--                        </p>-->
<!--                        <a href="https://partner.edutore.com" class="link-underline" target="_blank">Selengkapnya</a>-->
<!--                      </div>-->

<!--                    </div>-->
<!--                  </div>-->
<!--                </li>-->
              </ul>
            </div>
        </div>
    </div>
</section>
</template>

<script>
export default {
    props: ['count'],
    data: () => ({
        countOrder: 0,
        // sharedState: this.$store.state
    }),
    computed:{
        countOrder2(){
            // console.log('hei')
        }
    },
    created(){
      // console.log()
    },
    mounted() {
        // this.$nextTick(() => {
        // // console.log('hellow')
        //
        // })
        // setTimeout(() => this.$nuxt.$loading.finish(), 5000)
        this.$store.dispatch('cart/getOrderModule')
        // console.log(this.$store.state.cart.totalCart)
        // this.countOrder = this.$store.getters['cart/totalCart']
        // this.$cookies.remove('module-order')
        // this.$cookies.get('module-order')
        // console.log(this.$store.state.cart.totalCart2)
        // console.log(this.count)
    },
    methods: {
      test(){
        this.$store.dispatch('langganan/setMySubscriptions')
      },
      popupLogin() {
        $('#login-popup').modal('show');
        //   console.log('hello')
        setTimeout(() => this.loginFocus(), 500)
      },
      loginFocus(){
        this.$refs.email.focus();
      },
        plus(){
          this.$store.commit('cart/updateTotalCart', 1)
          // this.countOrder += 1
        }
    },
}
</script>

<style scoped>
.dropdown-history{
  padding: 0px 0px 0px 40px;
}
</style>
