<template>
<div>
        <!-- Header + Navbar Header / Navbar Desktop -->
     <nav class="navbar navbar-expand-lg navbar-light bg-white is-desktop fixed-top" style="z-index: 998 !important; height: 86px;">
      <div class="container align-items-end">
        <!-- <a class="navbar-brand" href="javascript:void(0)"><img src="~/assets/img/logo-edustore.png" class="img-fluid" alt=""></a> -->
         <nuxt-link class="navbar-brand" to="/"><img src="~/assets/img/logo-beta-covidx.gif" class="img-fluid" alt="" style="width: 150px"></nuxt-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      <!-- <h1>{{mData}}</h1> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item nav-top-item">
            <a @click="toHome" class="nav-link " style="cursor: pointer;">Beranda</a>
<!--            <a @click="testx" class="nav-link " style="cursor: pointer;">Beranda</a>-->
<!--            <nuxt-link @click="test" :class="'nav-link '+isActiveTab" to="/">Beranda</nuxt-link>-->
          </li>
          <li class="nav-item nav-top-item">
            <nuxt-link class="nav-link" to="/langganan">Langganan</nuxt-link>
          </li>
          <li class="nav-item nav-top-item dropdown">
              <a class="nav-link" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Produk
              </a>
              <div class="dropdown-menu dropdown-menu-right produk-drop" aria-labelledby="navbarDropdown">
                    <div class="row">
                      <!-- <div v-for="(produk, index) in productHeader" :key="index" class="col-md-4">
                        <img src="~/assets/img/edutest.png" class="img-fluid" alt="">
                        <p class="mb-1">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget tellus sit amet neque
                        </p>
                        <a href="" class="link-underline">Selengkapnya</a>
                      </div> -->
                      <div class="col-md-4">
                          <nuxt-link to="/edutest"><img src="~/assets/img/edutest.png" class="img-fluid" alt="" style="margin: 15px"></nuxt-link>
                          <!-- <img src="~/assets/img/edutest.png" class="img-fluid" alt="" style="margin: 15px"> -->
                          <p class="mb-1">
                            Kumpulan latihan soal dari buku-buku pilihan Gramedia yang di seleksi dari penerbit-penerbit unggulan.
                          </p>
                          <!-- <a href="javascript:void(0)" class="link-underline">Selengkapnya</a> -->
                          <nuxt-link class="link-underline" to="/edutest">Selengkapnya</nuxt-link>
                      </div>
                      <div class="col-md-4">
                          <a href="http://partner.edutore.com"><img src="~/assets/img/eduplace.png" class="img-fluid" alt="" style="margin: 15px"></a>
                          <!-- <img src="~/assets/img/eduplace.png" class="img-fluid" alt="" style="margin: 15px"> -->
                          <p class="mb-1">
                            Partner-partner unggulan pilihan Gramedia.
                          </p>
                          <a href="https://partner.edutore.com" class="link-underline" target="_blank">Selengkapnya</a>
                      </div>
                      <div class="col-md-4">
                           <a href="https://edutore.com/news"><img src="~/assets/img/edutopics.png" class="img-fluid" alt="" style="margin: 15px"></a>
                          <!-- <img src="~/assets/img/edutopics.png" class="img-fluid" alt="" style="margin: 15px"> -->
                          <p class="mb-1">
                            Kumpulan informasi terpilih mengenai berbagai tips, beasiswa, fakta menarik, dan informasi lainnya.
                          </p>
                          <a href="https://edutore.com/news" class="link-underline" target="_blank">Selengkapnya</a>
                          <!-- <nuxt-link class="link-underline" href="http://news.edutore.com">Selengkapnya</nuxt-link> -->
                      </div>
                    </div>
              </div>
          </li>

          <!--li class="nav-item nav-top-item">
            <a class="nav-link" href="javascript:void(0)" @click="getMyModule">Langganan</a>
          </li-->
          <li v-if="!$store.state.auth.isLogin" class="nav-item nav-top-item">
            <!-- <nuxt-link class="nav-link" to="/login">Login</nuxt-link> -->
             <!-- <a class="nav-link" href="javascript:void(0)" @click="formLogin">Login</a> -->
             <a class="nav-link" href="javascript:void(0)" @click="popupLogin">Login</a>
          </li>
          <li v-else class="nav-item nav-top-item dropdown" v-bind:class="isDropDown === true ? 'show':'' ">
            <a class="nav-link" href="javascript:void(0)" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{$store.state.auth.user.name}}
            </a>
            <div class="dropdown-menu dropdown-menu-right text-center pb-2" v-bind:class="isDropDown === true ? 'show':'' " aria-labelledby="userDropdown">
              <div class="p-4">
                  <div class="nav-akun mb-3">
                      <!-- <img :src="'~/assets/img/Layer-21.png'" class="img-fluid" alt=""> -->

                      <img :src="$store.state.auth.user.photo" class="img-fluid" alt="">
                    </div>
                    <div class="text-center mb-3">
                        <p class="mb-0">{{$store.state.auth.user.name}}</p>
                        <small>Beginner</small>
                    </div>
                <nuxt-link class="btn btn-primary btn-sm btn-block" to="/users/my-modules">Lihat Akun Saya</nuxt-link>
                <nuxt-link class="btn btn-primary btn-sm btn-block" to="/users/profile">Ubah & Lihat Data Profil</nuxt-link>
                <nuxt-link class="btn btn-primary btn-sm btn-block" to="/users/history-order/modules">Histori Transaksi Modul</nuxt-link>
                <nuxt-link class="btn btn-primary btn-sm btn-block" to="/users/history-order/langganan">Histori Transaksi Langganan</nuxt-link>

              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" @click="logout" href="javascript:void(0)">Logout <i class="fas fa-sign-out-alt"></i></a>
            </div>
          </li>
          <!-- AREA SEARCH -->
          <li class="nav-item nav-top-item item-search pr-2" v-bind:class="icoItemSearch">
            <a class="nav-link" href="javascript:void(0)" id="search-btns" @click="btnSearch"><i class="fas fa-search"></i></a>
          </li>
          <li class="nav-item nav-top-item search-item" v-bind:class="isShow">
              <!-- <form action=""> -->
                  <div class="input-group search">
                    <div class="input-group-prepend">
                      <div class="search-icos">
                          <i class="fas fa-search"></i>
                      </div>
                    </div>
                    <input v-model="globalSearch" v-on:keyup="enterKeyPress" type="text" class="form-control" placeholder="Pencarian" aria-label="Pencarian" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <!-- <div class="dropdown">
                          <a class="btn btn-cate dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Semua Kategori
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="javascript:void(0)">Semua Kategori</a>
                            <a class="dropdown-item" href="javascript:void(0)">Penulis</a>
                            <a class="dropdown-item" href="javascript:void(0)">Sekolah</a>
                            <a class="dropdown-item" href="javascript:void(0)">Partner</a>
                            <a class="dropdown-item" href="javascript:void(0)">Modul</a>
                            <a class="dropdown-item" href="javascript:void(0)">Buku</a>
                            <a class="dropdown-item" href="javascript:void(0)">Video</a>
                          </div>
                        </div> -->
                        <button @click="goSearch" type="submit" class="btn-search"><i class="fas fa-arrow-right"></i></button>
                    </div>
                  </div>
              <!-- </form> -->
          </li>
          <!-- END AREA SEARCH -->
        </ul>
      </div>
      </div>
    </nav>
    <!-- Navbar Mobile -->
    <div class="is-mobile">
      <div class="container">
          <div class="row">
              <div class="col-4">
                  <nuxt-link class="" to="/"><img src="~/assets/img/logo-beta-covidx.gif" class="img-fluid" alt="" style="margin-top: 10px"></nuxt-link>
                <!-- <a class="navbar-brand" href="javascript:void(0)"><img src="~/assets/img/logo-edustore.png" class="img-fluid" alt=""></a> -->
              </div>
              <div class="col-6">
                <!-- <form action=""> -->
                <div class="input-group search" style="margin-top: 12px;">
                  <div class="input-group-prepend">
                    <div class="search-icos">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input v-model="globalSearch" v-on:keyup="enterKeyPress" type="text" class="form-control" placeholder="Pencarian" aria-label="Pencarian" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <!-- <div class="dropdown">
                      <a class="btn btn-cate dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Semua Kategori
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="javascript:void(0)">Semua Kategori</a>
                        <a class="dropdown-item" href="javascript:void(0)">Penulis</a>
                        <a class="dropdown-item" href="javascript:void(0)">Sekolah</a>
                        <a class="dropdown-item" href="javascript:void(0)">Partner</a>
                        <a class="dropdown-item" href="javascript:void(0)">Modul</a>
                        <a class="dropdown-item" href="javascript:void(0)">Buku</a>
                        <a class="dropdown-item" href="javascript:void(0)">Video</a>
                      </div>
                    </div> -->
                    <button @click="goSearch" type="submit" class="btn-search"><i class="fas fa-arrow-right"></i></button>
                  </div>
                </div>
                <!-- </form> -->
              </div>
              <div class="col-2">
                  <div @click="mobMenu" class="mobile-menu">
                      <div></div>
                      <div></div>
                      <div></div>
                  </div>
                  <div class="left-menu" :class="{'show': menuShow}" @click="leftMenuClick">
                      <span class="close-left"><i @click="miniClose" class="fas fa-times"></i></span>

                      <nuxt-link class="navbar-brand" to="/"><img src="~/assets/img/logo-edustore.png" class="img-fluid" alt=""></nuxt-link>
                      <ul class="nav flex-column">

                          <li class="nav-item">
                              <nuxt-link class="nav-link" to="/">Beranda</nuxt-link>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#product-modal">Produk</a>
                            <div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="row mt-4 text-center">
                                          <div class="col-md-4 mb-4">
                                            <div @click="icoEdutest">
                                            <nuxt-link to="/edutest"><img src="~/assets/img/edutest.png" class="img-fluid" alt="" style="margin: 15px"></nuxt-link>
                                            </div>
                                            <!-- <img src="~/assets/img/edutest.png" class="img-fluid" alt=""> -->
                                            <!-- <a @click="mobLogoEdu" href="javascript:void(0)"><img src="~/assets/img/edutest.png" class="img-fluid" alt=""></a> -->
                                            <p class="mb-1">
                                              Kumpulan latihan soal dari buku-buku pilihan Gramedia yang di seleksi dari penerbit-penerbit unggulan.
                                            </p>
                                            <a href="javascript:void(0)" class="link-underline" @click="mobSelengkapnya">Selengkapnya</a>
                                            <!-- <nuxt-link @click="mobSelengkapnya" class="link-underline" to="/edutest">Selengkapnya</nuxt-link> -->
                                          </div>
                                          <div class="col-md-4 mb-4">
                                              <a href="http://partner.edutore.com"><img src="~/assets/img/eduplace.png" class="img-fluid" alt="" style="margin: 15px"></a>
                                              <!-- <img src="~/assets/img/eduplace.png" class="img-fluid" alt=""> -->
                                              <p class="mb-1">
                                                Partner-partner unggulan pilihan Gramedia.
                                              </p>
                                              <a class="link-underline" href="http://partner.edutore.com">Selengkapnya</a>
                                            <!-- <nuxt-link class="link-underline" to="/http://partners.edutore.com">Selengkapnya</nuxt-link> -->
                                          </div>
                                          <div class="col-md-4 mb-4">
                                              <a href="https://edutore.com/news"><img src="~/assets/img/edutopics.png" class="img-fluid" alt="" style="margin: 15px"></a>
                                              <!-- <img src="~/assets/img/edutopics.png" class="img-fluid" alt=""> -->
                                              <p class="mb-1">
                                                Kumpulan informasi terpilih mengenai berbagai tips, beasiswa, fakta menarik, dan informasi lainnya.
                                              </p>
                                              <a class="link-underline" href="https://edutore.com/news">Selengkapnya</a>
                                            <!-- <nuxt-link class="link-underline" to="http://news.edutore.com">Selengkapnya</nuxt-link> -->
                                          </div>
                                        </div>
                                    </div>

                                  </div>
                                </div>
                              </div>
                          </li>

                          <li class="nav-item">
                            <nuxt-link class="nav-link" to="/langganan">Langganan</nuxt-link>
                          </li>
                        <li v-if="!$store.state.auth.isLogin" class="nav-item">
                          <a class="nav-link" href="javascript:void(0)" @click="popupLogin">Login</a>
                        </li>
                        <li v-else>
                          <nuxt-link class="nav-link" to="/users/my-modules">Akun Saya</nuxt-link>
                          <nuxt-link class="nav-link" to="/users/profile">Ubah & Lihat Data Profil</nuxt-link>
                          <a @click="logout" class="nav-link" href="javascript:void(0)">Logout</a>
                        </li>
                        </ul>
                  </div>
              </div>
            </div>
      </div>

      <!--div class="icon-bar">
        <a class="active" href="#"><i class="fa fa-home"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
        <a href="#"><i class="fa fa-envelope"></i></a>
        <a href="#"><i class="fa fa-globe"></i></a>
        <a href="#"><i class="fa fa-trash"></i></a>
      </div-->
    </div>
    <!-- MODAL LOGIN -->
     <div class="modal fade" id="login-popup" tabindex="-1" role="dialog" aria-labelledby="login-popup" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center">
                        <div class="col-sm-12 my-auto">

                            <div class="login-container ">
                              <no-ssr>
                              <ValidationObserver v-slot="{ handleSubmit }">
                                <form @submit.prevent="handleSubmit(onSubmit)">
  <!--                                    <div class="text-center hide-social-login">-->
  <!--                                      <button type="button" @click="google" class="btn btn-block btn-outline-secondary btn-login-socmed"><i class="fa fa-google" aria-hidden="true"></i> Masuk Menggunakan Google Akun</button>-->
  <!--                                    </div>-->
  <!--                                    <br>-->
  <!--                                    <div class="text-center hide-social-login">-->
  <!--                                      <button type="button" @click="facebook" class="btn btn-block btn-outline-primary btn-login-socmed"><span class="fa fa-facebook"></span> Masuk menggunakan Facebook</button>-->
  <!--                                    </div>-->
  <!--                              <br>-->
  <!--                              <hr class="hide-social-login">-->
  <!--                                    <div class="text-center text-blue">-->
  <!--                                     - Atau masuk dengan email - -->
  <!--                                    </div>-->
  <!--                                    <ValidationProvider name="Email" rules="required|email" v-slot="{ errors }">-->
  <!--                                      <div class="form-group">-->
  <!--                                        <label for="email">Email</label>-->
  <!--                                        <input v-model="userRegister.email" type="email"  :class="{'req-validate': errors.length > 0, 'form-control': true}" id="email" placeholder="">-->
  <!--                                        <span class="merah">{{ errors[0] }}</span>-->
  <!--                                      </div>-->
  <!--                                    </ValidationProvider>-->
                                      <ValidationProvider name="Email" rules="email" v-slot="{ errors }">
                                        <div class="form-group">
                                          <label for="email-sign-in">Email</label>
                                          <input @keyup="onEnterPress" name="email-sign-in" v-model="userLogin.email" ref="email" type="email" :class="{'req-validate': errors.length > 0, 'form-control': true}" id="email-sign-in" placeholder="">
                                          <!-- <span><small v-show="errors.has('email')" class="text-red"></small></span> -->
                                          <span class="merah">{{ errors[0] }}</span>
                                        </div>
                                      </ValidationProvider>
                                      <ValidationProvider name="Password" rules="required|min:5" v-slot="{ errors }">
                                        <div class="form-group">
                                          <label for="password-sign-in">Password</label>
                                          <input @keyup="onEnterPress" name="password-sign-in" v-model="userLogin.password" :type="[togglePass ? 'text' : 'password']"  :class="{'req-validate': errors.length > 0, 'form-control': true}" id="password-sign-in" placeholder="">
                                          <span @click="toggleShowPass" :class="[togglePass ? 'fa fa-fw fa-eye field-icon toggle-password': 'fa fa-fw fa-eye-slash field-icon toggle-password']"></span>
                                          <span class="merah">{{ errors[0] }}</span>
                                        </div>
                                      </ValidationProvider>

                                      <div class="form-group">
                                          <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                                              <label class="custom-control-label" for="customCheck1">Ingat saya</label>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <button type="submit" class="btn btn-primary btn-block">MASUK</button>
                                      </div>
                                </form>
                              </ValidationObserver>
                              </no-ssr>
                                    <div class="text-center">
                                        Kesulitan login ? Silahkan <a href="javascript:;" @click="forgetPass" class="link-underline">ganti kata sandi anda.</a>
                                    </div>
<!--                                    <br>-->
<!--                                    <div class="text-center">-->
<!--                                        <button type="button" @click="google" class="btn btn-block btn-outline-secondary btn-login-socmed"><i class="fa fa-google" aria-hidden="true"></i> Masuk Menggunakan Google Akun</button>-->
<!--                                    </div>-->
<!--                                    <br>-->
<!--                                    <div class="text-center">-->
<!--                                        <button type="button" @click="facebook" class="btn btn-block btn-outline-primary btn-login-socmed"><span class="fa fa-facebook"></span> Masuk menggunakan Facebook</button>-->
<!--                                    </div>-->
                                <!-- </form> -->
                            </div>

                            <div class="login-container">
                                <div class="text-center">
                                    Belum punya akun? Yuk <a @click="removeModal" href="javascript:;" class="link-underline">daftar</a> sekarang!
                                    <!-- Belum punya akun? Yuk <nuxt-link @click="removeModal" class="link-underline" to="/signup">daftar</nuxt-link> sekarang! -->
                                </div>
                              <hr>
                              <div class="text-center">
                                Sudah daftar tapi belum dapet email? Resend email <a @click="resendEmail" href="javascript:void(0)" class="link-underline">disini</a> sekarang!
                                <!-- Belum punya akun? Yuk <nuxt-link @click="removeModal" class="link-underline" to="/signup">daftar</nuxt-link> sekarang! -->
                              </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
<!-- MODAL RESET PASSWORD -->
    <div id="forget-password" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="login-popup" aria-hidden="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container h-100">
                        <div class="row h-100 justify-content-center">
                            <div class="col-sm-12 my-auto">
                                <div>
                                    <!-- <form class="" action="index.html" method="post"> -->

                                        <div class="form-group">
                                            <label for="">Email</label>
                                            <input v-model="resetPass.email" type="text" class="form-control" placeholder="">
                                        </div>
                                        <!-- <div class="form-group">
                                            <label for="">Password</label>
                                            <input v-model="userLogin.password" type="password" class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Ingat saya</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button @click="submitLogin" type="submit" class="btn btn-primary btn-block">MASUK</button>
                                        </div>
                                        <div class="text-center">
                                            <a href="javascript:void(0)" class="link-underline">Lupa kata sandi?</a>
                                        </div>
                                        <br>
                                        <div class="text-center">
                                            <button type="button" @click="google" class="btn btn-block btn-outline-secondary btn-login-socmed"><i class="fa fa-google" aria-hidden="true"></i> Masuk Menggunakan Google Akun</button>
                                        </div>
                                        <br>
                                        <div class="text-center">
                                            <button type="button" @click="facebook" class="btn btn-block btn-outline-primary btn-login-socmed"><span class="fa fa-facebook"></span> Masuk menggunakan Facebook</button><button type="submit" @click="buyModules" class="btn btn-primary btn-block">Beli</button>
                                        </div> -->
                                    <!-- </form> -->
                                        <div class="text-center">
                                        <button type="submit" @click="resetPassword" class="btn btn-primary btn-block">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <modal-resend-email></modal-resend-email>
</div>
</template>

<script>
import modalResendEmail from '~/components/modal-component/resend-email.vue'
import firebase, {auth} from '~/services/fireinit'
import eduLoader from '~/components/loader/base_loader.vue'
import { mapState } from 'vuex'

export default {
    //props: ['isActiveTabs'],
    components: {
      modalResendEmail
    },
    data: () => ({
        loader: null,
        togglePass: false,
        globalSearch: '',
        //isActiveTabs: '',
        menuShow: false,
        isDropDown: false,
        isShow: '',
        icoItemSearch: '',
        loading: false,
        productHeader: 'null',
        project: 'default',
        userName: 'Budi Budiman',
        // photo: 'https://lh3.googleusercontent.com/-_hmRqWiJFl4/AAAAAAAAAAI/AAAAAAAAAuY/quRSj25CV4c/photo.jpg',
        photo: '~/assets/img/Layer-21.png',
        isLogin: false,
         userLogin: {
            email: '',
            password: '',
        },
         resetPass: {
            email: '',
        }
    }),
    watch : {
      loadingState(v){
        if (v){
          this.setLoader()
        }else{
         this.loader !== null ?  this.loader.hide() : ''
        }
        // console.log('value change', v)
      },
    },
    mounted () {
      // this.setLoader()
        this.isActiveTabs = this.$store.getters['home/isTabActive']
        this.getProductHeader()
        this.$store.dispatch('riwayat/getProduct')
    },
    // beforeMount() {
    //     this.checkLogin()
    // },
    updated () {
      //console.log('hei')
      // console.log(this.$store.getters['home/isTabActive'])
      if (!this.$store.getters['auth/isLogin'] && this.$route.path === '/users/profile'){
        this.$nuxt.$router.push('/')
      }
      // console.log(this.isActiveTabs)
    },
    computed: {
        ...mapState('loading', {
          loadingState: state => state.loadingState,
        }),
        count(){
          return this.$store.getters['riwayat/count']
        },
        isActiveTab(){
          console.log('activate')
        },
        loginReq(){
            // if (this.userLogin.email > 3 && )
            return ''
        },
        loginBtnDisabled(){

        }
    },
    methods: {
      async onSubmit() {
        this.submitLogin()
        // console.log('tester')
      },
      setLoader(){
        this.loader = this.$loading.show({
            // Optional parameters
            // container: this.fullPage ? null : this.$refs.baselayout,
            container: this.$refs.baselayout,
            // container: null,
            canCancel: false,
            onCancel: this.onCancel,
            transition: 'fade',
            // isFullPage: false,
            // opacity: 0.8
          },{
            // Pass slots by their names
            default: this.$createElement(eduLoader),
          }
        );
      },
      testx(){
        try{
          this.$store.commit('loading/testStateWatcher')
          console.log(this.$store.state.loading)
          // this.loader.hide()
        }
        catch (x){
          // console.log(x)
        }

      },
      onEnterPress(e) {
        try {
          if (e.keyCode === 13) {
            // this.handleSubmit( this.submitLogin())
            // alert('Enter was pressed');
            // this.submitLogin()
          } else if (e.keyCode === 50) {
            // alert('@ was pressed');
          }else{
            // console.log('another key pressed')
          }
          // this.log += e.key;
        }
        catch (ex){
          console.log(ex)
        }
      },
      leftMenuClick(){
        // console.log('hiya')
        this.mobMenu()
      },
      toHome(){
        // console.log('aloha')
        this.$nuxt.$router.push('/')
      },
      toggleShowPass(){
        if (this.togglePass){
          this.togglePass = false;
        }else{
          this.togglePass = true;
        }
        // console.log('hello toggle')
      },
      validateBeforeSubmit(e) {
          // this.$validator.validateAll().then(x => {
          //     // console.log(x)
          // }).catch(e => {
          //     // console.log(e)
          // })
      },
      enterKeyPress: function(e) {
          if (e.keyCode === 13) {
              // alert('Enter was pressed');
              if (this.globalSearch !== ''){
                  this.goSearch()
              }
          } else if (e.keyCode === 50) {
              alert('@ was pressed');
          }
          // this.log += e.key;
      },
      goSearch(){
          // console.log(this.globalSearch)
          if (this.globalSearch === '##devmode##'){
            this.$nuxt.$router.push('/enter-developer-mode')
          }else{
            this.$store.commit('edutest/setSearchWord', this.globalSearch)
            this.$nuxt.$router.push('/hasil-pencarian/1?v='+this.globalSearch)
          }

          // console.log(this.$store.state.edutest.searchWord)
          // console.log('go search')
      },
      resetPassword(){
          // console.log('button reset')
          this.$store.dispatch('auth/resetPassword', this.resetPass.email)
          .then(result => {
              // console.log(result)
              if (result.success){
              $('#forget-password').modal('hide');
              // setTimeout(() => location.reload(), 2000)
              // this.isLogin = true
              this.$toast.success('Email sent to '+this.resetPass.email+'.');
              //   this.userName = this.$store.getters['auth/user'].name
              //   this.setMymodule()
                  // this.$router.push('/')
              } else {
                  this.$toast.show('Failed sent email..');
              }
          })
      },
      forgetPass(){
          $('#forget-password').modal('show')
          $('#login-popup').modal('hide')
          // console.log('forget password')
          // this.$refs.email.focus();
      },
      resendEmail(){
        $('#resend-email').modal('show')
        $('#login-popup').modal('hide')
        // console.log('forget password')
        // this.$refs.email.focus();
      },
      loginFocus(){
          this.$refs.email.focus();
      },
      icoEdutest(){
          $('#product-modal').modal('hide')
      },
      mobLogoEdu(){
          // console.log('logo edu')
      },
      mobSelengkapnya(){
          $('#product-modal').modal('hide')
          this.$nuxt.$router.push('/edutest')
          // this.mobMenu = false
          // console.log('mobselengkapnya')
      },
      miniClose() {
        this.menuShow = true
      },
      mobMenu(){
          if (this.menuShow){
              this.menuShow = false
          } else {
              this.menuShow = true
          }
        //   console.log(this.menuShow)

      },
      async google() {
    //     await this.$auth.loginWith('google').catch(e => {
    //     this.$toast.show('Error', {icon: "fingerprint"});
    //   })
        this.$store.dispatch('auth/signInWithGoogle')
        .then(() => {
            // location.reload()
            this.setMyModule()
            this.loadMySubs()
            this.$toast.show('Successfully Logged In with Google');
            $('#login-popup').modal('hide');
            // setTimeout(() => location.reload(), 2000)
        })
        .catch((e) => {
            console.log(e.message)
        })

      },
      async facebook() {
        this.$store.dispatch('auth/signInWithFacebook')
                .then((result) => {
                    this.setMyModule()
                    this.loadMySubs()
                    this.$toast.success('Successfully Logged In with Facebook');
                    $('#login-popup').modal('hide');

                    // console.log(this.$store.getters['auth/user'])
                    // this.userName = this.$store.getters['auth/user'].name
                    // this.photo = this.$store.getters['auth/user'].photo

                    setTimeout(() => location.reload(), 2000)
                })
                .catch((e) => {
                    console.log(e.message)
                })
    //       try {
    //     await auth.signInWithPopup(new firebase.auth.FacebookAuthProvider())
    //     console.log('Finished Facebook login')
    //     return location.reload()
    //   } catch (err) {
    //     alert(err)
    //   }

    //      await this.$auth.loginWith('facebook').catch(e => {
    //     this.$toast.show('Error', {icon: "fingerprint"});
    //   })
        // console.log('login facebook')
      },
      check() {
        // console.log(this.$auth.loggedIn)
      },
      logout2() {
        this.$toast.show('Logging out...', {icon: "fingerprint"});
        this.$auth.logout()
      },
      async initUser(){
        this.$store.commit('loading/startLoadingState')
        if (this.$store.state.langganan.mySubs === null && this.$store.state.auth.isLogin){
          await this.$store.dispatch('langganan/setMySubscriptions')
        }
        // LOAD LIST ALL MY MODULE SUBS
        if (this.$store.state.langganan.myListModuleSubs === null&& this.$store.state.auth.isLogin){
          let mySubs = this.$store.state.langganan.mySubs
          for (let index = 0; index < mySubs.length; index++) {
            await this.$store.dispatch('langganan/getMyModuleSubscriptions', mySubs[index].id)
          }
        }
        if (this.$store.state.edutest.myModule === null && this.$store.state.auth.isLogin){
          await this.$store.dispatch('edutest/setMyModule')
        }
        this.$store.commit('loading/stopLoadingState', 'login')
      },
      async submitLogin () {
        this.$store.dispatch('auth/login', this.userLogin)
        .then(result => {
            // console.log(result)
            if (this.$store.getters['auth/isLogin']){
            $('#login-popup').modal('hide');
            // this.loadMySubs()
            // this.setLoader()
            this.initUser()
            // this.loadingMode('logging in', true)
            // setTimeout(() => location.reload(), 2000)
            this.isLogin = true;
            this.$toast.success('Successfully Logged In');
            } else {
                this.$toast.show('Login failed or user not found');
            }
        })
        },
      checkLogin(){
        this.$store.dispatch('auth/checkLogin')
        console.log(this.$store.state.auth.user.name)
          this.userName = this.$store.state.auth.user.name
          this.photo =this.$store.state.auth.user.photo
      },
      logout () {
          this.$store.dispatch('auth/logout', 20)
          this.$store.commit('langganan/clearMyListSubs')
          this.$store.commit('edutest/clearMyModules')
          this.isLogin = false
          // this.$router.go()
          setTimeout(() => location.reload(), 2000)
          this.$toast.show('Logging out...');
      },
      formLogin () {
        this.$router.push('login')
      },
      popupLogin() {
        $('#login-popup').modal('show');

      //   console.log('hello')
        setTimeout(() => this.loginFocus(), 500)
      },
      pressed () {
          // alert('this is langganan')
          this.$store.dispatch('riwayat/increment', 20)
      },
      async getProductHeader() {
          // const ip = await this.$axios.$get('api/main-products')
          // this.productHeader = ip.data.rows
          // console.log(this.product)
      },
      btnSearch() {
          // console.log("helo")
          this.isShow = 'show'
          this.icoItemSearch = 'show'
          // $('.search-item').addClass('show');
          // $('.item-search').toggleClass('show');
          },
      areaHeader () {
              if (this.isShow === 'show') {
              }
          },
      removeModal() {
          // console.log('modal removed')
          $('#login-popup').modal('hide');
          setTimeout(() => this.$nuxt.$router.push('/signup'), 1000)
      },
      setMyModule(){
          this.$store.dispatch('edutest/setMyModule')
      },
      getMyModule(){
            // this.$store.dispatch('edutest/setMyModule')
            // console.log(this.$store.getters['edutest/myModule'])
            // console.log(this.$cookies.get('my-module'))
        }
    },
    beforeDestroy() {
      $('#login-popup').modal('hide');
    }
}
</script>

<style scoped>

</style>


