<template lang="html">
  <!-- Modal Keluar-->
  <div class="modal" :id="'modal-dasar-teori'+idx">
    <div class="modal-dialog modal-lg">
      <div class="modal-content custom-dialog">
        <!-- Modal body -->
        <div class="modal-body modal-pause">
          <div v-html="teori">
<!--                        <h6>Pemberitahuan!</h6>-->
            <!--            <p>Anda belum membeli module ini, silahkan lakukan pembelian terlebih dahulu</p>-->
            <!--            <button type="submit" data-dismiss="modal" class="btn btn-info">Keluar</button>-->
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Modal Pause-->
</template>

<script>
export default {
  props: ['teori', 'idx'],
  data: () => ({
    loading: false
  }),
  mounted(){
    // console.log(this.teori)
    // console.log(this.idx)
  },
  methods: {

  }
}
</script>

<style scoped>
  .custom-dialog{
    overflow: auto;
    height: 600px;
  }
</style>
