<template>
        <div>
                <img src="~/assets/img/edu-wink-3.gif" class="img-fluid" v-bind:class="sClass" alt="">
        </div>
</template>

<script>
export default {
        props: ['sHeight'],
        data: () => ({
                sClass: ''
        }),
        methods: {

        },
        mounted(){
                if (this.sHeight === 100){
                        this.sClass = 's-height'
                        // console.log(this.sHeight)
                }
                
        }
}
</script>

<style scoped>
.s-height{
        height: 100px
}
</style>



