<template>
    <div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-6 col-lg-3 col-md-12 text-blue text-18">
          <a @click="showModalLaporan"><i class="ico ico-report-soal"></i></a>
          <a @click="pauseState"><i data-toggle="modal" data-target="#modalPause" class="ico ico-timer"></i></a>
          {{houLabel}}:{{minLabel}}:{{secLabel}}
          <!-- <span v-countUp="{ startValue: 0.35, endValue: 120.95, options: { duration: 1, decimals: 2 } }"></span> -->
        </div>
        <div class="score-show-mobile col-6 col-lg-1 text-blue text-right text-18">
          <div>
            {{zeroFill}}
          </div>
          <div :class="'tGreen '+classScore">
            +{{scoreUp}}
          </div>
        </div>
        <div class="col-12 col-lg-7">
          <div class="progress progress-grad">
            <div class="progress-bar" role="progressbar" :style="'width: '+calcPercenPage+'%'" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="text-center text-blue mt-1">{{questAnswered}}/{{this.listQuestion.length}}</div>
        </div>
        <div class="score-hide-mobile col-6 col-lg-2 text-blue text-right text-18">
          <div>
            {{zeroFill}}
          </div>
          <div :class="'tGreen '+classScore">
            +{{scoreUp}}
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col">
            <div class="soal-contain">
              <div class="div-test-question">
                <div v-if="listQuestion[qIndex+numQuest].gambar === undefined"></div>
                <div v-else-if="listQuestion[qIndex+numQuest].gambar === null">
<!--                  <img :src="$store.getters['setting/cdnBasePathQuestion']+listQuestion[qIndex+numQuest].gambar" class="img-fluid" alt="">-->
                  <p v-html="listQuestion[qIndex+numQuest].pertanyaan"></p>
                  <!-- <p>{{listQuestion[qIndex].gambar.length}}</p> -->
                </div>
                <div v-else-if="listQuestion[qIndex+numQuest].gambar !== '' && listQuestion[qIndex+numQuest].pertanyaan !== null">
                     <img :src="$store.getters['setting/cdnBasePathQuestion']+listQuestion[qIndex+numQuest].gambar" class="img-fluid" alt="">
                     <p v-html="listQuestion[qIndex+numQuest].pertanyaan"></p>
                     <!-- <p>{{listQuestion[qIndex].gambar.length}}</p> -->
                </div>
                <div v-else>
                      <p v-if="listQuestion[qIndex+numQuest].pertanyaan !== null" v-html="listQuestion[qIndex+numQuest].pertanyaan"></p>
                      <p v-else>
                      <img :src="$store.getters['setting/cdnBasePathQuestion']+listQuestion[qIndex+numQuest].gambar" class="img-fluid" alt="">
                      </p>
                  </div>
                <!-- <p v-if="listQuestion[qIndex].pertanyaan !== null" v-html="listQuestion[qIndex].pertanyaan"></p>
                <p v-else>
                     <img :src="$store.getters['setting/cdnBasePathQuestion']+listQuestion[qIndex].gambar" class="img-fluid" alt="">
                </p> -->
                <div v-for="(choice, index) in this.listQuestion[qIndex+numQuest].jawabans" :key=index :class="'answer '+disableClass">
                  <div class="choices"> 
                  <span @click="answer(choice, listAbjad(index))" class="lst-ans">{{listAbjad(index)}}<span :class="choice.done"></span>
                  </span>
                  </div>
                  <!-- hello -->
                  <!-- <p> hello</p> -->
                  <div class="choices-text">
                  <!-- {{cdnBasePathChoice+choic  e.gambar}} -->
                    <span @click="answer(choice, listAbjad(index))">
                    <div v-if="choice.isi === null">
                       <img :src="$store.getters['setting/cdnBasePathChoice']+choice.gambar" class="img-fluid" alt="">
                    </div>
                    <div v-else-if="choice.isi !== null && choice.gambar !== null">
                      <img :src="$store.getters['setting/cdnBasePathChoice']+choice.gambar" class="img-fluid" alt="">
                    </div>
                   <div v-else v-html="choice.isi">
                    <!-- {{htmlEntitiesConverter(clearHtmlTags(choice.isi))}} -->
                     </div>
                    </span>
                  </div>

                </div>
                <!-- <div class="answer"><span @click="answer('A')" class="lst-ans">A<span class="ico salah"></span></span> 62 dB</div>
                <div class="answer"><span @click="answer('B')" class="lst-ans">B<span class="ico benar"></span></span> 80 dB</div>
                <div class="answer"><span @click="answer('C')" class="lst-ans">C<span class="ico salah"></span></span> 82 dB</div>
                <div class="answer"><span @click="answer('D')" class="lst-ans">D<span class="ico salah"></span></span> 100 dB</div>
                <div class="answer"><span @click="answer('E')" class="lst-ans">E<span class="ico salah"></span></span> 180 dB</div> -->
              </div>
              <a href="javascript:void(0)" @click="nextQuest" :hidden="hiddenNext === 1 ? true : false" ><div class="ico quiz-next"></div></a>
              <a href="javascript:void(0)" @click="prevQuest" :hidden="hiddenPrev === 1 ? true : false"><div class="ico quiz-prev"></div></a>
              <!-- <button class="btn btn-primary quiz-end" :hidden="hiddenEnd == 1 ? true : false" @click="testFinished">Akhiri Sesi</button> -->
              <a href="javascript:void(0)" @click="testFinished()" :hidden="hiddenEnd == 1 ? true : false" class="btn btn-primary quiz-end">Akhiri Sesi</a>
              <a href="javascript:void(0)" @click="loncatKeSoalKosong()" :hidden="hiddenEnd == 1 ? true : false" class="btn btn-primary back-to-notyet-answered-quest">Belum Dikerjakan</a>
            </div>
        </div>

        
        
      </div>
    </div>
    <!--div class="user-prop">
      <img src="~/assets/img/foto-bi.png" class="img-fluid" alt="">
    </div-->
   

    <!-- <div class="text-right">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#benar">Modal jawaban benar</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#salah">Modal jawaban salah</button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#pembahasan">Modal pembahasan</button>
    </div> -->

    <!-- Modal Benar -->
    <div @blur="testBlur" class="modal fade"  id="benar" tabindex="-1" role="dialog" aria-labelledby="benar" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-benar">
          <div class="modal-body">
            <div class="bernas mb-3">
              <img src="~/assets/img/yes-benar.png" class="img-fluid" width=217px; alt="">
            </div>
              <a href="javascript:void(0)" @click="pembahasan()" class="btn btn-primary">Pembahasan</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal salah -->
    <div @blur="testBlur" class="modal fade"  id="salah" tabindex="-1" role="dialog" aria-labelledby="salah" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-salah">
          <div class="modal-body">
            <div class="bernas mb-3">
              <img src="~/assets/img/salah-jangan.png" class="img-fluid" width=217px; alt="">
            </div>
              <a href="javascript:void(0)"  @click="pembahasan()" class="btn btn-primary">Pembahasan</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal pembahasan -->
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="pembahasan" tabindex="-1" role="dialog" aria-labelledby="pembahasan" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <a href="javascript:void(0)" @click="closeAllmodal()" class="btn btn-primary"><i class="fas fa-chevron-left "></i> Kembali ke Soal</a>
            <hr>
            <div>
              <p v-if="listQuestion[qIndex+numQuest].pembahasan.isi === undefined"></p>
              <div v-else-if="listQuestion[qIndex+numQuest].pembahasan.gambar !== null && listQuestion[qIndex+numQuest].pembahasan.isi !== null" >
                  <p v-html="listQuestion[qIndex+numQuest].pembahasan.isi"></p>
                    <img v-if="listQuestion[qIndex+numQuest].pembahasan.gambar !== ''" :src="$store.getters['setting/cdnBasePathDiscussion']+listQuestion[qIndex+numQuest].pembahasan.gambar" class="img-fluid" alt="">
              </div>
              <p v-else-if="listQuestion[qIndex+numQuest].pembahasan.gambar === null || listQuestion[qIndex+numQuest].pembahasan.gambar === ''" v-html="listQuestion[qIndex+numQuest].pembahasan.isi"></p>
              <p v-else>
                <img :src="$store.getters['setting/cdnBasePathDiscussion']+listQuestion[qIndex+numQuest].pembahasan.gambar" class="img-fluid" alt="gambar pembahasan">
              </p>
              <!-- <p v-if="listQuestion[qIndex].pembahasan.isi === null" v-html="listQuestion[qIndex].pembahasan"></p> -->
              <!-- <p v-html="listQuestion[qIndex].pembahasan.isi"></p> -->
              <p class="mt-3"><b>Jawaban : {{correctAnswer}}</b> </p> 
            </div>
            <!-- {{listQuestion[qIndex].pembahasan.isi}} -->
            <!-- <p class="mb-0">Gunakan persamaan:</p>
            <p class="mb-0">TIn = TI1 + 10 log n</p>
            <p class="mb-0">TI00 = 60 dB + 10 log 1001</p>
            <p class="mb-0">TI100 = 60 dB + 10 . 2 dB</p>
            <p class="mb-0">TI 100 = 80 dB</p>
            <p class="mt-3"><b>Jawaban: B</b> </p>   -->
           
          </div>
        </div>
      </div>
    </div> 
    <!-- Modal Finish -->
    <!-- Modal Pause-->
      <div class="modal" data-backdrop="static" data-keyboard="false" id="modalPause">
        <div class="modal-dialog">
          <div class="modal-content" style="background: transparent !important;">

            <!-- Modal body -->
            <div class="modal-body modal-pause">
              <img src="~/assets/img/wasit-stopwatch.png">
              <br>
              <div class="">
                <button @click="pauseState()" class="btn btn-info btn-pause" data-dismiss="modal">Lanjut</button>
                <button class="btn btn-light btn-pause" @click="showModalKeluar()">Menyerah</button>
              </div>
              <br>
<!--              <a href="javascript:void(0)" @click="showModalLaporan()">Laporkan soal test</a>-->
            </div>

          </div>
        </div>
      </div>
    <!-- End Modal Pause-->
      <!-- Modal Laporan-->
      <div class="modal" id="modalLaporkan">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h6>Apa alasanmu melaporkan soal tes ini?</h6>
            </div>
            <!-- Modal body -->
            <div class="modal-body modal-pause">
              <div class="form-group" style="text-align: left">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="customCheck1" @change="rbLain2($event)" v-model="rbReport" value="Soal ini mengandung unsur SARA">
                  <label class="custom-control-label" for="customCheck1">Soal ini mengandung unsur SARA</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="customCheck2" @change="rbLain2($event)" v-model="rbReport" value="Soal ini tidak sesuai dengan etika bahasa indonesia yang baik dan benar">
                  <label class="custom-control-label" for="customCheck2">Soal ini tidak sesuai dengan etika bahasa indonesia yang baik dan benar</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="customCheck3" @change="rbLain2($event)" v-model="rbReport" value="Jawaban tidak ada yang benar">
                  <label class="custom-control-label" for="customCheck3">Jawaban tidak ada yang benar</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="customCheck4" @change="rbLain2($event)" v-model="rbReport" value="Lain - lain">
                  <label class="custom-control-label" for="customCheck4">Lain - lain</label>
                </div>
                <div class="custom-control custom-radio">
                  <input :disabled="isLain2" type="text" name="voucher" v-model="inputLain2" :class="{'form-control': true}" v-validate="'required'">
                </div>
              </div>
              <div class="form-group">
                <button @click="laporkanSoal" type="submit" class="btn btn-primary btn-block">Laporkan</button>
                <span :hidden="boolLaporkan" class="text-red">Pilih alasan terlebih dahulu</span>
              </div>

            </div>

          </div>
        </div>
      </div>
      <!-- End Modal Laporan-->
      <!-- Modal Keluar-->
      <div class="modal" id="modalKeluar">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body modal-pause">
              <div>
                <h6>Kamu yakin mau keluar dari tes?</h6>
                <p>Catatan:</p>
                <p>Jika kamu meninggalkan sesi tes sekarang,
                  skor dan nilaimu tidak dapat terlihat.</p>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-light" data-dismiss="modal">Kembali</button>
                <button @click="keluarTest" type="submit" class="btn btn-info">Keluar</button>
              </div>

            </div>

          </div>
        </div>
      </div>
      <!-- End Modal Pause-->

    <!-- <div class="modal fade" id="finish-test" tabindex="-1" role="dialog" aria-labelledby="finish-test" aria-hidden="true"> -->
      <div v-if="endTest" class="finish">
              <div class="finish-contnet">
                  <h3>MISI SELESAI!</h3>
                  <img src="~/assets/img/ceklis.png" class="img-fluid" alt="">
                  <div class="mt-5">
                    <!-- <a href="" class="btn btn-white">Lihat Hasil</a> -->
                    <nuxt-link class="btn btn-white" :to="'/tests/trial/'+$route.params.paketSoal+'/hasil-test'">Lihat Hasil</nuxt-link>
                  </div>
              </div>
            </div>
      </div>
    <!-- </div>  -->

    <!-- MODsAL BENAR -->
    <!-- <modal show name="modal-benar" height="auto" classes="modal-content modal-benar">
        <div class="modal-content modal-benar">
          <div class="modal-body">
            <div class="bernas mb-3">
              <img src="~/assets/img/yes-benar.png" class="img-fluid" width=217px; alt="">
            </div>
              <a href="javascript:void(0)" @click="$modal.show('modal-pembahasan')" class="btn btn-primary">Pembahasan</a>
          </div>
        </div>
    </modal> -->
    <!-- MODAL Salah $modal.hide('foo')-->
    <!-- <modal name="modal-salah" height="auto" classes>
        <div class="modal-content modal-salah">
          <div class="modal-body">
            <div class="bernas mb-3">
              <img src="~/assets/img/salah-jangan.png" class="img-fluid" width=217px; alt="">
            </div>
              <a href="javascript:void(0)" @click="$modal.show('modal-pembahasan')" class="btn btn-primary">Pembahasan</a>
          </div>
        </div>
    </modal> -->
    <!-- MODAL Pembahasan-->
    <!-- <modal name="modal-pembahasan" height="auto" classes>
       <div class="modal-content">
          <div class="modal-body">
            <a href="javascript:void(0)" @click="closeAllmodal" class="btn btn-primary"><i class="fas fa-chevron-left "></i> Kembali ke Soal</a>
            <hr>
            <p class="mb-0">{{pembahasan}}</p>
            <p class="mb-0">TIn = TI1 + 10 log n</p>
            <p class="mb-0">TI00 = 60 dB + 10 log 1001</p>
            <p class="mb-0">TI100 = 60 dB + 10 . 2 dB</p>
            <p class="mb-0">TI 100 = 80 dB</p>
            <p class="mt-3"><b>Jawaban: B</b> </p>  
           
          </div>
        </div>
    </modal> -->
    <!-- MODAL Finish-->
    <!-- <modal name="modal-finish" width="100%" height="100%" classes>
      <div class="finish">
            <div class="finish-contnet">
                <h3>MISI SELESAI!</h3>
                <img src="~/assets/img/ceklis.png" class="img-fluid" alt="">
                <div class="mt-5">
                  <a href="" class="btn btn-white">Lihat Hasil</a>
                  <nuxt-link class="btn btn-white" to="/hasil-test">Lihat Hasil</nuxt-link>
                </div>
            </div>
          </div>
    </modal> -->
    <!-- <modal name="hello">
  hello, world!
</modal> -->
    
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
    layout: 'layout-test',
    middleware: 'router-auth',
    // transition: 'page',
      head () {
      return {
        title: this.title,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Tes Ujian | Nama Module | Nama Tema' }
        ],
        bodyAttrs: {
            class: 'bg-game'
        },
      }
    },
     data: () => ({
       isLain2: true,
       title: 'Latihan Soal',
       inputLain2: '',
       boolLaporkan: true,
       timerRunning: true,
       rbReport: 'Soal ini mengandung unsur SARA',
       numQuest: -1,
       numNotyetAns: 0,
       secLabel: '00',
       minLabel: '00',
       houLabel: '00',
       totalSeconds: 0,
       myInterval: null,
       // timer: '00:00:00',
       time: 0,
       isPopUp: true,
        listQuestion: [
          
        {
          id: 2,
          quest: `Pak Jazuli tinggal di negara yang
           menjunjung tinggi asas kekeluargaan, mereka melakukan 
           proses produksi sederhana, kehidupan bermasyarakat yang bergotong 
           royong sehingga negaranya damai sejahtera. ini berarti bahwa negara 
           tersebut menganut sistem ekonomi...`,
          choices : {
            A: {chc: 'pasar', done: '' },
            B: {chc: 'terpusat', done: ''},
            C: {chc: 'campuran', done: ''},
            D: {chc: 'demokrasi', done: ''},
            E: {chc: 'tradisional', done: ''},
          },
          correct: 'E',
          pembahasan: 'ini adalah pembahasan dari sebuah negara yang menjunjung tinggi asas kekeluargaan',
          answer: ''
        },
        {
          id: 3,
          quest: 'Sebuah sumber bunyi memiliki taraf intensitas 60 dB. Ketika 100 sumber berbunyi yang sama berbunyi secara serentak, taraf intensitas yang dihasilkan adalah....',
          choices : {
            A: {chc: '62 dB', done: ''},
            B: {chc: '80 dB', done: ''},
            C: {chc: '82 dB', done: ''},
            D: {chc: '100 dB', done: ''},
            E: {chc: '180 dB', done: ''},
          },
          correct: 'B',
          pembahasan: 'ini adalah pembahasan dari sebuah sumber bunyi',
          answer: ''
        },
        {
          id: 4,
          quest: `Pak Jazuli tinggal di negara yang
           menjunjung tinggi asas kekeluargaan, mereka melakukan 
           proses produksi sederhana, kehidupan bermasyarakat yang bergotong 
           royong sehingga negaranya damai sejahtera. ini berarti bahwa negara 
           tersebut menganut sistem ekonomi...`,
          choices : {
            A: {chc: 'pasar', done: ''},
            B: {chc: 'terpusat', done: ''},
            C: {chc: 'campuran', done: ''},
            D: {chc: 'demokrasi', done: ''},
            E: {chc: 'tradisional', done: ''},
          },
          correct: 'E',
          pembahasan: 'ini adalah pembahasan dari sebuah negara yang menjunjung tinggi asas kekeluargaan',
          answer: ''
        },
        {
          id: 5,
          quest: 'Sebuah sumber bunyi memiliki taraf intensitas 60 dB. Ketika 100 sumber berbunyi yang sama berbunyi secara serentak, taraf intensitas yang dihasilkan adalah....',
          choices : {
            A: {chc: '62 dB', done: ''},
            B: {chc: '80 dB', done: ''},
            C: {chc: '82 dB', done: ''},
            D: {chc: '100 dB', done: ''},
            E: {chc: '180 dB', done: ''},
          },
          correct: 'B',
          pembahasan: 'ini adalah pembahasan dari sebuah sumber bunyi',
          answer: ''
        },
        {
          id: 6,
          quest: `Pak Jazuli tinggal di negara yang
           menjunjung tinggi asas kekeluargaan, mereka melakukan 
           proses produksi sederhana, kehidupan bermasyarakat yang bergotong 
           royong sehingga negaranya damai sejahtera. ini berarti bahwa negara 
           tersebut menganut sistem ekonomi...`,
          choices : {
            A: {chc: 'pasar', done: ''},
            B: {chc: 'terpusat', done: ''},
            C: {chc: 'campuran', done: ''},
            D: {chc: 'demokrasi', done: ''},
            E: {chc: 'tradisional', done: ''},
          },
          correct: 'E',
          pembahasan: 'ini adalah pembahasan dari sebuah negara yang menjunjung tinggi asas kekeluargaan',
          answer: ''
        },
        ],
        classScore: 'hidden',
        scoreBoard: 0,
        scoreUp: 200,
        qIndex: 1,
        questClass: '',
        hiddenPrev: 1,
        hiddenNext: 0,
        hiddenEnd: 1,
        disableClass: '',
        questAnswered: 0,
        correctAnswer: '',
        endTest: false,
        // keyCode: 0,
        userAnswer: [],
        detailsSoal: {
          module_id: null,
          paketSoalId: null
        },
        cdnBasePathChoice: '',
        cdnBasePathQuestion: ''
    }),
    fetch () { // FETCH IS SERVER SIDE
      // console.log('hello from server')
    },
    mounted() {
      // console.log(this.listQuestion[this.qIndex])
      // console.log(this.$store.getters['setting/cdnBasePathChoice'])
      // this.timer = setInterval( () => {
			// 			if (this.time > 0) {
      //         console.log(this.time)
			// 				 this.time++
			// 			} else {
      //         console.log(this.time)
			// 				 clearInterval(this.timer)
			// 				//  this.reset()
			// 			}
      // 	  }, 1000 )
      // console.log(this.$store.getters['edutest/isCheckedTime'])
      
        if (this.$store.getters['edutest/isCheckedTime']){
          this.myInterval = setInterval(this.setTime, 1000);
        }

        let data = this.$store.getters['test/sessionThema']
      // console.log(data)
        this.detailsSoal.module_id = data.module_id
      this.getSoal()
        // this.detailsSoal.paketSoalId = data.id
        
      // console.log(data)
    //   console.log(this.$store.getters['auth/user'])

    //    this.$store.dispatch('in-game/nuxtServerInit')
      // this.endTest = true
      // document.addEventListener('keyup', this.arrowKeyPress)
      // console.log('hello')
      
      document.addEventListener('keydown', this.pressedKey)
      this.firstQuestion()
      this.initialize()
    },
    computed: {
      zeroFill(){
         let n = this.scoreBoard
         let l = 7
         return ('0000000000'+n).slice(-l);
       },
       calcPercenPage () {
        //  console.log((100/this.listQuestion.length)*(this.qIndex+2))
        let calc = ((100/this.listQuestion.length)*(this.questAnswered))
        return calc
       },
      //  isiPembahasan () {
      //    console.log(this.listQuestion[this.qIndex].pembahasan)
      //    if (this.listQuestion[this.qIndex].pembahasan === null){
      //      return 'tidak ada pembahasan'
      //    }else{
      //      return this.listQuestion[this.qIndex].pembahasan.isi
      //    }
        // listQuestion[qIndex].pembahasan.isi
        // if (strings === null){
        //   return 'tidak ada pembahasan'
        // }else{
        //   return strings
        // }
      // },
    },
    methods: {
      rbLain2(e){
        if (this.rbReport === 'Lain - lain'){
          this.isLain2 = false
          // console.log(this.rbReport)
        }else{
          this.isLain2 = true
        }
      },
      laporkanSoal(){
        // console.log(this.listQuestion[this.qIndex+this.numQuest].id, this.detailsSoal.paketSoalId)
        // console.log(this.rbReport)
        let alasan = this.rbReport
        !this.isLain2 ? alasan = this.inputLain2 : ''
        let data = {
          paketSoalId: this.detailsSoal.paketSoalId,
          soalId: this.listQuestion[this.qIndex+this.numQuest].id,
          alasan: alasan
        }
        console.log(data)
        this.$store.dispatch('test/laporkanSoal', data)
          .then((response) => {
            // console.log(response)
            this.$toast.show('Soal berhasil dilaporkan.')
            $('#modalLaporkan').modal('hide');
          })
          .catch((error) => {
            console.log(error)
          })
        // console.log('lapor')
      },
      initialize(){
        this.cdnBasePathChoice = this.$store.getters['setting/cdnBasePathModuleThumb']
        this.cdnBasePathQuestion = this.$store.getters['setting/cdnBasePathQuestion']

      },
      firstQuestion(){
        if (this.userAnswer.length < this.qIndex){
           let ans = {
            no_soal: this.qIndex,
            module_id: null,
            soal_id: null,
            jawaban_id: null,
            paket_soal_id: null
          }
          // this.qIndex++
          this.userAnswer.push(ans)
        }
      },
      notAnsweredQuest(){
        let arrQuestNotAns = []
        let totalAnswered = 0
        this.userAnswer.forEach(element => {
          // console.log(element.no_soal)
          
          // return element.soal_id === null
          if (element.soal_id === null){
            arrQuestNotAns.push(element.no_soal)
            // return element.no_soal
          }else {
            totalAnswered++
          }
          // console.log(element.soal_id)
         
        });
        // console.log(totalAnswered, arrQuestNotAns.length)
        arrQuestNotAns.length === 0 ? this.numNotyetAns = totalAnswered+1 : this.numNotyetAns = arrQuestNotAns[0]

        // console.log(this.numNotyetAns)
        // this.numNotyetAns = 
      },
      loncatKeSoalKosong(){
          // console.log(this.listQuestion[this.numNotyetAns+this.numQuest])
          // this.hiddenNext = 0
          this.notAnsweredQuest()
          this.qIndex = this.numNotyetAns
          this.qIndex === this.listQuestion.length ? this.hiddenNext = 1 : this.hiddenNext = 0
          this.disableClass = ''
          // console.log(this.qIndex, this.listQuestion.length)
          // console.log(this.userAnswer)
      },
      // pilihanJawaban(data){
      //   if (data.isi === null){
      //     return data.image
      //   }else if (data.image === null) {
      //     return clearHtmlTags(data.isi)
      //   }
      // },
      testBlur(){
        // console.log('on blur')
        this.isPopUp = true
      },
      pauseState(){

        if (this.timerRunning){
          // console.log('its paused')
          clearInterval(this.myInterval)
          this.timerRunning = false
          // this.myInterval = setInterval(this.setTime, 1000);
        }else{
          // console.log('its start')
          this.myInterval = setInterval(this.setTime, 1000);
          // clearInterval(this.myInterval)
          this.timerRunning = true
        }
        

        // console.log('its paused')
      },
      
      setTime(){
        ++this.totalSeconds;
        this.secLabel = this.pad(this.totalSeconds % 60);
        this.minLabel = this.pad(parseInt(this.totalSeconds / 60));
      },
      pad(val){
        var valString = val + "";
        if (valString.length < 2) {
          return "0" + valString;
        } else {
          return valString;
        }
      },
      showModalLaporan() {
        //let element = this.$refs.modal.$el
        $('#modalPause').modal('hide');
        $('#modalLaporkan').modal('show');
      },
      showModalKeluar() {
        //let element = this.$refs.modal.$el
        $('#modalPause').modal('hide');
        $('#modalKeluar').modal('show');
      },
      pressedKey() {
        // console.log(this.isPopUp)
        if (this.isPopUp){
          // console.log(event.keyCode)
          if (event.keyCode === 37 && this.hiddenPrev === 0){
            $('#finish').modal('hide');
            
            this.prevQuest()
          } else if (event.keyCode === 39 && this.hiddenNext === 0){
            // console.log(event.keyCode)
            this.nextQuest()
          }
        }
        // console.log(this.qIndex, this.listQuestion.length-2, this.hiddenNext)
        
      },
      arrowKeyPress(){
        // console.log('im pressed')
          if (event.keyCode === 37 && this.qIndex > 0){
            // console.log('left')
            this.prevQuest()
          } else if (event.keyCode === 39 && this.qIndex < this.listQuestion.length){
            // console.log('right')
            this.nextQuest()
          }

      },
      getCorrectAnswered () {
        this.listQuestion[this.qIndex+this.numQuest].jawabans.forEach((element, i) => {
          // console.log(element)
          element.is_correct ? this.correctAnswer = this.listAbjad(i) : ''
        });
        // console.log('correct answer from this question is : '+this.correctAnswer)
      },
      isAnswered (idx) {
        // console.log(this.listQuestion[idx].answer)
        // console.log(idx)
        if (this.listQuestion[idx].answer === undefined){
          
          this.disableClass = ''
        }else{
          this.disableClass = 'avoid-clicks'
        }
        // this.listQuestion[idx].answer === undefined ?  this.disableClass = '': this.disableClass = 'avoid-clicks'

      },
      clearHtmlTags (strings) {
        if (strings === null){
          return strings
        }else{
          return strings.replace(/<\/?[^>]+(>|$)/g, "")
        }
      },
      
      listAbjad(idx) {
        switch (idx) {
          case 0:
          return "A";
          case 1:
          return "B";
          case 2:
          return "C";
          case 3:
          return "D";
          case 4:
          return "E";
        }
      },
      async getSoal() {
            if (this.$store.getters['test/soal'] === null){
               this.$store.dispatch('test/setSoal', this.$store.getters['test/sessionThema'])
              .then(result => {
                if (result.success){
                    this.detailsSoal.paketSoalId = result.paketSoalId
                    this.listQuestion = result.data.rows

                    // console.log(this.detailsSoal.paketSoalId)
                } else {
                  // console.log(response)
                  if (result.data.message === 'Token is Invalid'){
                    this.$toast.show('Reconnecting. Please reload the page.');
                    this.reLogin()
                    // this.getMyModule()
                    // console.log('reloaddded')
                  }else if (result.data.message.includes('token has expired')){
                    this.userSessionExpired()
                  }
                }
              })
            }else{
              this.listQuestion = this.$store.getters['test/soal'].data.rows
              // console.log(this.$store.getters['test/sessionThema'].selectedPaketSoal.id)
              this.detailsSoal.paketSoalId = this.$store.getters['test/sessionThema'].selectedPaketSoal.id
            }
            // console.log(this.listQuestion)
            // console.log(this.$store.getters['test/sessionSoal'])
            // console.log(this.$cookies.get('session-soal'))

            // console.log(this.$store.getters['test/soal'])
            

            // for (let x = 0; x < this.listQuestion.length; x++) {
            //   this.listQuestion[x].answer = null
            // }
            
            // this.listQuestion[0].jawabans.forEach(element => {
            //   console.log(element.isi)
            // });

            // console.log(this.listQuestion[0].jawabans)
        },
      pembahasan () {
        $('#pembahasan').modal('show');
        // console.log(this.isPopUp)
        this.isPopUp = false
      },
      // isiPembahasan (strings) {
      //   if (strings === null){
      //     return 'tidak ada pembahasan'
      //   }else{
      //     return strings.isi
      //   }
      // },
      leaving: function () {
                alert("Leaving...");
            },
      testFinished () {
        let data = {
          lastScore: this.scoreBoard,
          noq: this.listQuestion.length, // number of queston
          timeElapsed: this.houLabel+':'+this.minLabel+':'+this.secLabel
        }
        let filteredAnswer = []
        clearInterval(this.myInterval)
        //  this.$modal.show('modal-finish')
        // $('#finish').modal('show');
        // console.log(this.userAnswer)
        this.userAnswer.forEach(element => {
          if (element.soal_id !== null){
            filteredAnswer.push(element)
          }
          // console.log(element)
        });
        // console.log(filteredAnswer)
        this.endTest = true
        // this.$store.dispatch('test/assesment', filteredAnswer)
        this.$store.dispatch('test/setScore', data)
       
        // this.$store.commit('test/updatePaketSoal', this.$route.params.paketSoal)
      },
       nextQuest () {
        this.qIndex += 1
        // console.log( this.listQuestion[this.qIndex+this.numQuest])
        //  if (this.qIndex < this.userAnswer.length){
        //    let ans = {
        //     no_soal: this.qIndex+1,
        //     module_id: null,
        //     soal_id: null,
        //     jawaban_id: null,
        //     paket_soal_id: null
        //   }
        //   this.userAnswer.push(ans)
        //  }
        this.firstQuestion()
        //  console.log(this.qIndex)
         this.isAnswered(this.qIndex+this.numQuest)
         this.hiddenPrev = 0
         this.classScore = 'hidden'
        //  this.disableClass = ''
        //  this.listQuestion[this.qIndex].answer === '' ? this.hiddenNext = 1 : this.hiddenNext = 0
         this.qIndex === this.listQuestion.length ? [this.hiddenNext = 1, this.hiddenEnd = 0] : ''
          
        //  console.log(this.qIndex, this.listQuestion.length)
        //  console.log(this.userAnswer)
       },
       prevQuest () {
         this.qIndex -= 1
        //  console.log(this.userAnswer.length, this.qIndex)
        //  console.log(this.qIndex)
         this.isAnswered(this.qIndex+this.numQuest)
         this.hiddenNext = 0
         this.qIndex+this.numQuest === 0 ? this.hiddenPrev = 1 : this.hiddenPrev = 0 
        //  console.log(this.listQuestion[this.qIndex])
        //  console.log(this.qIndex, this.listQuestion.length)
        //  console.log(this.userAnswer)
       },
      answer(res, answer) {
        // console.log(this.detailsSoal.paketSoalId)
        this.userAnswer[this.qIndex+this.numQuest] = {
            no_soal: this.qIndex,
            module_id: this.detailsSoal.module_id,
            soal_id: res.soal_id,
            jawaban_id: res.id,
            paket_soal_id: this.detailsSoal.paketSoalId
        }
        this.notAnsweredQuest()
        this.$store.dispatch('test/assesment', this.userAnswer[this.qIndex+this.numQuest])
        // console.log(this.numNotyetAns)
        // console.log(this.userAnswer)
          //  let ans = {
          //   no_soal: this.qIndex,
          //   module_id: null,
          //   soal_id: null,
          //   jawaban_id: null,
          //   paket_soal_id: null
          //  }
          // this.userAnswer.push(ans)
        // this.userAnswer.push(ans)
        // console.log(this.detailsSoal)
        // console.log(this.userAnswer)
        // console.log(res, answer)
        this.isPopUp = false

        // console.log(this.listQuestion[this.qIndex])
        this.scoreUp = (res.bobot * 100)
        this.getCorrectAnswered()
        this.questAnswered += 1
        // console.log(this.qIndex)
        this.disableClass = 'avoid-clicks'
        this.listQuestion[this.qIndex+this.numQuest].answer = answer
        // this.pembahasan = pembahasan
        // this.qIndex === this.listQuestion.length-1 ? this.hiddenNext = 1 : this.hiddenNext = 0
        if (this.qIndex === this.listQuestion.length) {
          this.hiddenNext = 1
          this.hiddenEnd = 0
        } else {
          this.hiddenNext = 0
          // this.hiddenEnd = 1
        }
        // if (this.qIndex === this.numNotyetAns){
        //   this.numNotyetAns++
        // }
        if (res.is_correct) {
          this.classScore = 'fadeInOut'
          this.scoreBoard += this.scoreUp
          res.done = 'ico benar'
          // setTimeout(() => this.$modal.show('modal-benar'), 1000)
          //  this.$modal.show('hello')
          $('#benar').modal('show')
        } else {
          // console.log('jawaban salah')
          // setTimeout(() => this.$modal.show('modal-salah'), 1000)
          $('#salah').modal('show')
          res.done = 'ico salah'
        }
        // res.done = 'ico benar'
        //  console.log(this.listQuestion)
        // localStorage.setItem('listQuest', JSON.stringify(this.listQuestion))
        // console.log(JSON.parse(localStorage.getItem('listQuest')))
        // this.savedSessionQuest()
      },
      closeAllmodal () {
        $('#benar').modal('hide')
        $('#salah').modal('hide')
        $('#pembahasan').modal('hide')
        $('#finish').modal('show');
        this.isPopUp = true
        
        // console.log('hi')
        // this.$modal.hide('modal-benar');
        // this.$modal.hide('modal-salah');
        // this.$modal.hide('modal-pembahasan');
      },
      savedSessionQuest () {
        // let dataSession = {
        //   pembahasan: this.pembahasan,
        //   classScore: this.classScore,
        //   scoreBoard: this.scoreBoard,
        //   scoreUp: this.scoreUp,
        //   qIndex: this.qIndex,
        //   questClass: this.questClass,
        //   hiddenPrev: this.hiddenPrev,
        //   hiddenNext: this.hiddenNext,
        //   hiddenEnd: this.hiddenEnd,
        //   disableClass: this.disableClass
        // }
        // // console.log(dataSession)
        // this.$store.dispatch('in-game/setSavedQuestion', {payload: JSON.stringify(this.listQuestion), payload2: dataSession})
      },
      keluarTest(){
        this.$nuxt.$router.push('/modules/'+this.detailsSoal.module_id+'/'+this.detailsSoal.paketSoalId)
        $('#modalKeluar').modal('hide')
        // console.log(this.detailsSoal)
      }
    },
    beforeUpdate() {
      // console.log('update')
      // this.$store.dispatch('in-game/setSavedQuestion', JSON.stringify(this.listQuestion))
    },
    beforeMount() {
      if (this.$store.getters['test/sessionThema'] === null) {
          this.$store.dispatch('test/getSessionThema')
          // console.log('in')
        } 
      // this.$store.dispatch('in-game/getSavedQuestion')
      // this.$store.dispatch('test/setBodyDataTest', 'bg-game')
      // console.log('before mount in game')
      // console.log(this.$store.getters['in-game/savedQuestion'])
    }
}
</script>

<style>
/* remove scrollbar space */
/* optional: just make scrollbar invisible */
/* ::-webkit-scrollbar {
width: 0px; 
background: transparent; 
} */
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
background: #FF0000;
}

.tGreen {
  color: green;
  margin-top: -50px;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.avoid-clicks {
  pointer-events: none;
}

.fadeInOut {
  /* fade in */
    -webkit-animation: fadeinout 4s linear forwards;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinout 4s linear forwards;
    /* Firefox < 16 */
    -ms-animation: fadeinout 4s linear forwards;
    /* Internet Explorer */
    -o-animation: fadeinout 4s linear forwards;
    /* Opera < 12.1 */
    animation: fadeinout 4s linear forwards;
}

.text-question {
  color: #7F7F7F
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  10%, 50% { opacity: 1; }
}

.fadeOutIn {
   /* fade in */
    -webkit-animation: fadeoutin 1s linear forwards;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeoutin 1s linear forwards;
    /* Firefox < 16 */
    -ms-animation: fadeoutin 1s linear forwards;
    /* Internet Explorer */
    -o-animation: fadeoutin 1s linear forwards;
    /* Opera < 12.1 */
    animation: fadeoutin 1s linear forwards;
}
/* @-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
} */



@keyframes fadeoutin {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}
</style>
