@import url("fonts.css");

body {
  background-color: #fff;
}

:root {
  --ElliotSans: "ElliotSans", regular;
  --AbrilFatface: "AbrilFatface", cursive;
  --RobotoSlab: "RobotoSlab", cursive;
  --AlegreyaSansSC: "AlegreyaSansSC", cursive;
}

/* Navbar */
.navbar.hide {
  transform: translateY(-100);
}

.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-item {
      margin-right: 10px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background: #0b63dc;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }

      .nav-link {
        color: #333333;
        font-size: 14px;
        font-family: var(--ElliotSans);
        text-transform: uppercase;
        font-weight: 500;
      }

      .dropdown-item {
        font-size: 14px;
        color: #515151;
        font-family: var(--ElliotSans);
      }
    }
  }
}

/* Section 1 */
.section-1 {
  .sub-breadcrumb {
    font-family: var(--AbrilFatface);
    font-size: 14px;
    color: #1e73be;
  }

  .title-1 {
    font-family: var(--AbrilFatface);
    font-size: 18px;
    color: #333333;

    hr {
      border: 0.7px solid #515151;
    }
  }

  .content-left {
    p {
      font-size: 15px;
      font-family: var(--ElliotSans);
      color: #666666;
      text-align: justify;

      span {
        color: #ff6600;
      }
    }

    h2 {
      font-family: var(--RobotoSlab);
      font-size: 28px;
      color: #333333;
      font-weight: bold;
      margin-bottom: 20px;

      span {
        color: #ff6600;
      }
    }

    ul {
      font-family: var(--ElliotSans);
      margin-left: -20px;

      li {
        font-size: 15px;
        text-align: justify;
        color: #666666;

        span {
          color: #ff6600;
        }
      }
    }

    .toggle-text-button {
      color: #557cbf;
      order: 1;

      &::before {
        font-family: "FontAwesome";
        content: "\f107";
      }
    }

    .toggle-text {
      display: none;
    }
  }

  .content-right {
    width: 100%;
    height: 240px;
    background-color: #041941;
    padding: 35px 15px 0 15px;

    h2 {
      font-family: var(--RobotoSlab);
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      margin: 20px 0 10px 0;
    }

    p {
      font-family: var(--ElliotSans);
      font-size: 13px;
      color: #fff;
    }

    a {
      font-family: var(--ElliotSans);
      font-size: 14px;
      color: #fff;
      background-color: #ff9900;
      text-transform: uppercase;
      border-radius: 5px;
    }
  }
}

/* Section 2*/
.section-2 {
  .accordion {
    font-family: var(--ElliotSans);

    .single-accordion {
      margin-bottom: 10px;
      text-align: justify;

      .collapse {
        .accordion-body {
          border-bottom: 1px solid #e9eaed;
          border-right: 1px solid #e9eaed;
          border-left: 1px solid #e9eaed;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
          margin-top: -17px;

          .content-collapse {
            padding: 10px;
            font-family: var(--ElliotSans);

            a {
              text-transform: uppercase;
              font-size: 20px;
              text-decoration: none;
              font-weight: 700;
              color: #1e73be;
            }

            .images-accordion {
              width: 150;
            }

            .description {
              font-size: 16px;
              color: #757575;
              text-align: justify;
            }
          }
        }
      }

      .accordion-header {
        button {
          background-color: transparent;
          border: 1px solid #e9eaed;
          border-radius: 3px;
          color: #0d4bbf;
          text-align: left;
          padding: 15px 15px;
          width: 100%;
          outline: none;
          text-decoration: none;
          position: relative;
          font-size: 15px;

          &::before {
            font-family: "FontAwesome";
            content: "\f107";
            width: 35px;
            font-size: 25px;
            text-align: center;
            right: 15px;
            top: 10px;
            position: absolute;
          }
        }
      }
    }
  }
}

.section-3 {
  .content-pagination {
    color: #666666;
    font-size: 15px;
    font-family: var(--ElliotSans);
  }

  .wrapper {
    width: 100%;
    height: 220px;
    background-color: #041941;
    padding: 35px 15px 0 15px;

    h2 {
      font-family: var(--RobotoSlab);
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      margin: 20px 0 10px 0;
    }

    p {
      font-family: var(--ElliotSans);
      font-size: 13px;
      color: #fff;
    }

    a {
      font-family: var(--ElliotSans);
      font-size: 14px;
      color: #fff;
      background-color: #ff9900;
      text-transform: uppercase;
      border-radius: 5px;
    }
  }
}

.details {
  font-family: var(--AlegreyaSansSC);
  color: #333333;

  .left-details {
    h3 {
      font-size: 24px;
      font-weight: bold;
    }

    p {
      text-transform: uppercase;
      margin-top: 10px;
      font-size: 15px;
    }
  }

  .right-details {
    width: 100%;
    height: 240px;
    background-color: #041941;
    padding: 50px 15px 0 15px;
    color: #fff;

    h2 {
      font-size: 30px;
      font-family: var(--RobotoSlab);
    }

    p {
      font-family: var(--ElliotSans);
      font-size: 15px;
    }

    a {
      color: #fff;
      padding: 14px 20px;
      background-color: #ff9900;
    }
  }
}

.section-4 {
  .divider-between {
    .text-divider {
      margin: 2em 0;
      line-height: 0;
      font-size: 15px;
      text-align: center;
      font-family: var(--RobotoSlab);

      &::before {
        content: "";
        display: block;
        border-top: 1px solid #666666;
      }

      .line {
        padding: 1em;
        color: #333333;
        background-color: #fff;
        font-weight: bold;
      }
    }
  }
}

.section-5 {
  .left-accordion {
    .accordion {
      font-family: var(--ElliotSans);

      .single-accordion {
        text-align: justify;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        margin-top: -20px;
        margin-bottom: 20px;

        .collapse {
          .accordion-group {
            border-bottom: 1px solid #e9eaed;
            border-right: 1px solid #e9eaed;
            border-left: 1px solid #e9eaed;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            margin-top: -20px;
            margin-bottom: 20px;

            .accordion-heading {
              padding: 10px 5px 5px 5px;
              font-size: 14px;
            }

            .accordion-inner {
              a {
                text-transform: uppercase;
                font-size: 12px;
                text-decoration: none;
                font-weight: 700;
                color: #666666;
              }
            }
          }
        }

        .accordion-header-1 {
          button {
            background-color: transparent;
            border: 1px solid #e9eaed;
            border-radius: 3px;
            color: #337ab7;
            text-align: left;
            padding: 15px;
            width: 100%;
            outline: none;
            text-decoration: none;
            position: relative;
            font-size: 18px;
            font-weight: 700;

            &::before {
              font-family: "FontAwesome";
              content: "\f107";
              width: 35px;
              font-size: 25px;
              text-align: center;
              right: 15px;
              top: 8px;
              position: absolute;
              color: #666666;
            }
          }
        }

        .accordion-header {
          button {
            background-color: transparent;
            border-top: none;
            border-right: 1px solid #e9eaed;
            border-bottom: 1px solid #e9eaed;
            border-left: 1px solid #e9eaed;
            border-radius: 3px;
            color: #0056b3;
            text-align: left;
            padding: 10px;
            width: 100%;
            outline: none;
            font-size: 16px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .right-accordion {
    .accordion {
      font-family: var(--ElliotSans);

      .single-accordion {
        text-align: justify;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        margin-top: -20px;
        margin-bottom: 20px;

        .collapse {
          .accordion-group {
            border-bottom: 1px solid #e9eaed;
            border-right: 1px solid #e9eaed;
            border-left: 1px solid #e9eaed;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            margin-top: -20px;
            margin-bottom: 20px;

            .accordion-heading {
              padding: 10px 5px 5px 5px;
              font-size: 14px;
            }

            .accordion-inner {
              a {
                text-transform: uppercase;
                font-size: 12px;
                text-decoration: none;
                font-weight: 700;
                color: #666666;
              }
            }
          }
        }

        .accordion-header-1 {
          button {
            background-color: transparent;
            border: 1px solid #e9eaed;
            border-radius: 3px;
            color: #337ab7;
            text-align: left;
            padding: 15px;
            width: 100%;
            outline: none;
            text-decoration: none;
            position: relative;
            font-size: 18px;
            font-weight: 700;

            &::before {
              font-family: "FontAwesome";
              content: "\f107";
              width: 35px;
              font-size: 25px;
              text-align: center;
              right: 15px;
              top: 8px;
              position: absolute;
              color: #666666;
            }
          }
        }

        .accordion-header {
          button {
            background-color: transparent;
            border-top: none;
            border-right: 1px solid #e9eaed;
            border-bottom: 1px solid #e9eaed;
            border-left: 1px solid #e9eaed;
            border-radius: 3px;
            color: #0056b3;
            text-align: left;
            padding: 10px;
            width: 100%;
            outline: none;
            font-size: 16px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

footer {
  .foo-left {
    border-right: 1px solid #cccccc;

    p {
      font-size: 14px;
      color: #808080;
      font-family: var(--ElliotSans);
      margin-top: 10px
    }

    .sosmed {
      a {
        text-decoration: none;
      }

      img {
        width: 36px;
      }
    }
  }

  .nav-item {
    .title-list-footer {
      font-size: 14px;
      color: #404040;
      font-family: var(--ElliotSans)
    }

    a {
      &:hover {
        color: #1e9cd7;
      }
    }
  }

  .footer-bottom {
    font-size: 14px;
    color: #404040;
    font-family: var(--ElliotSans)
  }

  .title-footer-edutore {
    color: #808080;
    font-size: 14px;
    font-family: var(--ElliotSans)
  }

}
