<template>
    <div>
        <h1>Terima Kasih anda telah Membeli Buku ini</h1>
    </div>
</template>

<script>
export default {
  head () {
    return {
      title: 'Edutore by Gramedia  | Sukses Beli',
      bodyAttrs: {
        class: 'bg-grey'
      }
    }
  },
    mounted(){
        this.$store.dispatch('cart/clearCart')
        setTimeout(() => this.$nuxt.$router.push('/edutest'), 3000)
        
    }
}
</script>
