    @media (max-width:2500px){
      .fab-scroll{
        right: 5% !important;
        bottom: 11% !important;
      }
    .mobile-view{
        padding-bottom: 50px;
        margin-top: 142px;
      }
    .sec-step{
        margin-top: 30px;
    }
    .col.col-rekomendasi {
        background-color: #ffffff;
        border-radius: 20px;
        margin-top: 15px;
      margin-bottom: 15px;
        padding-bottom: 30px;
    }
    .col-rekomendasi h2 {
        padding: 30px 30px 0px;
        font-size: 25px;
        color: #1E9CD7;
    }
    .new-indi {
        position: absolute;
        right: 30px;
        top: -33px;
    }
    .detail-buku .price {
        font-family: 'ElliotSans-Medium';
        font-size: 14px;
        margin-top: 3px;
    }
    .main-crown {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 1px;
        margin-right: 5px;
        margin-left: 15px;
    }
    .icon-desc {
        margin-top: 20px;
    }
    .detail-buku .icon-desc .love-icon h3 {
        margin-left: 10px;
    }
    .detail-buku .icon-desc .book-icon{
        margin-left:20px;
    }
    .detail-buku .icon-desc {
        padding-left: 15px;
    }
    .books {
        margin-bottom: 10px;
    }
    .detail-buku a {
        color: #404040;
        font-size: 13px;
        font-weight: 600;
        margin: 14px 0px;
        display: block;
    }
    .penerbit {
        display: block;
        margin: 10px 0;
        font-size: 13px;
        color: #808080;
    }
    .row-book {
        padding: 15px;
    }
    .icon-search::after {
        position: absolute;
        content: '\f002';
        font-family: 'fontawesome';
        top: 1px;
        left: 34px;
        font-size: 22px;
    }
    section.pencarian {
    margin: 30px 0;
    }
    .intro-search {
        padding: 8px 20px 8px 40px;
        margin-left: 22px;
        border-radius: 30px;
        border: none;
    }
    .wrapper-pilihan-test select {

    padding: 8px 0 10px 10px;
    }
    section.pencarian label {
    float: left;
    padding: 9px 0;
    }
    .wrapper-pilihan-test label {
    margin: 10px 0 4px 0;
    }
    .test-select::after {
        position: absolute;
        top: 54px;
        right: 24px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        content: '\f107';
        font-family: 'fontAwesome';
        color: #c1c1c1;
        font-size: 27px;
        pointer-events: none;
    }
    .btn-cari-modul {
        background-color: #FEC810;
        padding: 7px 28px;
        border: none;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        margin-top:35px;
    }
    .wrapper-pilihan-test input[type="submit"] {
    color: #fff;
    font-family: ElliotSans-Medium;
    font-size: 16px;
    }
    .wrapper-pilihan-test {
    background-color: #1E9CD7;
    margin-top: 30px;
    padding: 30px 150px;
    color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    }
    .wrapper-pilihan-test label {
    text-align: left;
    padding-left: 6px;
    }
    .wrapper-pilihan-test h1 {
    font-size: 27px;
    text-align: center;
    font-weight: 500;
    font-family: 'ElliotSans-Medium';
    }
    .tema-reg__box, .tema-reg__solid {
    border: 4px solid #1e9cd7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 0;
    width: 84%;
    margin: 15px auto 40px;
    position: relative;
    box-shadow: 0 7px 23px 2px rgba(0,0,0, .2);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
      /*cursor: pointer;*/
    }
    .tema-reg__solid .sub-tema-reg {
    color: #404040;
    }
    .tema-reg__box a, .tema-reg__solid a{
    text-decoration: none;
    }
    .tema-reg__box h2{
    font-size: 25px;
    color: #404040;
    font-weight: 600;
    }
    .sub-tema-reg {
    font-size: 14px;
    color: #404040;
    font-weight: 600;
    margin: -4px 0 10px;
    }
    .star-reg-box {
    background-color: #1e9cd7;
    padding: 5px 20px 2px;
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
    -webkit-border-radius:50px;
    }
    .star-reg-box .star-isi {
    color: #fff;
    font-size: 16px;
    }
    .star-reg-box .star-kosong {
    font-size: 16px;
    color: #fff;
    }
    .tema-reg__box .centang {
    background-color: #24E569;
    position: absolute;
    width: 65px;
    height: 65px;
    left: -33px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    }
    .tema-reg__box p {
    color: #1E9CD7;
    font-size: 16px;
    font-weight: 600;
    }
    .con-reg-kiri {
    padding: 40px;
    box-shadow: 0 0 26px 0 rgba(0,0,0, .3);
    border-radius: 15px    ;
    -webkit-border-radius: 15px    ;
    -moz-border-radius: 15px    ;
    -ms-border-radius: 15px    ;
    -o-border-radius: 15px    ;
    }
    .con-reg-kiri img{
    }
    .con-reg-kiri h1, h2 {
    font-size: 25px;
    font-weight: 600;
    }
    .con-reg-kiri h2{
    color: #D42173;
    margin: 15px 0;
    }
    .desc-icon h3 {
    display: inline-block;
    font-size: 16px;
    color: #BFBFBF;
    margin: 0 17px 0 -17px;
    }
    .detail-buku .desc-icon h3 {
        display: inline-block;
        font-size: 16px;
        color: #BFBFBF;
        margin: 0 17px 0 0;
    }
    .book-icon img {
        margin: -5px 17px;
        height: 25px;
    }
    .detail-buku .book-icon img {
        margin: -5px 8px 0;
        height: 25px;
    }
    .con-reg-kiri small {
    display: block;
    font-size: 16px;
    }
    .desc-reg-kiri {
    margin-top: 15px;
    }
    .desc-reg-kiri p {
    font-size: 13px;
    line-height: 22px;
    color:#2b2b2b;
    }
    .desc-reg-kiri img {
    float: left;
    margin-right: 23px;
    }
    .breadcumb ul li {
    display: inline-block;
    padding: 30px 0 10px;
    font-size: 12px;
    }
    .breadcumb ul li i {
    font-size: 10px;
    margin: 0 10px 0 12px;
    }
    .count-notif {
    background-color: #FEC810;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    top: -10px;
    right: 2px;
    padding-top: 2px;
    }
    .head-ringkasan h4 {
    font-size: 18px;
    font-weight: 600;
    }
    .head-ringkasan {
    border-bottom: 1px solid #E1E1E1;
    padding: 0 15px;
    }
    .content-ringkasan {
    padding: 15px;
    }
    .price-ringkasan {
    text-align: center;
    color: #557CBE;
    }
    .price-ringkasan h2 {
    font-size: 28px !important;
    margin: 9px 0 28px !important;
    }
    .ringkasan-belanja .btn-checkout {
    background-color: #557CBE;
    border-radius: 15px;
    width: 80%;
    color: #fff;
    margin: 0 auto;
    display: block;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 0;
    transition:.3s;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    -webkit-transition: .3s;
    }
    .ringkasan-belanja .btn-checkout:hover {
    background-color: #3950C1;

    }
    .icon-crown {
    height: 20px;
    margin-right: 8px;
    }
    .cart-price {
    text-align: right;
    margin-top: 22px;
    font-weight: 600;
    }
    .desc-cart h4 {
    font-size: 18px;
    font-weight: 600;
    }
    .img-edutest {
    width: 70px;
    }
    section.sec-conten-cart h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0;
    }
    .head-cart {
    padding: 15px 15px 10px;
    background-color: #fff;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    box-shadow: 0 0 2px rgba(0,0,0, .3);
    margin-bottom: 30px;
    }

    .head-conten-cart {
    padding: 15px 15px 10px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 2px rgba(0,0,0, .3);
    margin-top:30px;
    }

    .content-cart {
    padding: 30px 15px;
    background-color: #fff;
    margin-top: 0;
    box-shadow: 0 0 2px rgba(0,0,0, .3);
    }

    .content-cart:last-child {
    margin-bottom: 47px;
    }

    .hapusitem {
    position: absolute;
    bottom: 0;
    right: 20px;
    }

    section.sec-shop {
    height: 56px;
    background-color: #1e9cd7;
    display: flex;
    align-items: center;
    text-align: right;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    top: 86px;
    position: fixed;
    z-index: 997;
    width: 100%;
    }
    section.sec-conten-cart, .sec-content {
    margin-top: 125px;
    }
    section.sec-shop ul li {
    display: inline-flex;
    height: 56px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    }
    ul.nav-cart {
    margin: 0;
    }
    /* .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 20px    ;
    -webkit-border-radius: 20px    ;
    -moz-border-radius: 20px    ;
    -ms-border-radius: 20px    ;
    -o-border-radius: 20px    ;
    } */
    .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    padding-left: 17px;
    padding-right: 17px;
    }
    .laporkan-masalah h3{
    font-size: 20px;
    color: #404040;
    font-weight: 600;
    }
    form.frm-masalah {
    margin: 25px 0;
    }
    form.frm-masalah label {
    margin-top: 20px;
    }
    #frm-lapor-masalah .modal-dialog {
    max-width: 800px !important;
    margin: 1.75rem auto;
    }
    div#kirim-masalah__sukses .modal-dialog {
    max-width: 400px !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    }
    #frm-lapor-masalah .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 20px;
    outline: 0;
    }
    button.unggah-masalah {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    padding: 12px 34px;
    background-color: #577CBD;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    }
    button.btn.btn__kirim-laporan {
    margin-top: 36px;
    padding: 8px 63px;
    background-color: #FFC70D;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    }
    h1.title-home-category{
      font-size: 16pt;
    }
    }

    @media (max-width: 1199.98px) {
        .books {
            margin-bottom: 10px;
        }
    .time-mg {
        max-width: 130px;
        flex: 130px;

    }
    .bg-nilai{
        background-repeat: repeat-y;
    }

    .nilai-a, .nilai-b, .nilai-c, .nilai-d{
        width: 389px;
        height: 304px;
    }



    }

    @media (max-width: 1038px) {
    .adasd {
        padding-left: 38px;
    }
    .score{
        padding-left: 95px;
    }
    .score-lst {
        margin-left: 38px;
    }
    .msjj {
        padding-right: 39px;
        padding-bottom: 20px;
    }
    }

    @media (max-width: 991.98px) {
      .back-to-notyet-answered-quest{
        background-size: contain;
        position: absolute;
        top: 101.4%;
        left: 33%;
        z-index: 99;
        width: 127px;
        white-space: normal;
      }
    section.sec-shop {
        height: 56px;
        background-color: #557CBF;
        display: flex;
        align-items: center;
        text-align: right;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        top: 64px;
        position: fixed;
        z-index: 99;
        width: 100%;
    }
    #frm-lapor-masalah .modal-dialog {
        max-width: 602px !important;
        margin: 5.75rem auto;
    }
    .is-desktop{
       display: none;
    }
    .is-mobile {
        display: block;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        height: 65px;
    }
    .mobile-menu{
        position: absolute;
        right: 15px;
        top: 11px;
        cursor: pointer;
    }

    .mobile-menu div {
        width: 31px;
        height: 3px;
        background-color: #636363;
        margin: 6px 0;

    }
    .navbar-brand{
        width: 110px;
    }

    .left-menu {
        position: fixed;
        left: -300px;
        top: 0;
        background: #fff;
        width: 300px;
        bottom: 0;
        padding-top: 3px;
        transition: left 0.3s;
    }

    .left-menu.show {
        left: 0;
    }

    .left-menu .navbar-brand{
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .left-menu .nav-link{
        color: #424242;
    }

    .left-menu .nav-link:hover{
        color: #557cbf;
    }

    .modal-backdrop{
        z-index: 9;
    }

    .close-left {
        right: 18px;
        position: absolute;
        top: 11px;
        cursor: pointer;
    }
    .score-lst {
        margin-left: 38px;
        margin-right: 30px;
    }
      .icon-bar {
        width: 100%; /* Full-width */
        background-color: #555; /* Dark-grey background */
        overflow: auto; /* Overflow due to float */
        position: fixed;
        bottom: 0;
      }

      .icon-bar a {
        float: left; /* Float links side by side */
        text-align: center; /* Center-align text */
        width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
        padding: 12px 0; /* Some top and bottom padding */
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /* White text color */
        font-size: 23px; /* Increased font size */
      }

      .icon-bar a:hover {
        background-color: #000; /* Add a hover color */
      }

      .active {
        /*background-color: #4CAF50; /* Add an active/current color */
      }

      .infografis{
        /* display: none; */
      }
      .wrapper-pilihan-test{
        margin-top: 0px !important;
      }

      .choices{
        width: 30%;
        float: left;
      }

      .choices-text{
        width: 70%;
        float: left;
      }
      .score-show-mobile{
        display: block;
      }
      .score-hide-mobile{
        display: none;
      }
      .quiz-next{
        position: absolute;
        top: -6%;
        z-index: 99;
        right: 0px;
        /*position: absolute;*/
        /*bottom: -15% !important;*/
        /*top: unset;*/
        /*z-index: 99;*/
        /*right: 0px;*/

      }
      .quiz-prev{
        position: absolute;
        top: -6%;
        z-index: 99;
        left: 0px;
        /*position: absolute;*/
        /*bottom: -15% !important;*/
        /*top: unset;*/

      }
      .quiz-end{
        left: 69%;
        top: -52px;
        /*bottom: -57px;*/
      }
      .btn-login-socmed{
        font-size: 7pt;
      }
      .reg-hide{
        display: none;
      }
      .register-container{
        margin-top: 20px;
      }
    }

    @media (max-width: 767.98px) {
        .hide-social-login{
          display: none;
        }
        .mobile-view{
            padding-bottom: 50px;
            margin-top: 114px;
          }
        .detail-buku .icon-desc .love-icon h3 {
            margin-left: 2px;
            font-size: 15px;
            margin-right: 10px;
        }
        .detail-buku .icon-desc .book-icon h3 {
            margin-left: -5px;
            font-size: 15px;
        }
        .wrapper-pilihan-test {
            background-color: #1E9CD7;
            margin-top: 30px;
            padding: 30px 50px;
            color: #fff;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
        }
    section.sec-shop ul li {
        display: inline-flex;
        height: 30px;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
    }
    .tema-reg {
        display: flex;
        padding: 0;
        justify-content: center;
    }
    .logo-edutest {
        justify-content: center;
        display: none;
    }
    .breadcumb ul li {
        display: inline-block;
        padding: 0;
        font-size: 12px;
    }
    section.sec-tema {
        height: auto;
        background-color: #1e9cd7;
        display: flex;
        align-items: center;
        text-align: right;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        top: 63px;
        position: fixed;
        z-index: 99;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .sec-content-tema {
        margin-top: 128px;
    }
    .cart-price {
        text-align: left;
        margin-top: 22px;
        font-weight: 600;
    }
    .custom-control {
        position: relative;
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5rem;
        text-align: center;
    }
    #frm-lapor-masalah .modal-dialog {
        max-width: 500px !important;
        margin: 5.75rem auto;
    }
    .swiper-button-next{
        right: 10px;
    }
    .swiper-button-prev{
        left: 10px;
    }

    .main-banner{
        margin-top:80px !important;
    }
    .foo-lists{
        border: 0;
    }
    .time-mg {
        max-width: 90px;
        flex: 90px;
    }
    .center-m{
        text-align: center
    }

    .progress {
        margin: 0 auto;
        margin-bottom: 1em;
        width: 90%;
        height: .8rem;
        line-height: 70px;
    }
    .progress::after {
        border: 9px solid #CCCCCC;
    }
    .progress .progress-bar {
        border-width: 9px;
    }
    .progess-mg {
        max-width: 118px;
        flex: 118px;
    }
    h1.title-home-category{
      font-size: 12pt;
    }
    }

    @media (max-width: 575.98px) {
      .btn-check-voucher {
        margin-top: 15px;
      }
      .fab-scroll{
        right: 20% !important;
        bottom: 11% !important;
      }
      section.sec-tema {
          height: auto;
          background-color: #1e9cd7;
          display: flex;
          align-items: center;
          text-align: right;
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          top: 63px;
          position: fixed;
          z-index: 99;
          width: 100%;
          text-align: center;
          padding: 10px 0;
      }
      .sec-tema ul li {
          display: inline-flex;
          height: 56px;
          padding: 0 10px !important;
          justify-content: center;
          align-items: center;
      }
      #frm-lapor-masalah .modal-dialog {
          max-width: 400px !important;
          margin: 5.75rem auto;
      }
      .progess-mg {
          max-width: 25%;
          margin-left: auto;
      }
      .text-20 {
          font-size: 14px;
      }
      .nilai-a, .nilai-b, .nilai-c, .nilai-d{
          width: 205px;
          height: 230px;
      }
      .content-box{
        padding: 0 20px;
      }
      .iklan-side-home{
        display: none;
      }
      .banner-eduplace{
        display: none;
      }
      .testimonial{
        display: none;
      }
      /* .footer{
        display: none;
      } */
    }

    @media (max-width:480px){
    .tema-reg__box {
        border: 4px solid #D42173;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px 15px;
        width: 84%;
        margin: 15px auto 40px;
        position: relative;
        box-shadow: 0 7px 23px 2px rgba(0,0,0, .2);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .star-reg-box {
        background-color: #1e9cd7;
        padding: 5px 20px 2px;
        position: absolute;
        bottom: -17px;
        left: 20%;
        transform: translateX(0);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        -webkit-border-radius: 50px;
        right: 20%;
    }
    .custom-control-label {
        position: relative;
        margin-bottom: 0;
        padding-left: 0;
    }
    #frm-lapor-masalah .modal-dialog {
        max-width: 300px !important;
        margin: 5.75rem auto;
    }
    .laporkan-masalah {
        width: 100%;
        background-color: #fff;
        padding: 10px;
        margin: 0 auto;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    }

    @media (max-width: 320px) {
    button.btn.btn__kirim-laporan {
        margin-top: 36px;
        padding: 8px 35px;
        background-color: #FFC70D;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    #frm-lapor-masalah .modal-dialog {
        max-width: 257px !important;
        margin: 5.75rem auto;
    }
    .laporkan-masalah {
        width: 100%;
        background-color: #fff;
        padding: 10px;
        margin: 0 auto;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    }
