<template>
  <div class="my-modules">
    <section class="sec-rekomendasi">
      <div class='container con-rekomendasi'>
        <div class="row">
          <div class="col col-rekomendasi">
            <div class="row">
              <h2>Histori Order Langganan Saya</h2>
            </div>
            <div>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Order ID</th>
                  <th scope="col">Package Name</th>
                  <th scope="col">Payment with</th>
                  <th scope="col">Price</th>
                  <th scope="col">Order At</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(langgananOrder, index) in myLanggananOrder" :key="index">
                  <th scope="row">{{index+1}}</th>
                  <td>{{langgananOrder.langganan.order_id}}</td>
                  <td>{{langgananOrder.langganan.package_name}}</td>
                  <td>{{langgananOrder.payment_method}}</td>
                  <td>{{currencyFormat2(langgananOrder.total_payment, '')}}</td>
                  <td>{{$moment(langgananOrder.langganan.createdAt).format('DD MMM YYYY')}}</td>
                </tr>
<!--                <tr>-->
<!--                  <th scope="row">1</th>-->
<!--                  <td>Mark</td>-->
<!--                  <td>Otto</td>-->
<!--                  <td>@mdo</td>-->
<!--                  <td>@mdo</td>-->
<!--                  <td>@mdo</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <th scope="row">2</th>-->
<!--                  <td>Jacob</td>-->
<!--                  <td>Thornton</td>-->
<!--                  <td>@fat</td>-->
<!--                  <td>@fat</td>-->
<!--                  <td>@fat</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <th scope="row">3</th>-->
<!--                  <td>Larry</td>-->
<!--                  <td>the Bird</td>-->
<!--                  <td>@twitter</td>-->
<!--                  <td>@twitter</td>-->
<!--                  <td>@twitter</td>-->
<!--                </tr>-->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>
  // import 'vue-good-table/dist/vue-good-table.css'
  // import { VueGoodTable } from 'vue-good-table';
  import loader from '~/components/vue-content-loader.vue'
  export default {
    layout: 'base-layout-4',
    middleware: 'router-auth',
    // transition: 'page',
    // Returns String
    head () {
      return {
        title: 'Histori Langganan Saya',
        bodyAttrs: {
          class: 'bg-grey'
        }
      }
    },
    async asyncData(context){
        if (context.store.state.auth.isLogin){
          // console.log(context.store.state.edutest.myModule)
          if (context.store.state.user.myLanggananOrder === null){
            const myLanggananOrder = await context.$axios.get(`api/v1/history-order-subscription`, {headers : {'x-access-token': context.store.state.auth.user.token}})
            context.store.commit('user/setMyLanggananOrder', myLanggananOrder.data.data)
            // console.log(myLanggananOrder.data.data)
            return {
              myLanggananOrder : myLanggananOrder.data.data
            }
          }else{
            return {
              myLanggananOrder : context.store.state.user.myLanggananOrder
            }
          }
        }else{
          return {
            myLanggananOrder : []
          }
        }
    },
    data: () => ({
      countOrder: 0,
      myModule: [],
      swiperOption: null,
      listModules: [],
      sLoading: true
    }),
    components: {
      loader,
      // VueGoodTable
    },
    methods: {
    }
  }
</script>
<style>
  .my-modules{
    margin-top: 150px;
  }
</style>
