<template>
  <div class="my-modules">
    <section class="sec-rekomendasi">
      <div class='container con-rekomendasi'>
        <div class="row">
          <div class="col col-rekomendasi">
            <div class="row">
              <h2>Histori Order Module Saya</h2>
            </div>
            <div>
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Order ID</th>
                  <th scope="col">Module Name</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Price</th>
                  <th scope="col">Order At</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(myOrderModule, index) in myModuleOrder" :key="index">
                  <th scope="row">{{index+1}}</th>
                  <td>{{myOrderModule.order_details[0].order_id}}</td>
                  <td>{{myOrderModule.order_details[0].module_name}}</td>
                  <td>{{myOrderModule.order_details[0].qty}}</td>
                  <td>{{currencyFormat2(myOrderModule.order_details[0].total_price, '')}}</td>
                  <td>{{$moment(myOrderModule.order_details[0].createdAt).format('DD MMM YYYY')}}</td>
                </tr>
<!--                <tr>-->
<!--                  <th scope="row">1</th>-->
<!--                  <td>Mark</td>-->
<!--                  <td>Otto</td>-->
<!--                  <td>@mdo</td>-->
<!--                  <td>@mdo</td>-->
<!--                  <td>@mdo</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <th scope="row">2</th>-->
<!--                  <td>Jacob</td>-->
<!--                  <td>Thornton</td>-->
<!--                  <td>@fat</td>-->
<!--                  <td>@fat</td>-->
<!--                  <td>@fat</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <th scope="row">3</th>-->
<!--                  <td>Larry</td>-->
<!--                  <td>the Bird</td>-->
<!--                  <td>@twitter</td>-->
<!--                  <td>@twitter</td>-->
<!--                  <td>@twitter</td>-->
<!--                </tr>-->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>
  // import 'vue-good-table/dist/vue-good-table.css'
  // import { VueGoodTable } from 'vue-good-table';
  import loader from '~/components/vue-content-loader.vue'
  export default {
    layout: 'base-layout-4',
    middleware: 'router-auth',
    // transition: 'page',
    // Returns String
    head () {
      return {
        title: 'Histori Module Saya',
        bodyAttrs: {
          class: 'bg-grey'
        }
      }
    },
    async asyncData(context){
      // console.log(context.store.state.auth.isLogin)
        if (context.store.state.auth.isLogin){
          // console.log(context.store.state.edutest.myModule)
          if (context.store.state.user.myModuleOrder === null){
            const setMyModuleOrder = await context.$axios.get(`api/v1/history-order-modules`, {headers : {'x-access-token': context.store.state.auth.user.token}})
            context.store.commit('user/setMymoduleOrder', setMyModuleOrder.data.data)
            // console.log(setMyModuleOrder.data.data)
            return {
              myModuleOrder : setMyModuleOrder.data.data
              // myModuleOrder : []
            }
          }else{
            return {
              myModuleOrder : context.store.state.user.myModuleOrder
            }
          }
        }else{
          return {
            myModuleOrder : []
          }
        }
    },
    data: () => ({
      countOrder: 0,
      myModule: [],
      swiperOption: null,
      listModules: [],
      sLoading: true
    }),
    components: {
      loader,
      // VueGoodTable
    },
    methods: {
    },
    mounted(){
      // console.log(this.$cookies.getAll())
      // this.$cookies.remove('my-list-subscriptions')
    }
  }
</script>
<style>
  .my-modules{
    margin-top: 150px;
  }
</style>
