<template>
  <div class="my-modules">
<!--    <section class="sec-shop sec-tema">-->
<!--      <div class='container'>-->
<!--          <div class='row'>-->
<!--              <div class="col-md-2">-->
<!--                  <div class="logo-edutest">-->
<!--                          <img src="~/assets/img/test-logo.png" alt="edutest logo">-->
<!--                  </div>-->
<!--              </div>                           -->
<!--              <div class='col-md-10'>                -->
<!--                <ul class="tema-reg">-->
<!--                  <li><nuxt-link to="/edutest">Galeri Tes</nuxt-link></li>-->
<!--                  <li class="tema-link__active"><a href="#">Koleksi Saya</a></li>-->
<!--                  &lt;!&ndash;<li><a @click="checkMyModule" href="javascript:void(0)"><img src="~/assets/img/history.png" alt="history"></a></li>&ndash;&gt;-->
<!--                  &lt;!&ndash; <li><a @click="cart" href="javascript:void(0)"><img src="~/assets/img/cart.png" alt="cart"></a></li> &ndash;&gt;-->
<!--                  <li>-->
<!--                      <nuxt-link to="/c/keranjang-belanja"><img src="~/assets/img/cart.png" alt="cart"></nuxt-link>-->
<!--                      <div v-if="countOrder !== 0" class="count-notif">{{countOrder}}</div>-->

<!--                  </li>-->
<!--                  &lt;!&ndash;<li>&ndash;&gt;-->
<!--                      &lt;!&ndash;<a href="#"><img src="~/assets/img/notifikasi.png" alt="notifikasi"></a>&ndash;&gt;-->
<!--                      &lt;!&ndash;&lt;!&ndash; <div class="count-notif">2</div> &ndash;&gt;&ndash;&gt;-->
<!--                  &lt;!&ndash;</li>&ndash;&gt;-->
<!--                </ul>            -->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
<!--  </section>-->
    <section class="sec-rekomendasi">
      <div class='container con-rekomendasi'>
        <div class="row">
          <div class="col col-rekomendasi">
            <div class="row">
              <h2>Koleksi Buku Saya</h2>
            </div>

            <!-- row book -->
            <div v-if="myModule.length !== 0" class='row row-book'>
              <!-- col book -->
              <no-ssr>
              <div v-for="(myBooks, index) in myModule" :key="index" class='col-6 col-lg-2 col-sm-4'>
<!--                <a :href="'/modules/'+myBooks.module.module_slug">-->
                <a @click="myBooksClick(index)" href="javascript:void(0)">
                <div class="books">
                  <!-- book -->
                  <!-- <img src="~/assets/img/new-icon.png" alt="new indicator" class="new-indi"> -->
                  <div class="detail-buku">
                    <img :src="$store.state.setting.cdnBasePathModuleThumb+myBooks.module.image" alt="Bank Soal" style="width: 100%">
                    <a href="#">{{myBooks.module.name}}</a>
                  </div>
                  <!-- end book -->
                </div>
                </a>
              </div>
              </no-ssr>
              <!-- end col book -->
            </div>
<!--            <div v-else-if="sLoading" class="keranjang-kosong">-->
<!--              &lt;!&ndash; <img src="~/assets/img/keranjang-belanja.png" style="width: 30%"> &ndash;&gt;-->
<!--              <loader></loader>-->
<!--              <h6 class="mt-3">Loading...</h6>-->
<!--              &lt;!&ndash; <nuxt-link to="/edutest"><h6>Beli Buku Sekarang</h6></nuxt-link> &ndash;&gt;-->
<!--            </div>-->
            <div v-else class="keranjang-kosong">
              <img src="~/assets/img/keranjang-belanja.png" style="width: 30%">

              <h6 class="mt-3">Anda belum memikili koleksi buku. Silahkan pilih Buku yang ingin anda beli.</h6>
              <nuxt-link to="/edutest"><h6>Beli Buku Sekarang</h6></nuxt-link>

            </div>
            <!-- end row book -->
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import loader from '~/components/vue-content-loader.vue'
  export default {
    layout: 'base-layout-4',
    middleware: 'router-auth',
    // transition: 'page',
    // Returns String
    head () {
      return {
        title: 'Koleksi Saya',
        bodyAttrs: {
          class: 'bg-grey'
        }
      }
    },
    async asyncData(context){
      // console.log(context.store.state.edutest.myModule)
        if (context.store.state.auth.isLogin){
          if (context.store.state.edutest.myModule === null){
            // const setMyModule = await context.$axios.get(`${process.env.API_URL}/my-modules`, {headers : {'x-access-token': context.store.state.auth.user.token}})
            // const setMyModule = await context.$axios.get('my-modules', {headers : {'x-access-token': 'eyJhbGciOiJSUzI1NiIsImtpZCI6IjI1OTc0MmQyNjlhY2IzNWZiNjU3YzBjNGRkMmM3YjcyYWEzMTRiNTAiLCJ0eXAiOiJKV1QifQ.eyJuYW1lIjoiZGlkaSBydW1hcGVhIiwicGljdHVyZSI6Imh0dHBzOi8vbGg2Lmdvb2dsZXVzZXJjb250ZW50LmNvbS8tMGVCZFhfTy11bTQvQUFBQUFBQUFBQUkvQUFBQUFBQUFBRWsvLWhfSmtCaXljLVkvcGhvdG8uanBnIiwiaXNzIjoiaHR0cHM6Ly9zZWN1cmV0b2tlbi5nb29nbGUuY29tL2VkdXRvcmUwMSIsImF1ZCI6ImVkdXRvcmUwMSIsImF1dGhfdGltZSI6MTU4MDY2ODk5OSwidXNlcl9pZCI6InlQVmc1TEV6NnRWbGlGUk0xY0hMbHl6UmNESTMiLCJzdWIiOiJ5UFZnNUxFejZ0VmxpRlJNMWNITGx5elJjREkzIiwiaWF0IjoxNTgwNjY4OTk5LCJleHAiOjE1ODA2NzI1OTksImVtYWlsIjoiZGlkaXJ1bWFwZWFAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImZpcmViYXNlIjp7ImlkZW50aXRpZXMiOnsiZW1haWwiOlsiZGlkaXJ1bWFwZWFAZ21haWwuY29tIl19LCJzaWduX2luX3Byb3ZpZGVyIjoicGFzc3dvcmQifX0.Pst5dOFlarEsouTvxcPlAwJsTCbRdFEnS7S7ooyZY9cPfjq2dYXbd9Gy8tPv5a1FoD0uO63EQ15QxfWeky_Md8D35PclEFUspdgSqoqRp7NWFNRkhSUIZe4aEFmiYP99UBiSMrpNROv9a886tS8jF6vaqV0HSzSw97gczqLh7JdZNTb3GLUT_aY2A3zjXdcPrOUficq09Un6xyPQpntg2f3Xvt6ZL5rcfq_Fhb3XaZZTBHi3xVBNmuTqCQhmgkSObsUu-L7d7vaoED914ANj5jOLTfGD6W56-hPHKewouatAelrC7Nbv7TyNg1eXLQU779vT14LZdTPSYNxH33Vp1A'}})
            // context.store.commit('edutest/setMyModule', setMyModule.data.data.rows)
            await context.store.dispatch('edutest/setMyModule')
            // console.log(setMyModule.data.data.rows)
            return {
              // myModule : setMyModule.data.data.rows
              myModule : context.store.state.edutest.myModule
            }
          }else{
            return {
              myModule : context.store.state.edutest.myModule
            }
          }
        }else{
          return {
            myModule : []
          }
        }
    },
    // async fetch ({ store, params }) {
    //   await store.dispatch('edutest/setMyModule');
    // },
    data: () => ({
      countOrder: 0,
      // myModule: [],
      swiperOption: null,
      listModules: [],
      sLoading: true
    }),
    components: {
      loader
    },
    updated(){
      // console.log('test')
    },
    methods: {
      myBooksClick(idx){
        this.$nuxt.$router.push('/modules/'+this.myModule[idx].module.module_slug+'?type=1')
      },
      // checkMyModule(){
      //       // console.log(this.myModule)
      //       this.myModule.forEach(element => {
      //         if (element.module_id === this.modules.id){
      //           this.isBuy = true
      //         }
      //         // console.log(this.isBuy)
      //       });
      //   }
    }
  }
</script>
<style>
  .my-modules{
    margin-top: 150px;
  }
</style>
