<template>
<div>
    <div class="container mt-4">
      <form action="">
        <input type="text" class="form-control form-dark" value="Lorem Ipsum">
      </form>
    </div>
    <div class="label-404"></div>
</div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
    layout: 'base-layout-3',
}
</script>