<template>
<div>
     <div class="container mt-4">
        <form action="">
          <input type="text" class="form-control form-dark" value="Lorem Ipsum">
        </form>
        
        <div class="history-item mb-4">
          <p class="history-date mt-4 pl-3"><i class="far fa-calendar-alt"></i>  Hari ini - Kamis, 10 Januari 2019</p>

          <div class="bg-white radius-10 history-container">
            <div class="history-list">
                <div class="row align-items-center">
                  <div class="col-1 time-mg">
                    <p class="mb-0 text-grey"><i class="far fa-clock"></i> 08:00</p>
                  </div>
                  <div class="col center-m">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3">
                          <div class="progress" data-percentage="100">
                            <span class="progress-left-r">
                              <span class="progress-bar-r"></span>
                            </span>
                            <span class="progress-right">
                              <span class="progress-bar-r"></span>
                            </span>
                            <div class="progress-value">
                              <div>
                                100%
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <p class="text-20 mb-0">Nama Tema, Paket 0</p>
                          <p class="mb-0">Nama/Judul Modul</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2 progess-mg">
                    <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
            <div class="history-list">
                <div class="row align-items-center">
                  <div class="col-1 time-mg">
                    <p class="mb-0 text-grey"><i class="far fa-clock"></i> 08:00</p>
                  </div>
                  <div class="col center-m">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3">
                          <div class="progress" data-percentage="20">
                            <span class="progress-left-r">
                              <span class="progress-bar-r"></span>
                            </span>
                            <span class="progress-right">
                              <span class="progress-bar-r"></span>
                            </span>
                            <div class="progress-value">
                              <div>
                                20%
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <p class="text-20 mb-0">Nama Tema, Paket 0</p>
                          <p class="mb-0">Nama/Judul Modul</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2 progess-mg">
                    <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="history-item mb-4">
          <p class="history-date mt-4 pl-3"><i class="far fa-calendar-alt"></i> Hari ini - Kamis, 10 Januari 2019</p>

          <div class="bg-white radius-10 history-container">
            <div class="history-list">
                <div class="row align-items-center">
                  <div class="col-1 time-mg">
                    <p class="mb-0 text-grey"><i class="far fa-clock"></i> 08:00</p>
                  </div>
                  <div class="col center-m">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3">
                          <div class="progress" data-percentage="80">
                            <span class="progress-left-r">
                              <span class="progress-bar-r"></span>
                            </span>
                            <span class="progress-right">
                              <span class="progress-bar-r"></span>
                            </span>
                            <div class="progress-value">
                              <div>
                                80%
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <p class="text-20 mb-0">Nama Tema, Paket 0</p>
                          <p class="mb-0">Nama/Judul Modul</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2 progess-mg">
                    <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
            <div class="history-list">
                <div class="row align-items-center">
                  <div class="col-1 time-mg">
                    <p class="mb-0 text-grey"><i class="far fa-clock"></i> 08:00</p>
                  </div>
                  <div class="col center-m">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3">
                          <div class="progress" data-percentage="20">
                            <span class="progress-left-r">
                              <span class="progress-bar-r"></span>
                            </span>
                            <span class="progress-right">
                              <span class="progress-bar-r"></span>
                            </span>
                            <div class="progress-value">
                              <div>
                                20%
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <p class="text-20 mb-0">Nama Tema, Paket 0</p>
                          <p class="mb-0">Nama/Judul Modul</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2 progess-mg">
                    <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="history-item mb-4">
          <p class="history-date mt-4 pl-3"><i class="far fa-calendar-alt"></i> Hari ini - Kamis, 10 Januari 2019</p>

          <div class="bg-white radius-10 history-container">
            <div class="history-list">
                <div class="row align-items-center">
                  <div class="col-1 time-mg">
                    <p class="mb-0 text-grey"><i class="far fa-clock"></i> 08:00</p>
                  </div>
                  <div class="col center-m">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3">
                          <div class="progress" data-percentage="90">
                            <span class="progress-left-r">
                              <span class="progress-bar-r"></span>
                            </span>
                            <span class="progress-right">
                              <span class="progress-bar-r"></span>
                            </span>
                            <div class="progress-value">
                              <div>
                                90%
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <p class="text-20 mb-0">Nama Tema, Paket 0</p>
                          <p class="mb-0">Nama/Judul Modul</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2 progess-mg">
                    <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
            <div class="history-list">
                <div class="row align-items-center">
                  <div class="col-1 time-mg">
                    <p class="mb-0 text-grey"><i class="far fa-clock"></i> 08:00</p>
                  </div>
                  <div class="col center-m">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3">
                          <div class="progress" data-percentage="20">
                            <span class="progress-left-r">
                              <span class="progress-bar-r"></span>
                            </span>
                            <span class="progress-right">
                              <span class="progress-bar-r"></span>
                            </span>
                            <div class="progress-value">
                              <div>
                                20%
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <p class="text-20 mb-0">Nama Tema, Paket 0</p>
                          <p class="mb-0">Nama/Judul Modul</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2 progess-mg">
                    <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
          </div>
        </div>
        
    </div>
</div>
</template>

<script>
import imgs from '~/assets/img/twitter.png'

export default {
    layout: 'base-layout-3',
    // asyncData({ params }) {
    //     return axios.get('https://api.edutore.com/main-products')
    //     .then((response) => {
    //         return {mData: response.data}
    //     })
    //     console.log('hello')
    //     // return {bro: "hello"}
    // },
    async asyncData({ $axios }) {
      // const ip = await $axios.$get('https://api.edutore.com/main-products')
      // console.log(ip.data.rows)
      // return { ip }
    },
  data: () => ({
        // loading: false,
        title: 'Edutore - Riwayat',
        baseUrl: 'https://staging.edutore.com'
    }),
      head () {
      return {
        title: this.title,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'ini adalah page riwayat yang dimana bermaanfaat menampilkan hasil dari riwayat' },
          // { property: "og:title", content: "description" },
          // { property: "og:type", content: "description" },
          // { property: "og:url", content: "description" },
          // { property: 'og:image', content: this.baseUrl+imgs},
          // { property: "twitter:card", content: "description" }
        ]
      }
  }
}
</script>

<style scoped>
.progress {
    width: 90px;
    height: 90px;
    line-height: 90px;
    background: none;
    box-shadow: none;
    position: relative;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid #CCCCCC;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left-r {
    left: 0;
  }
  .progress .progress-bar-r {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #D0FF7E;
  }
  .progress .progress-left-r .progress-bar-r {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar-r {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  .progress .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: normal;
    font-family: 'ElliotSans-Bold';
    color: #000000;

  }

  /* This for loop creates the 	necessary css animation names 
   Due to the split circle of progress-left-r and progress right, we must use the animations on each side. 
   */
  .progress[data-percentage="10"] .progress-right .progress-bar-r {
    animation: loading-1 1.5s linear forwards;
  }
  .progress[data-percentage="10"] .progress-left-r .progress-bar-r {
    animation: 0;
  }
  .progress[data-percentage="20"] .progress-right .progress-bar-r {
    animation: loading-2 1.5s linear forwards;
  }
  .progress[data-percentage="20"] .progress-left-r .progress-bar-r {
    animation: 0;
  }
  .progress[data-percentage="30"] .progress-right .progress-bar-r {
    animation: loading-3 1.5s linear forwards;
  }
  .progress[data-percentage="30"] .progress-left-r .progress-bar-r {
    animation: 0;
  }
  .progress[data-percentage="40"] .progress-right .progress-bar-r {
    animation: loading-4 1.5s linear forwards;
  }
  .progress[data-percentage="40"] .progress-left-r .progress-bar-r {
    animation: 0;
  }
  .progress[data-percentage="50"] .progress-right .progress-bar-r {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="50"] .progress-left-r .progress-bar-r {
    animation: 0;
  }
  .progress[data-percentage="60"] .progress-right .progress-bar-r {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="60"] .progress-left-r .progress-bar-r {
    animation: loading-1 1.5s linear forwards 1.5s;
  }
  .progress[data-percentage="70"] .progress-right .progress-bar-r {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="70"] .progress-left-r .progress-bar-r {
    animation: loading-2 1.5s linear forwards 1.5s;
  }
  .progress[data-percentage="80"] .progress-right .progress-bar-r {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="80"] .progress-left-r .progress-bar-r {
    animation: loading-3 1.5s linear forwards 1.5s;
  }
  .progress[data-percentage="90"] .progress-right .progress-bar-r {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="90"] .progress-left-r .progress-bar-r {
    animation: loading-4 1.5s linear forwards 1.5s;
  }
  .progress[data-percentage="100"] .progress-right .progress-bar-r {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="100"] .progress-left-r .progress-bar-r {
    animation: loading-5 1.5s linear forwards 1.5s;
  }
</style>
