<template>
<section class="sec-conten-cart p-99" style="width: 100%">
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <h2>Keranjang Belanja</h2>
      </div>
    </div>
  </div>
  <div v-if="listOrderModule.length !== 0" class='container'>
    <div class='row'>
      <div class='col-lg-9'>
        <!-- <div class="head-cart">
          <form action="#">
            <div class="row">
              <div class="col">
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="pilihSemuaProduk">
                      <label class="custom-control-label" for="pilihSemuaProduk">Pilih Semua Produk</label>
                  </div>
              </div>
              <div class="col text-right">
                <a href="#">Hapus</a>
              </div>
            </div>
          </form>
        </div> -->
        <!-- content cart -->
        <!-- <div class="head-conten-cart">
            <form action="#">
              <div class="row">
                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="penerbitAbc">
                        <label class="custom-control-label" for="penerbitAbc">Penerbit Abc</label>
                    </div>
                </div>
               
              </div>
            </form>
          </div> -->
          <!-- content cart 1 -->
          <div v-for="(orderModule, index) in listOrderModule" :key="index" class="content-cart">
                <div class="row">
                  <div class="col-md-3">
                      <div class="custom-control custom-checkbox">
                          <!-- <input @click="selectedChecked(index)" type="checkbox" class="custom-control-input" id="cart1"> -->
                          <!-- <label class="custom-control-label" for="cart1"></label> -->
                          <img :src="'https://storage.googleapis.com/edutore-cdn/public/module/thumb/'+orderModule.image" alt="soal matematika" style="width: 70%;">
                      </div>
                  </div>
                  <div class="col-md-6 desc-cart">
                    <img src="~/assets/img/edutest.png" alt="edu test" class="img-edutest">
                    <h4>{{orderModule.name}}</h4>
                    <small>{{orderModule.description}} </small>
                  </div>
                  <div class="col-md-3">
                    <div class="cart-price price">
                      <img :src="require('~/assets/img/label-crown-'+orderModule.catId+'.png')" alt="crown" class="icon-crown">
                      {{currencyFormat2(orderModule.price, 'Rp ')}}
                    </div>
                    <div class="hapusitem">                         
                      <a @click="hapus(index)" href="javascript:void(0)"><img src="~/assets/img/hapus-item.png" alt="hapus"></a>
                    </div>   
                  </div>                 
                </div>
            </div>
            <!-- content cart 2 -->
          <!-- <div class="content-cart">
              <form action="#">
                <div class="row">
                  <div class="col-md-3">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="cart2">
                          <label class="custom-control-label" for="cart2"></label>
                          <img src="~/assets/img/soal-ipa.png" alt="soal ipa">
                      </div>
                  </div>
                  <div class="col-md-6 desc-cart">
                    <img src="~/assets/img/edutest.png" alt="edu test" class="img-edutest">
                    <h4>Bank Soal Bahasa Inggris SMA Kelas X, XI, XII</h4>
                    <small>Otong Setiawan Dj.</small>
                  </div>
                  <div class="col-md-3">
                    <div class="cart-price price">
                      <img src="~/assets/img/label-crown-1.png" alt="crown" class="icon-crown">
                      Rp. 99.000
                    </div>
                    <div class="hapusitem">                         
                      <a href="#"><img src="~/assets/img/hapus-item.png" alt="hapus"></a> 
                    </div>   
                  </div>                 
                </div>
              </form>
            </div> -->

        <!-- langganan -->
        <!-- <div class="head-conten-cart">
            <form action="#">
              <div class="row">
                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="langganan">
                        <label class="custom-control-label" for="langganan">Langganan</label>
                    </div>
                </div>
               
              </div>
            </form>
          </div> -->
          <!-- content cart 1 -->
          <!-- <div class="content-cart">
              <form action="#">
                <div class="row">
                  <div class="col-md-3">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="soal2">
                          <label class="custom-control-label" for="soal2"></label>
                          <img src="~/assets/img/bank-soal.png" alt="soal matematika">
                      </div>
                  </div>
                  <div class="col-md-6 desc-cart">
                    <img src="~/assets/img/edutest.png" alt="edu test" class="img-edutest">
                    <h4>Gudang Lengkap Soal Bahasa Inggris SMP / Mts 
                        Kelas VII, VII, IX</h4>
                    <small>Sienta Sasika Novel </small>
                  </div>
                  <div class="col-md-3">
                    <div class="cart-price price">
                      <img src="~/assets/img/label-crown-1.png" alt="crown" class="icon-crown">
                      Rp. 125.000
                    </div>
                    <div class="hapusitem">                         
                      <a href="#"><img src="~/assets/img/hapus-item.png" alt="hapus"></a>         
                    </div>   
                  </div>

                 
                </div>
              </form>
            </div> -->
            <!-- content cart 2 -->
          <!-- <div class="content-cart">
                <div class="row">
                  <div class="col-md-3">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="bank-soal">
                          <label class="custom-control-label" for="bank-soal"></label>
                          <img src="~/assets/img/bank-soal.png" alt="soal ipa">
                      </div>
                  </div>
                  <div class="col-md-6 desc-cart">
                    <img src="~/assets/img/edutest.png" alt="edu test" class="img-edutest">
                    <h4>Bank Soal Bahasa Inggris SMA Kelas X, XI, XII</h4>
                    <small>Otong Setiawan Dj.</small>
                  </div>
                  <div class="col-md-3">
                    <div class="cart-price price">
                      <img src="~/assets/img/label-crown-1.png" alt="crown" class="icon-crown">
                      Rp. 99.000
                    </div>
                    <div class="hapusitem">
                      <a href="#"><img src="~/assets/img/hapus-item.png" alt="hapus"></a>          
                    </div>   
                    </div>                    
                  </div>                 
                </div> -->
            </div>

            <!-- sidebar -->
            <div class="col-lg-3">
                <div class="ringkasan-belanja">
                  <div class="head-ringkasan">
                    <h4>Ringkasan Belanja</h4>
                  </div>
                  <div class="content-ringkasan">
                      Sub-Total Harga ({{totalModule}} Produk)
                  </div>
                  <div class="price-ringkasan">
                    <h2>{{currencyFormat2(countTotalPrice, 'Rp ')}} </h2>
                  </div>
                  <nuxt-link class="btn btn-checkout" to="/c/checkout">Checkout</nuxt-link>
                    <!-- <button class="btn btn-checkout">Checkout</button> -->
                </div>
            </div>
      </div>
      
  </div>
  <div v-else class="keranjang-kosong">
    <img src="~/assets/img/keranjang-belanja.png">
    <h6 class="mt-3">Anda tidak memiliki item belanja. Silahkan pilih Buku yang ingin anda beli</h6>
    <nuxt-link to="/edutest"><h6>Beli Buku Sekarang</h6></nuxt-link>
  </div>
  <!-- </div> -->
</section>
<!-- end content -->
</template>

<script>
export default {
    layout: 'base-layout-4',
    middleware: 'router-auth',
    head () {
      return {
        title: 'Keranjang Belanja',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Keranjang Belanja' }
        ],
        bodyAttrs: {
            class: 'bg-grey'
        },
      }
    },
    data: () => ({
        listOrderModule: [],
        empty: true,
        totalModule: 0,
        totalHarga: 0
    }),
    mounted() {
        this.listOrderModule = this.$store.getters['cart/cart']
        // console.log(this.listOrderModule)
        this.totalModule = this.listOrderModule.length
        // console.log(this.currencyFormat(200000, ''))

    },
    beforeMount() {
        this.$store.dispatch('cart/getOrderModule')

        
    },
    computed: {
        checkedSatuan(){

        },
        countTotalPrice(){
            this.listOrderModule.forEach(element => {
                this.totalHarga += element.price
                // console.log(element.price)
            });
            // console.log(this.listOrderModule.length)
            return this.totalHarga
        }
    },
    methods: {
        selectedChecked(idx){
            console.log(idx)
            // return false
        },
        hapus(idx){
            // let fuck = this.listOrderModule.splice(idx, idx)
            // console.log(this.listOrderModule)
            // console.log(fuck)
            // console.log(this.listOrderModule.length)
            this.$store.dispatch('cart/hapusSelectedCart', idx)
            this.totalModule = this.listOrderModule.length
            this.totalHarga = 0
        }
    }
}
</script>
