<template>
  <section class="section-5">
    <div class="container-fluid">
      <div class="row mx-5">
        <div class="left-accordion col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="accordion" id="accordionExample">
            <div class="single-accordion">
              <div class="accordion-header-1" id="headingTitleone">
                <p>
                  <button type="button" data-toggle="collapse" data-target="#collapseTitleone" aria-expanded="true"
                          aria-controls="collapseTitleone">
                    LATIHAN SOAL ONLINE
                  </button>
                </p>
              </div>
              <div class="accordion-inner">
                <div id="collapseTitleone" class="accordion-body collapse">
                  <div v-for="(listItem, index) in accordBelajarOnline" :key="index" class="single-accordion">
                    <div class="accordion-header" :id="'headingSix'+index">
                      <p>
                        <button v-if="listItem.mlm.length !== 0" type="button" data-toggle="collapse" :data-target="'#collapseSix'+index" aria-expanded="true"
                                :aria-controls="'collapseSix'+index">
                          {{listItem.title}}
                        </button>
                        <button v-else @click="goToUrl(listItem.title)" type="button">
                          {{listItem.title}}
                        </button>
                      </p>
                    </div>
                    <div  v-if="listItem.mlm.length !== 0" :id="'collapseSix'+index" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion3">
                          <div v-for="(listMlm, index2) in listItem.mlm" :key="index2" class="accordion-group">
                            <div class="accordion-heading">
                              <a v-if="listMlm.mlm.length !== 0" data-toggle="collapse" data-parent="#accordion2" :href="'#collapseInnerTen'+index2">
                               {{listMlm.title}}
                              </a>
                              <a v-else :href="$store.state.setting.basePathNews+listMlm.title.toLowerCase().replace(/ /g, '-')">
                                {{listMlm.title}}
                              </a>
                            </div>
                            <div v-if="listMlm.mlm.length !== 0" :id="'collapseInnerTen'+index2" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li v-for="(listMlmSub, index3) in listMlm.mlm" :key="index3"><a :href="generateLink(listMlmSub.title)">{{listMlmSub.title}}</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


<!--        RIGHT FOOTER-->
        <div class="right-accordion col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="accordion" id="accordionExample">
            <div class="single-accordion">
              <div class="accordion-header-1" id="headingTitletwo">
                <p>
                  <button type="button" data-toggle="collapse" data-target="#collapseTitletwo" aria-expanded="true"
                          aria-controls="collapseTitletwo">
                    LATIHAN SOAL GRATIS
                  </button>
                </p>
              </div>
              <div class="accordion-inner">
                <div id="collapseTitletwo" class="accordion-body collapse">

                  <div class="single-accordion">
                    <div class="accordion-header" id="headingNine">
                      <p>
                        <button type="button" @click="goToRoute('sd-mi')">
                          SD/MI
                        </button>
                      </p>
                    </div>
                    <div id="collapseNine" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwenty">
                                Kelas 1
                              </a>
                            </div>
                            <div id="collapseInnerTwenty" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentyone">
                                Kelas 2
                              </a>
                            </div>
                            <div id="collapseInnerTwentyone" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentytwo">
                                Kelas 3
                              </a>
                            </div>
                            <div id="collapseInnerTwentytwo" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentythree">
                                Kelas 4
                              </a>
                            </div>
                            <div id="collapseInnerTwentythree" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentyfour">
                                Kelas 5
                              </a>
                            </div>
                            <div id="collapseInnerTwentyfour" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentyfive">
                                Kelas 6
                              </a>
                            </div>
                            <div id="collapseInnerTwentyfive" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerUNSD2">
                                UN
                              </a>
                            </div>
                            <div id="collapseInnerUNSD2" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>

                  <div class="single-accordion">
                    <div class="accordion-header" id="headingTen">
                      <p>
                        <button type="button" @click="goToRoute('smp-mts')">
                          SMP/Mts
                        </button>
                      </p>
                    </div>
                    <div id="collapseTen" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentysix">
                                Kelas 7
                              </a>
                            </div>
                            <div id="collapseInnerTwentysix" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">IPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentyseven">
                                Kelas 8
                              </a>
                            </div>
                            <div id="collapseInnerTwentyseven" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">IPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentyeight">
                                Kelas 9
                              </a>
                            </div>
                            <div id="collapseInnerTwentyeight" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">IPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerSMP2">
                                UN
                              </a>
                            </div>
                            <div id="collapseInnerSMP2" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">IPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>

                  <div class="single-accordion">
                    <div class="accordion-header" id="headingEleven">
                      <p>
                        <button type="button" @click="goToRoute('sma-sederajat')">
                          SMA/SEDERAJAT
                        </button>
                      </p>
                    </div>
                    <div id="collapseEleven" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentynine">
                                Kelas 10
                              </a>
                            </div>
                            <div id="collapseInnerTwentynine" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika IPA</a></li>
                                  <li><a href="#">Matematika IPS</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">Fisika</a></li>
                                  <li><a href="#">Biologi</a></li>
                                  <li><a href="#">Kimia</a></li>
                                  <li><a href="#">Ekonomi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerThirty">
                                Kelas 11
                              </a>
                            </div>
                            <div id="collapseInnerThirty" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika IPA</a></li>
                                  <li><a href="#">Matematika IPS</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">Fisika</a></li>
                                  <li><a href="#">Biologi</a></li>
                                  <li><a href="#">Kimia</a></li>
                                  <li><a href="#">Ekonomi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerThirtyone">
                                Kelas 12
                              </a>
                            </div>
                            <div id="collapseInnerThirtyone" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">Fisika</a></li>
                                  <li><a href="#">Biologi</a></li>
                                  <li><a href="#">Kimia</a></li>
                                  <li><a href="#">Ekonomi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerUNSMA2">
                                UN
                              </a>
                            </div>
                            <div id="collapseInnerUNSMA2" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika IPA</a></li>
                                  <li><a href="#">Matematika IPS</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">Fisika</a></li>
                                  <li><a href="#">Biologi</a></li>
                                  <li><a href="#">Kimia</a></li>
                                  <li><a href="#">Ekonomi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
const slugify = require('slugify')
export default {

  data: () => ({
    email: null
  }),
  methods: {
    goToRoute(url) {
      // await this.$store.dispatch('belajar_gratis/setKelas', this.$route.params.jenjang)
      this.$nuxt.$router.push('/belajar-gratis/latihan-soal-gratis/' + url)
      // let urlFix = slugify(url, {lower: true})
      // console.log(this.base_path_news+urlFix)
      // window.location.href = this.base_path_news+urlFix
    },
    goToUrl(url){
      let urlFix = slugify(url, {lower: true})
      // console.log(this.base_path_news+urlFix)
      window.location.href = this.base_path_news+urlFix
    },
    generateLink(title){
      let urlFix = slugify(title, {lower: true})
      return this.base_path_news+urlFix
    }
  },
  created(){
    // console.log(this.accordBelajarOnline)
    // console.log(this.$store.state.setting.basePathNews)
  },
  computed: {
    ...mapState('belajar_gratis', {
      accordBelajarOnline: state => state.accordBelajarOnline,
    }),
    ...mapState('setting', {
      base_path_news: state => state.basePathNews,
    }),
  }
}
</script>

<style scoped>

</style>
