<template>
    <div class="container-fluid p-0 mt-5">
      <div class="row m-0">
        <div class="col-lg-6 mb-5 pl-0">
            <h3 class="text-33 mb-0 adasd">{{moduleDetail.nama_module}}</h3>
            <p class="text-20 adasd mt-3">{{moduleDetail.nama_tema}}</p>
            <div class="score mb-4">{{GzeroFill(scoreboardResult.nilaiAkhir)}}</div>
            <div class="row score-lst">
              <div class="col-md-6 p-0">
                  Skor Tertinggi
              </div>
              <div class="col-md-6 p-0 text-right">
                  {{GzeroFill(scoreboardResult.totalSoal * 100)}}
              </div>
            </div>
            <div class="row score-lst">
              <div class="col-md-6 p-0">
                  Jawaban Salah
              </div>
              <div class="col-md-6 p-0 text-right">
                  {{scoreboardResult.totalSoal - (scoreboardResult.nilaiAkhir / 100) }} / {{scoreboardResult.totalSoal}}
              </div>
            </div>
            <div class="row score-lst">
              <div class="col-md-6 p-0">
                  Durasi
              </div>
              <div class="col-md-6 p-0 text-right">
                  {{scoreboardResult.timeElapsed}}
              </div>
            </div>

        </div>
        <div class="col-lg-6 msjj">
          <!--div class="sosial-media text-right">
            <a href=""><span class="ico ico-twitter "></span></a>
            <a href=""><span class="ico ico-facebook "></span></a>
            <a href=""><span class="ico ico-gplus "></span></a>
          </div-->
          <div class="nilai">
            <i v-if="grade === 'A'" class="ico nilai-a"></i>
            <i v-else-if="grade === 'B'" class="ico nilai-b"></i>
            <i v-else-if="grade === 'C'" class="ico nilai-c"></i>
            <i v-else-if="grade === 'D'" class="ico nilai-d"></i>
          </div>
          <div class="text-center">
            <a href="javascript:;" @click="btnTryAgain" class="btn btn-primary mb-2 ml-3">Coba Lagi</a>
<!--            <a href="javascript:;" @click="testx" class="btn btn-primary mb-2 ml-3">test</a>-->
            <!-- <a href="" class="btn btn-primary mb-2 ml-3">Coba Lagi</a> -->

<!--            <nuxt-link v-if="isLastSoal" class="btn btn-primary mb-2 ml-3" :to="'/modules/'+themaDetails.module_slug">Selesai</nuxt-link>-->
            <a href="javascript:;" @click="btnSelesai" class="btn btn-primary mb-2 ml-3">Selesai</a>
<!--             <a v-else href="javascript:void(0)" @click="lanjutSoal" class="btn btn-primary mb-2 ml-3">Lanjut</a>-->
            <!-- <a href="javascript:void(0)"  class="btn btn-primary mb-2 ml-3">Lanjut</a> -->
            <!-- <nuxt-link class="btn btn-primary mb-2 ml-3" :to="'/modules/'+themaDetails.module_id+'/'+themaDetails.id">Lanjut</nuxt-link> -->
            <!-- <a href="" class="btn btn-white-2 mb-2 ml-3">Menyerah</a> -->
<!--            <nuxt-link class="btn btn-white-2 mb-2 ml-3" :to="'/modules/'+themaDetails.module_slug">Menyerah</nuxt-link>-->
<!--            <a @click="btnMenyerah" class="btn btn-white-2 mb-2 ml-3" href="javascript:void(0)">Menyerah</a>-->
          </div>
        </div>
      </div>
<!--      <div class="modal" id="modal-trial-signup">-->
<!--        <div class="modal-dialog modal-sm">-->
<!--          <div class="modal-content">-->
<!--            &lt;!&ndash; Modal body &ndash;&gt;-->
<!--            <div class="modal-body modal-pause">-->
<!--              <div>-->
<!--                <h3 class="text-black-50">Mau Ribuan Soal GRATIS ?-->
<!--                </h3>-->
<!--                &lt;!&ndash;                <p class="text-black-50">Mau Ribuan Soal GRATIS&ndash;&gt;-->
<!--                &lt;!&ndash;                  Daftar sekarang</p>&ndash;&gt;-->
<!--                <button @click="signUpNow" style="margin-bottom: 10px; font-size: x-large;" type="submit" data-dismiss="modal" class="btn btn-info">Daftar Sekarang!</button><br>-->
<!--                <button @click="hideModal" style="font-size: smaller;" type="submit" data-dismiss="modal" class="btn btn-grey">Kembali</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <modal
        name="modal-trial-sign-up"
        height="auto"
        transition="scale"
        :clickToClose="false"
        :adaptive="true"
      >
        <!--        <div class="modal-dialog modal-sm sh">-->
        <!-- Modal body -->
        <div class="modal-body modal-pause md-col-6">
          <div>
            <h3 class="text-black-50">Mau Ribuan Soal GRATIS ?
            </h3>
            <!--                <p class="text-black-50">Mau Ribuan Soal GRATIS-->
            <!--                  Daftar sekarang</p>-->
            <button @click="signUpNow" style="margin-bottom: 10px; font-size: x-large;" type="submit" data-dismiss="modal" class="btn btn-info">Daftar Sekarang!</button><br>
            <button @click="hideModal" style="font-size: smaller;" type="submit" data-dismiss="modal-trial-sign-up" class="btn btn-grey">Kembali</button>
          </div>
        </div>
        <!--        </div>-->
      </modal>
    </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'
// import { mapState } from 'vuex'
export default {
    layout: 'layout-hasil-test',
    head () {
      return {
        title: this.titleWeb,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Hasil test ujian' }
        ],
        // bodyAttrs: {
        //   class: 'bg-game'
        // },
      }
    },
    async asyncData(context){
      // let getModule = await context.$axios.get(`modules/${context.params.id_module}`)
      // console.log(context.store.state.exam.userScoreCache)
      // console.log(getModule)
      try {
        if (context.store.state.exam.userCacheSessionModule === null){
          await context.store.commit('exam/getCacheSessionModuleUser')
          // console.log(context.store.state.exam.userCacheSessionModule)
        }
          // console.log(context.store.state.exam.userCacheSessionModule)
          // console.log(context.store.state.exam.userScoreCache)
        if (context.store.state.exam.userScoreCache === null){
          await context.store.commit('exam/getUserScoreCache')
          // console.log(context.store.state.exam.userScoreCache)
        }

        return {
          scoreboardResult: context.store.state.exam.userScoreCache,
          moduleDetail: context.store.state.exam.userCacheSessionModule
        }
      }
      catch (ex) {
        console.log('error '+ex)
      }

    },
    data: () => ({
      titleWeb: 'Hasil Test',
      timeElapsed: 'xx:xx:xx',
      scoreboard: 0,
      title: 'nama_module',
      subTitle: 'nama_tema',
      highScore: '9999',
      wrongAnswer: '0/10',
      scoreDetails: null,
      themaDetails: {
        module_id: 0,
        id: 0
      },
      grade: 'C',
      isLastSoal: false
    }),
    computed: {
    },
    created(){
      this.gradeCalculation(this.scoreboardResult.totalSoal, this.scoreboardResult.nilaiAkhir / 100)
      // console.log(this.scoreboardResult)
    },
    mounted() {
      !this.$store.state.auth.isLogin ? this.$modal.show('modal-trial-sign-up') : ''
      // console.log(this.$store.state.auth.isLogin)
    },
    methods: {
      hideModal(){
        this.$modal.hide('modal-trial-sign-up')
      },
      testx(){
        this.$modal.show('modal-trial-sign-up')
      },
      signUpNow(){
        // console.log('hellow')
        // $('#modal-trial-signup').modal('hide')
        setTimeout(() => this.$nuxt.$router.push('/signup'), 2000)
        // this.$nuxt.$router.push('/signup');
      },
      async btnSelesai() {
        await this.$store.commit('exam/removeCacheSoal')
        this.$nuxt.$router.push(`/modules/${this.moduleDetail.module_slug}`)
      },
      async btnTryAgain() {
        // await this.$store.commit('exam/restartOnGoingSoal')
        await this.$store.commit('exam/removeCacheSoal')
        this.$nuxt.$router.push(`/modules/${this.moduleDetail.id_module}/${this.moduleDetail.id_tema}?ps_id=${this.moduleDetail.paket_soal_id}`)
      },
      async btnMenyerah() {
        await this.$store.commit('exam/removeCacheSoal')
        // console.log(this.$cookies.get('user-score-cache'))
        // console.log(this.$cookies.getAll())
      },
      lanjutSoal(){
        this.$store.commit('exam/removeCacheSoal')
        // console.log(this.$route.params.paketSoal)
        this.$store.commit('test/updatePaketSoal', this.$route.params.paketSoal)
        this.$nuxt.$router.push('/modules/'+this.themaDetails.module_id+'/'+this.themaDetails.id)
        // console.log('/modules/'+this.themaDetails.module_id+'/'+this.themaDetails.id)
      },
      getScore(){
        this.$store.dispatch('test/getScore')
        this.scoreDetails = this.$store.getters['test/score']
        this.scoreboard = this.scoreDetails.scoreboard
        this.title = this.scoreDetails.title
        this.subTitle = this.scoreDetails.subtitle
        this.timeElapsed = this.scoreDetails.time
        this.wrongAnswer = this.scoreDetails.totalSoal - (this.scoreboard / 100) + '/' + this.scoreDetails.totalSoal
        // console.log(this.scoreDetails)
        // console.log()
        this.gradeCalculation(this.scoreDetails.totalSoal, this.scoreboard / 100)
      },
      gradeCalculation(jmlsoal, jwbnBenar){
        let nilai = (jwbnBenar / jmlsoal) * 100
        if (nilai > 85){
          this.grade = 'A'
        } else if (nilai > 70){
          this.grade = 'B'
        } else if (nilai > 55) {
          this.grade = 'C'
        } else if (nilai < 55) {
          this.grade = 'D'
        }
        // console.log(nilai)
        // console.log(this.grade)
        // return nilai
      },
    }
}
</script>
