  <template>
    <div>
      <div class="row mt-4">
        <div class="col-6 col-lg-3 col-md-12 text-blue text-18">
          <a v-if="$store.state.auth.isLogin" @click="showModalLaporan"><i class="ico ico-report-soal"></i></a>
<!--          <a @click="pauseState"><i data-toggle="modal" data-target="#modalPause" class="ico ico-timer"></i></a>-->
          <a @click="pauseState"><i class="ico ico-timer"></i></a>
<!--          <a @click="testx"><i class="ico ico-timer"></i></a>-->
<!--          <a @click.prevent="testLoader"><i class="ico ico-timer"></i></a>-->
          {{houLabel}}:{{minLabel}}:{{secLabel}}
          <!-- <span v-countUp="{ startValue: 0.35, endValue: 120.95, options: { duration: 1, decimals: 2 } }"></span> -->
        </div>
        <div class="score-show-mobile col-6 col-lg-1 text-blue text-right text-18">
          <div>
            {{zeroFill}}
          </div>
          <div :class="'tGreen '+classScore">
            +{{scoreUp}}
          </div>
        </div>
        <div class="col-12 col-lg-7">
          <div class="progress progress-grads">
            <div class="progress-bar" role="progressbar" :style="'width: '+calcPercenPage+'%'" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="text-center text-blue mt-1">{{questAnswered}}/{{listQuestion.length}}</div>
        </div>
        <div class="score-hide-mobile col-6 col-lg-2 text-blue text-right text-18">
          <div>
            {{zeroFill}}
          </div>
          <div :class="'tGreen '+classScore">
            +{{scoreUp}}
          </div>
        </div>
      </div>

      <div class="row" ref="demo">
        <div class="col">
          <div class="soal-contain">
            <div class="div-test-question" v-if="loadingSoal !== null">
              <div v-if="listQuestion[qIndex+numQuest].gambar === undefined"></div>
              <div v-else-if="listQuestion[qIndex+numQuest].gambar === null">
                <!--                  <img :src="$store.getters['setting/cdnBasePathQuestion']+listQuestion[qIndex+numQuest].gambar" class="img-fluid" alt="">-->
                <p v-html="listQuestion[qIndex+numQuest].pertanyaan"></p>
                <!-- <p>{{listQuestion[qIndex].gambar.length}}</p> -->
              </div>
              <div v-else-if="listQuestion[qIndex+numQuest].gambar !== '' && listQuestion[qIndex+numQuest].pertanyaan !== null">
                <img :src="$store.getters['setting/cdnBasePathQuestion']+listQuestion[qIndex+numQuest].gambar" class="img-fluid" alt="">
                <p v-html="listQuestion[qIndex+numQuest].pertanyaan"></p>
                <!-- <p>{{listQuestion[qIndex].gambar.length}}</p> -->
              </div>
              <div v-else>
                <p v-if="listQuestion[qIndex+numQuest].pertanyaan !== null" v-html="listQuestion[qIndex+numQuest].pertanyaan"></p>
                <p v-else>
                  <img :src="$store.getters['setting/cdnBasePathQuestion']+listQuestion[qIndex+numQuest].gambar" class="img-fluid" alt="">
                </p>
              </div>
              <!-- <p v-if="listQuestion[qIndex].pertanyaan !== null" v-html="listQuestion[qIndex].pertanyaan"></p>
              <p v-else>
                   <img :src="$store.getters['setting/cdnBasePathQuestion']+listQuestion[qIndex].gambar" class="img-fluid" alt="">
              </p> -->
              <div v-for="(choice, index) in listQuestion[qIndex+numQuest].jawabans" :key=index :class="'answer '+disableClass">
                <div class="choices">
                      <span @click="answer(choice, listAbjad(index), index)" class="lst-ans">{{listAbjad(index)}}<span :class="choice.done" ></span>
                      </span>
                </div>
<!--                <p>{{listQuestion[qIndex+numQuest].jawabans}}</p>-->
                <!-- hello -->
                <!-- <p> hello</p> -->
                <div class="choices-text">
                  <!-- {{cdnBasePathChoice+choic  e.gambar}} -->
                  <span @click="answer(choice, listAbjad(index), index)">
                        <div v-if="choice.isi === null">
                           <img :src="$store.getters['setting/cdnBasePathChoice']+choice.gambar" class="img-fluid" alt="">
                        </div>
                        <div v-else-if="choice.isi !== null && choice.gambar !== null">
                          <img :src="$store.getters['setting/cdnBasePathChoice']+choice.gambar" class="img-fluid" alt="">
                        </div>
                       <div v-else v-html="choice.isi">
                        <!-- {{htmlEntitiesConverter(clearHtmlTags(choice.isi))}} -->
                         </div>
                          </span>
                </div>

              </div>
              <!-- <div class="answer"><span @click="answer('A')" class="lst-ans">A<span class="ico salah"></span></span> 62 dB</div>
              <div class="answer"><span @click="answer('B')" class="lst-ans">B<span class="ico benar"></span></span> 80 dB</div>
              <div class="answer"><span @click="answer('C')" class="lst-ans">C<span class="ico salah"></span></span> 82 dB</div>
              <div class="answer"><span @click="answer('D')" class="lst-ans">D<span class="ico salah"></span></span> 100 dB</div>
              <div class="answer"><span @click="answer('E')" class="lst-ans">E<span class="ico salah"></span></span> 180 dB</div> -->
            </div>
            <a href="javascript:void(0)" @click="nextQuest" :hidden="hiddenNext === 1" ><div class="ico quiz-next"></div></a>
            <a href="javascript:void(0)" @click="prevQuest" :hidden="hiddenPrev === 1"><div class="ico quiz-prev"></div></a>
            <!-- <button class="btn btn-primary quiz-end" :hidden="hiddenEnd == 1 ? true : false" @click="testFinished">Akhiri Sesi</button> -->
            <a href="javascript:void(0)" @click="testFinished()" :hidden="hiddenEnd === 1" class="btn btn-primary quiz-end">Akhiri Sesi</a>
            <a href="javascript:void(0)" @click="loncatKeSoalKosong()" :hidden="hiddenEnd === 1 || isNotYetAnswered" class="btn btn-primary back-to-notyet-answered-quest">Belum Dikerjakan</a>
          </div>
        </div>
      </div>

      <!-- Modal Benar -->

      <div @blur="testBlur" class="modal fade"  id="benar" tabindex="-1" role="dialog" aria-labelledby="benar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content modal-benar">
            <div class="modal-body">
              <div class="bernas mb-3">
                <img src="~/assets/img/yes-benar.png" class="img-fluid" width=217px; alt="">
              </div>
                <a href="javascript:void(0)" @click="pembahasan()" class="btn btn-primary">Pembahasan</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal salah -->
      <div @blur="testBlur" class="modal fade"  id="salah" tabindex="-1" role="dialog" aria-labelledby="salah" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content modal-salah">
            <div class="modal-body">
              <div class="bernas mb-3">
                <img src="~/assets/img/salah-jangan.png" class="img-fluid" width=217px; alt="">
              </div>
                <a href="javascript:void(0)"  @click="pembahasan()" class="btn btn-primary">Pembahasan</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal pembahasan -->
      <div v-if="loadingSoal !== null" class="modal fade" data-backdrop="static" data-keyboard="false" id="pembahasan" tabindex="-1" role="dialog" aria-labelledby="pembahasan" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <a href="javascript:void(0)" @click="closeAllmodal()" class="btn btn-primary"><i class="fas fa-chevron-left "></i> Kembali ke Soal</a>
              <hr>
<!--              <div>-->
<!--                <p v-if="listQuestion[qIndex+numQuest].pembahasan.isi === undefined"></p>-->
<!--                <div v-else-if="listQuestion[qIndex+numQuest].pembahasan.gambar !== null && listQuestion[qIndex+numQuest].pembahasan.isi !== null" >-->
<!--                  <p v-html="listQuestion[qIndex+numQuest].pembahasan.isi"></p>-->
<!--                  <img v-if="listQuestion[qIndex+numQuest].pembahasan.gambar !== ''" :src="$store.getters['setting/cdnBasePathDiscussion']+listQuestion[qIndex+numQuest].pembahasan.gambar" class="img-fluid" alt="">-->
<!--                </div>-->
<!--                <p v-else-if="listQuestion[qIndex+numQuest].pembahasan.gambar === null || listQuestion[qIndex+numQuest].pembahasan.gambar === ''" v-html="listQuestion[qIndex+numQuest].pembahasan.isi"></p>-->
<!--                <p v-else>-->
<!--                  <img :src="$store.getters['setting/cdnBasePathDiscussion']+listQuestion[qIndex+numQuest].pembahasan.gambar" class="img-fluid" alt="gambar pembahasan">-->
<!--                </p>-->
<!--                <p class="mt-3"><b>Jawaban : {{correctAnswer}}</b> </p>-->
<!--              </div>-->
              <div>
                <p v-if="cachePembahasan.pembahasan.isi === undefined"></p>
                <div v-else-if="cachePembahasan.pembahasan.gambar !== null && cachePembahasan.pembahasan.isi !== null" >
                  <p v-html="cachePembahasan.pembahasan.isi"></p>
                  <img v-if="cachePembahasan.pembahasan.gambar !== ''" :src="$store.getters['setting/cdnBasePathDiscussion']+cachePembahasan.pembahasan.gambar" class="img-fluid" alt="">
                </div>
                <p v-else-if="cachePembahasan.pembahasan.gambar === null || cachePembahasan.pembahasan.gambar === ''" v-html="cachePembahasan.pembahasan.isi"></p>
                <p v-else>
                  <img :src="$store.getters['setting/cdnBasePathDiscussion']+cachePembahasan.pembahasan.gambar" class="img-fluid" alt="gambar pembahasan">
                </p>
                <p class="mt-3"><b>Jawaban : {{correctAnswer}}</b> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Finish -->
      <!-- Modal Pause-->
      <modal
        name="modal-pause"
        height="auto"
        classes="modal-popup2"
        transition="scale"
        :clickToClose="false"
      >
<!--        <div class="modal-dialog modal-sm sh">-->
            <!-- Modal body -->
            <div class="modal-body modal-pause">
              <img src="~/assets/img/wasit-stopwatch.png">
              <br>
              <div class="">
                <button @click="pauseState()" class="btn btn-info btn-pause" data-dismiss="modal">Lanjut</button>
                <button class="btn btn-light btn-pause" @click="showModalKeluar()">Menyerah</button>
              </div>
              <br>
              <!--              <a href="javascript:void(0)" @click="showModalLaporan()">Laporkan soal test</a>-->
            </div>
<!--        </div>-->
      </modal>
      <modal
        name="modal-keluar"
        height="auto"
        transition="scale"
        :clickToClose="false"
      >
        <!--        <div class="modal-dialog modal-sm sh">-->
        <!-- Modal body -->
        <div class="modal-body modal-pause">
          <div>
            <h6>Kamu yakin mau keluar dari tes?</h6>
            <p>Catatan:</p>
            <p>Jika kamu meninggalkan sesi tes sekarang,
              skor dan nilaimu tidak dapat terlihat.</p>
          </div>
          <div class="form-group">
            <button @click="btnCancelKeluar" type="submit" class="btn btn-light">Kembali</button>
            <button @click="keluarTest" type="submit" class="btn btn-info">Keluar</button>
          </div>

        </div>
        <!--        </div>-->
      </modal>

      <div class="modal" data-backdrop="static" data-keyboard="false" id="modalPause">
          <div class="modal-dialog">
            <div class="modal-content modal-popup2">
              <!-- Modal body -->
              <div class="modal-body modal-pause">
                <img src="~/assets/img/wasit-stopwatch.png">
                <br>
                <div class="">
                  <button @click="pauseState()" class="btn btn-info btn-pause" data-dismiss="modal">Lanjut</button>
                  <button class="btn btn-light btn-pause" @click="showModalKeluar()">Menyerah</button>
                </div>
                <br>
  <!--              <a href="javascript:void(0)" @click="showModalLaporan()">Laporkan soal test</a>-->
              </div>

            </div>
          </div>
        </div>
      <!-- End Modal Pause-->
        <!-- Modal Laporan-->
      <div class="modal" id="modalLaporkan">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h6>Apa alasanmu melaporkan soal tes ini?</h6>
              </div>
              <!-- Modal body -->
              <div class="modal-body modal-pause">
                <div class="form-group" style="text-align: left">
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customCheck1" @change="rbLain2($event)" v-model="rbReport" value="Soal ini mengandung unsur SARA">
                    <label class="custom-control-label" for="customCheck1">Soal ini mengandung unsur SARA</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customCheck2" @change="rbLain2($event)" v-model="rbReport" value="Soal ini tidak sesuai dengan etika bahasa indonesia yang baik dan benar">
                    <label class="custom-control-label" for="customCheck2">Soal ini tidak sesuai dengan etika bahasa indonesia yang baik dan benar</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customCheck3" @change="rbLain2($event)" v-model="rbReport" value="Jawaban tidak ada yang benar">
                    <label class="custom-control-label" for="customCheck3">Jawaban tidak ada yang benar</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customCheck4" @change="rbLain2($event)" v-model="rbReport" value="Lain - lain">
                    <label class="custom-control-label" for="customCheck4">Lain - lain</label>
                  </div>
                  <ValidationProvider name="Lain-lain" rules="required" v-slot="{ errors }">
                    <div class="custom-control custom-radio">
                      <input :disabled="isLain2" type="text" name="voucher" v-model="inputLain2" :class="{'req-validate': errors.length > 0, 'form-control': true}">
                      <span class="merah">{{ errors[0] }}</span>
                    </div>
                  </ValidationProvider>
<!--                  <div class="custom-control custom-radio">-->
<!--                    <input :disabled="isLain2" type="text" name="voucher" v-model="inputLain2" :class="{'form-control': true}" v-validate="'required'">-->
<!--                  </div>-->
                </div>
                <div class="form-group">
                  <button @click="laporkanSoal" type="submit" class="btn btn-primary btn-block">Laporkan</button>
                  <span :hidden="boolLaporkan" class="text-red">Pilih alasan terlebih dahulu</span>
                </div>

              </div>

            </div>
          </div>
        </div>
        <!-- End Modal Laporan-->
        <!-- Modal Keluar-->
      <div class="modal" id="modalKeluar">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <!-- Modal body -->
              <div class="modal-body modal-pause">
                <div>
                  <h6>Kamu yakin mau keluar dari tes?</h6>
                  <p>Catatan:</p>
                  <p>Jika kamu meninggalkan sesi tes sekarang,
                    skor dan nilaimu tidak dapat terlihat.</p>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-light" data-dismiss="modal">Kembali</button>
                  <button @click="keluarTest" type="submit" class="btn btn-info">Keluar</button>
                </div>

              </div>

            </div>
          </div>
        </div>
        <!-- End Modal Pause-->
      <!-- Modal Keluar-->
      <div class="modal" id="modalFinishTest" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <!-- Modal body -->
<!--            <div class="modal-body">-->
              <div class="finish">
                <div class="finish-contnet">
                  <h3>MISI SELESAI!</h3>
                  <img src="~/assets/img/ceklis.png" class="img-fluid" alt="">
                  <div class="mt-5">
<!--                    <a href="" class="btn btn-white">Lihat Hasil</a>-->
<!--                        <nuxt-link class="btn btn-white" :to="`${$route.params.id_paket_soal}/hasil-test`">Lihat Hasil</nuxt-link>-->
                        <a class="btn btn-white" @click="endModalTest" href="javascript:void(0)">Lihat Hasil</a>
                  </div>
                </div>
              </div>
<!--              <div class="form-group">-->
<!--                <button type="submit" class="btn btn-light" data-dismiss="modal">Kembali</button>-->
<!--                <button @click="keluarTest" type="submit" class="btn btn-info">Keluar</button>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Pause-->

      <!-- <div class="modal fade" id="finish-test" tabindex="-1" role="dialog" aria-labelledby="finish-test" aria-hidden="true"> -->
<!--      <div class="finish">-->
<!--            <div class="finish-contnet">-->
<!--                <h3>MISI SELESAI!</h3>-->
<!--                <img src="~/assets/img/ceklis.png" class="img-fluid" alt="">-->
<!--                <div class="mt-5">-->
<!--                  &lt;!&ndash; <a href="" class="btn btn-white">Lihat Hasil</a> &ndash;&gt;-->
<!--                  <nuxt-link class="btn btn-white" :to="'/tests/'+$route.params.paketSoal+'/hasil-test'">Lihat Hasil</nuxt-link>-->
<!--                </div>-->
<!--            </div>-->
<!--          </div>-->
<!--    </div>-->
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'
import eduLoader from '~/components/loader/ripple.vue'
import { mapState } from 'vuex'

export default {
    layout: 'layout-test',
    middleware: 'router-auth',
    components: {
      eduLoader
    },
    // transition: 'page',
    head () {
      return {
        title: this.title,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Tes Ujian | Nama Module | Nama Tema' }
        ],
        bodyAttrs: {
            class: 'bg-game'
        },
      }
    },
    data: () => ({
      isModalOpen: false,
       isNotYetAnswered: false,
       isLastQuestion: 0,
       cacheUserAnswer: [],
       nSalah: false,
       loadingSoal: null,
       rLoader: null,
       isLain2: true,
       title: 'Latihan Soal',
       inputLain2: '',
       boolLaporkan: true,
       timerRunning: true,
       rbReport: 'Soal ini mengandung unsur SARA',
       numQuest: -1,
       numNotyetAns: 0,
       secLabel: '00',
       minLabel: '00',
       houLabel: '00',
       totalSeconds: 0,
       myInterval: null,
       // timer: '00:00:00',
       time: 0,
       isPopUp: true,
        listQuestion: [],
        classScore: 'hidden',
        scoreBoard: 0,
        scoreUp: 200,
        qIndex: 1,
        questClass: '',
        hiddenPrev: 1,
        hiddenNext: 0,
        hiddenEnd: 1,
        disableClass: '',
        questAnswered: 0,
        correctAnswer: '',
        endTest: false,
        // keyCode: 0,
        userAnswer: [],
        detailsSoal: {
          module_id: null,
          paketSoalId: null
        },
        cdnBasePathChoice: 'https://storage.googleapis.com/edutore-cdn/public/soal/answer_choice/',
        cdnBasePathQuestion: 'https://storage.googleapis.com/edutore-cdn/public/soal/question/'
    }),
    async asyncData(context){

      // console.log(context.store.state.auth.user.token)
      // context.store.commit('exam/fillSoal', context.params)
      // const getSoal = context.$axios.$get(`soals/modules/${context.params.id_module}/paket_soal/${context.params.id_paket_soal}`, {headers: {'x-access-token': context.store.state.auth.user.token}})
      // console.log(getSoal.data.rows)
      return {
        // listQuestion: getSoal.data.rows
      }
    },
    async fetch({store}){
      store.commit('exam/getCacheJawabanSoal')
      await store.commit('exam/getCacheSessionModuleUser')
    },
    async created() {
      // console.log(this.cacheJawabanSoalUser)
      try{
        if (this.$store.state.exam.onGoingSoal === null){
          await this.$store.dispatch('exam/fillSoal', {
            type_test: this.$route.params.tipe_test,
            id_module: this.$route.params.id_module,
            id_paket_soal: this.$route.params.id_paket_soal,
            id_langganan: this.detailModule.id_langganan
          })
            .then(async (res) => {
              // console.log(this.cacheJawabanSoalUser)
              // console.log(res.data)
              let obj = res.data.rows
              // console.log(obj[1])
              if (this.cacheJawabanSoalUser.length !== 0) {
                this.questAnswered = this.cacheJawabanSoalUser.length
                res.data.rows.forEach((element, index) => {
                  this.cacheJawabanSoalUser.forEach((element) => {
                    // console.log(index)
                    if (index + 1 === element.numberSoal) {
                      element.icoClass === 'ico benar' ? this.scoreBoard += 100 : this.scoreBoard += 0
                      res.data.rows[index].jawabans[element.userAnswer].done = element.icoClass
                      res.data.rows[index].answer = element.userAnswer === 0 ? 'A' : element.userAnswer === 1 ? 'B' : element.userAnswer === 2 ? 'C' : element.userAnswer === 3 ? 'D' : 'E'
                    }
                  })
                })
              }
              this.listQuestion = res.data.rows
              await this.$store.commit('exam/setCachePembahasan', this.listQuestion[this.qIndex + this.numQuest])
              this.$route.query.s === this.listQuestion.length.toString() ? (this.hiddenNext = 1, this.hiddenPrev = 0) : this.$route.query.s === '1' ? this.hiddenPrev = 1 : this.hiddenPrev = 0
              this.qIndex = parseInt(this.$route.query.s)
              this.loadingSoal = false
              this.isAnswered(this.qIndex + this.numQuest)
            })
            .catch((e) => {
              console.log(e)
            })
        }else{
          // console.log(this.cacheJawabanSoalUser)
          if (this.cacheJawabanSoalUser.length !== 0){
            this.cacheJawabanSoalUser.forEach((element) => {
              // console.log(element)
              element.icoClass === 'ico benar' ? this.scoreBoard += 100 : this.scoreBoard += 0
            })
          }
          this.qIndex = parseInt(this.$route.query.s)
          this.loadingSoal = false
          this.listQuestion = this.$store.state.exam.onGoingSoal.data.rows
          await this.$store.commit('exam/setCachePembahasan', this.listQuestion[this.qIndex + this.numQuest])
          this.$route.query.s === this.listQuestion.length.toString() ? (this.hiddenNext = 1, this.hiddenPrev = 0) : this.$route.query.s === '1' ? this.hiddenPrev = 1 : this.hiddenPrev = 0
          // this.listQuestion[this.qIndex+this.numQuest].answer = 'A'
          // console.log(this.listQuestion, this.$store.state.exam.onGoingSoal.data.rows)
        }
      }
      catch (ex){
        console.log('error '+ ex)
      }
    },
    mounted() {
      if (this.$store.getters['edutest/isCheckedTime']){
        this.myInterval = setInterval(this.setTime, 1000);
      }
      document.addEventListener('keydown', this.pressedKey)
      // $(document).click(function (e) {
      //   if ($('body').hasClass('modal-open')) {
      //     console.log('click')
      //   }
      // })
      this.firstQuestion()
    },
    watch: {
      loadingSoal(){
        this.rLoader.hide()
        // console.log('value change')
      },
      // cacheJawabanSoalUser(){
        // this.rLoader.hide()
      // },
    },
    computed: {
      ...mapState('exam', {
        examLoadingSoal: state => state.examLoadingSoal,
        cacheJawabanSoalUser: state => state.cacheJawabanSoalUser,
        detailModule: state => state.userCacheSessionModule,
        cachePembahasan: state => state.cachePembahasan,
      }),
      zeroFill(){
         let n = this.scoreBoard
         let l = 7
         return ('0000000000'+n).slice(-l);
       },
       calcPercenPage () {
        //  console.log((100/this.listQuestion.length)*(this.qIndex+2))
         return ((100 / this.listQuestion.length) * (this.questAnswered))
       },
    },
    methods: {
      btnCancelKeluar(){
        this.$modal.hide('modal-keluar')
      },
      endModalTest(){
        $('#modalFinishTest').modal('hide')
        this.$nuxt.$router.push(`${this.$route.params.id_paket_soal}/hasil-test`)
      },
      testx() {
        // console.log(this.$store.state.exam, 'from testx')
        // console.log(this.$cookies.get('user-cache-jawaban-soal'))
        // console.log(this.cachePembahasan)
        this.$modal.show('modal-keluar');
        // console.log(this.listQuestion[this.qIndex+this.numQuest])
        // console.log(this.cacheJawabanSoalUser)
      },
      testLoader() {
        this.rLoader = this.$loading.show({
            // Optional parameters
            container: this.fullPage ? null : this.$refs.demo,
            // container: this.$refs.demo,
            canCancel: false,
            onCancel: this.onCancel,
            transition: 'fade',
            // isFullPage: false,
            // opacity: 0.8
          },{
            // Pass slots by their names
            default: this.$createElement(eduLoader),
          }
        );
        // simulate AJAX
        // setTimeout(() => {
        //   this.rLoader.hide()
        // }, 50000)
      },
      rbLain2(e){
        this.isLain2 = this.rbReport !== 'Lain - lain';
      },
      laporkanSoal(){
        // console.log(this.listQuestion[this.qIndex+this.numQuest].id, this.detailsSoal.paketSoalId)
        let alasan = this.rbReport
        !this.isLain2 ? alasan = this.inputLain2 : ''
        let data = {
          paketSoalId: this.detailModule.paket_soal_id,
          soalId: this.listQuestion[this.qIndex+this.numQuest].id,
          alasan: alasan
        }
        // console.log(data)
        // console.log(this.detailModule)
        this.$store.dispatch('test/laporkanSoal', data)
          .then((response) => {
            // console.log(response)
            if (response.success){
              this.$toast.show('Soal berhasil dilaporkan.')
              $('#modalLaporkan').modal('hide');
            }else{
              this.$toast.show('Soal gagal dilaporkan.')
              $('#modalLaporkan').modal('hide');
            }
          })
          .catch((error) => {
            console.log(error)
          })
        // console.log('lapor')
      },
      firstQuestion(){
        if (this.userAnswer.length < this.qIndex){
           let ans = {
            no_soal: this.qIndex,
            module_id: null,
            soal_id: null,
            jawaban_id: null,
            paket_soal_id: null
          }
          // this.qIndex++
          this.userAnswer.push(ans)
        }
      },
      notAnsweredQuest(){
        // console.log(this.userAnswer)
        // let arrQuestNotAns = []
        // let totalAnswered = 0
        // this.userAnswer.forEach(element => {
        //   // console.log(element.no_soal)
        //
        //   // return element.soal_id === null
        //   if (element.soal_id === null){
        //     arrQuestNotAns.push(element.no_soal)
        //     // return element.no_soal
        //   }else {
        //     totalAnswered++
        //   }
        //   // console.log(element.soal_id)
        //
        // });
        // // console.log(totalAnswered, arrQuestNotAns.length)
        // arrQuestNotAns.length === 0 ? this.numNotyetAns = totalAnswered+1 : this.numNotyetAns = arrQuestNotAns[0]

        // console.log(this.numNotyetAns)
        // this.numNotyetAns =
        //
        this.listQuestion.some((element, index) => {
          if(!element.hasOwnProperty('answer')){
            // this.qIndex = index+1
            // console.log(`soal pada nomer ${index+1} kosong, kita akan loncat kesitu`)
            this.isNotYetAnswered = false
            return true
          }else{
            if (this.listQuestion.length === index+1){
              this.isNotYetAnswered = true
            }
            // console.log(this.listQuestion.length, index+1)
          }
        })
      },
      loncatKeSoalKosong(){
        this.listQuestion.some((element, index) => {
          if(!element.hasOwnProperty('answer')){
            this.qIndex = index+1
            this.$nuxt.$router.push({query: {s: this.qIndex}})
            this.disableClass = ''
            // console.log(`soal pada nomer ${index+1} kosong, kita akan loncat kesitu`)
            this.isNotYetAnswered = false
            return true
          }else{
            if (this.listQuestion.length === index+1){
              this.isNotYetAnswered = true
            }
            // console.log(`${index+1}`)
          }
        })
        // console.log(this.listQuestion)
          // console.log(this.listQuestion[this.numNotyetAns+this.numQuest])
          // this.hiddenNext = 0
          // this.notAnsweredQuest()
          // this.qIndex = this.numNotyetAns
          // this.qIndex === this.listQuestion.length ? this.hiddenNext = 1 : this.hiddenNext = 0
          // this.disableClass = ''
          // console.log(this.qIndex, this.listQuestion.length)
          // console.log(this.userAnswer)
      },
      testBlur(){
        if (this.qIndex !== this.listQuestion.length){
          this.qIndex += 1
          this.$nuxt.$router.push({query: {s: this.qIndex}})
          this.isAnswered(this.qIndex+this.numQuest)
        }
        // console.log(this.$route.query.s, this.listQuestion.length, this.qIndex)
        this.$route.query.s === this.listQuestion.length-1 ? this.hiddenEnd = 0 :  this.hiddenNext = 1
        this.$route.query.s !== this.listQuestion.length-1 ? this.hiddenPrev = 0 :  this.hiddenNext = 1
        this.$route.query.s !== '1' ? this.isLastQuestion = 1 : this.isLastQuestion = 0
        if (this.$route.query.s !== this.listQuestion.length){
          this.hiddenNext = 0
        }
        // console.log(this.listQuestion)
        // console.log('on blur')
        this.isPopUp = true
      },
      pauseState(){
        if(this.isModalOpen){
          this.isModalOpen = false
          this.$modal.hide('modal-pause');
        }else{
          this.isModalOpen = true
          this.$modal.show('modal-pause');
        }

        // console.log(this.$store.state.edutest.isCheckedTime)
        if (this.$store.state.edutest.isCheckedTime){
          if (this.timerRunning){
            // console.log('its paused')
            clearInterval(this.myInterval)
            this.timerRunning = false
            // this.myInterval = setInterval(this.setTime, 1000);
          }else{
            // console.log('its start')
            this.myInterval = setInterval(this.setTime, 1000);
            // clearInterval(this.myInterval)
            this.timerRunning = true
          }
        }

        // console.log('its paused')
      },
      setTime(){
        ++this.totalSeconds;
        this.secLabel = this.pad(this.totalSeconds % 60);
        this.minLabel = this.pad(parseInt(this.totalSeconds / 60));
      },
      pad(val){
        var valString = val + "";
        if (valString.length < 2) {
          return "0" + valString;
        } else {
          return valString;
        }
      },
      showModalLaporan() {
        //let element = this.$refs.modal.$el
        $('#modalPause').modal('hide');
        $('#modalLaporkan').modal('show');
      },
      showModalKeluar() {
        this.$modal.hide('modal-pause')
        this.$modal.show('modal-keluar')
        //let element = this.$refs.modal.$el
        // $('#modalPause').modal('hide');
        // $('#modalKeluar').modal('show');
      },
      pressedKey() {
        // console.log(this.isPopUp)
        if (this.isPopUp){
          // console.log(event.keyCode)
          if (event.keyCode === 37 && this.hiddenPrev === 0){
            $('#finish').modal('hide');

            this.prevQuest()
          } else if (event.keyCode === 39 && this.hiddenNext === 0){
            // console.log(event.keyCode)
            this.nextQuest()
          }
        }
        // console.log(this.qIndex, this.listQuestion.length-2, this.hiddenNext)

      },
      arrowKeyPress(){
        // console.log('im pressed')
          if (event.keyCode === 37 && this.qIndex > 0){
            // console.log('left')
            this.prevQuest()
          } else if (event.keyCode === 39 && this.qIndex < this.listQuestion.length){
            // console.log('right')
            this.nextQuest()
          }

      },
      getCorrectAnswered () {
        this.listQuestion[this.qIndex+this.numQuest].jawabans.forEach((element, i) => {
          // console.log(element)
          element.is_correct ? this.correctAnswer = this.listAbjad(i) : ''
        });
        // console.log('correct answer from this question is : '+this.correctAnswer)
      },
      isAnswered (idx) {
        // console.log(this.listQuestion[idx].answer)
        // console.log(idx)
        try {
          if (this.listQuestion[idx].answer === undefined){

            this.disableClass = ''
          }else{
            this.disableClass = 'avoid-clicks'
          }
        }
        catch (ex) {
        console.log('error '+ex)
        }

        // this.listQuestion[idx].answer === undefined ?  this.disableClass = '': this.disableClass = 'avoid-clicks'

      },
      clearHtmlTags (strings) {
        if (strings === null){
          return strings
        }else{
          return strings.replace(/<\/?[^>]+(>|$)/g, "")
        }
      },
      listAbjad(idx) {
        switch (idx) {
          case 0:
          return "A";
          case 1:
          return "B";
          case 2:
          return "C";
          case 3:
          return "D";
          case 4:
          return "E";
        }
      },
      async getSoal() {
            // console.log(this.$store.getters['test/soal'].data.rows)
            if (this.$store.getters['test/soal'] === null){
               this.$store.dispatch('test/setSoal', this.$store.getters['test/sessionThema'])
              .then(result => {
                if (result.success){
                    // console.log(result)
                    this.detailsSoal.paketSoalId = result.paketSoalId
                    this.listQuestion = result.data.rows
                    // console.log(this.listQuestion[this.qIndex+this.numQuest].gambar)
                    // console.log(this.detailsSoal.paketSoalId)
                } else {
                  // console.log(response)
                  if (result.data.message === 'Token is Invalid'){
                    this.$toast.show('Reconnecting. Please reload the page.');
                    this.reLogin()
                    // this.getMyModule()
                    // console.log('reloaddded')
                  }else if (result.data.message.includes('token has expired')){
                    this.userSessionExpired()
                  }
                }
              })
            }else{
              this.listQuestion = this.$store.getters['test/soal'].data.rows
            }
            // console.log(this.$store.getters['test/sessionSoal'])
            // console.log(this.$cookies.get('session-soal'))

            // console.log(this.$store.getters['test/soal'])


            // for (let x = 0; x < this.listQuestion.length; x++) {
            //   this.listQuestion[x].answer = null
            // }

            // this.listQuestion[0].jawabans.forEach(element => {
            //   console.log(element.isi)
            // });

            // console.log(this.listQuestion[0].jawabans)
        }, // GOING DELETED
      pembahasan () {
        $('#pembahasan').modal('show');
        // console.log(this.isPopUp)
        this.isPopUp = false
      },
      leaving: function () {
                alert("Leaving...");
            },
      testFinished () {
        $('#modalFinishTest').modal({backdrop: 'static', keyboard: false}, 'show')
        let data = {
          nilaiAkhir: this.scoreBoard,
          totalSoal: this.listQuestion.length, // number of queston
          timeElapsed: this.houLabel+':'+this.minLabel+':'+this.secLabel
        }
        let filteredAnswer = []
        clearInterval(this.myInterval)
        this.userAnswer.forEach(element => {
          if (element.soal_id !== null){
            filteredAnswer.push(element)
          }
          // console.log(element)
        });
        // console.log(filteredAnswer)
        this.endTest = true
        // this.$store.dispatch('test/assesment', filteredAnswer)
        this.$store.commit('exam/setUserScoreCache', data)
      },
      nextQuest () {
        try {
          this.qIndex += 1
          this.$nuxt.$router.push({query: {s: this.qIndex}})
          // console.log( this.listQuestion[this.qIndex+this.numQuest])
          //  if (this.qIndex === this.userAnswer.length){
          //    let ans = {
          //     no_soal: this.qIndex,
          //     module_id: null,
          //     soal_id: null,
          //     jawaban_id: null,
          //     paket_soal_id: null
          //   }
          //   this.userAnswer.push(ans)
          //  }
          this.firstQuestion()
          // console.log(this.userAnswer)
          // console.log(this.qIndex, this.userAnswer.length)
          this.isAnswered(this.qIndex+this.numQuest)
          this.hiddenPrev = 0
          this.classScore = 'hidden'
          //  this.disableClass = ''
          //  this.listQuestion[this.qIndex].answer === '' ? this.hiddenNext = 1 : this.hiddenNext = 0
          this.qIndex === this.listQuestion.length ? [this.hiddenNext = 1, this.hiddenEnd = 0] : [this.hiddenEnd = 1, this.isLastQuestion = 0]

          //  console.log(this.qIndex, this.listQuestion.length)
          //  console.log(this.userAnswer)
        }
        catch (ex){
          console.log('error '+ex)
        }

       },
      prevQuest () {
       this.qIndex -= 1
       this.$nuxt.$router.push({query: {s: this.qIndex}})
        this.isAnswered(this.qIndex+this.numQuest)
      //  console.log(this.userAnswer.length, this.qIndex)
      //  console.log(this.qIndex)
       this.hiddenNext = 0
       this.qIndex !== this.listQuestion.length ? this.hiddenEnd = 1 : this.isLastQuestion = 0
       this.qIndex !== '1' ? this.isLastQuestion = 1 : this.isLastQuestion = 0
       this.qIndex+this.numQuest === 0 ? this.hiddenPrev = 1 : this.hiddenPrev = 0
      //  console.log(this.listQuestion[this.qIndex])
      //  console.log(this.qIndex, this.listQuestion.length)
      //  console.log(this.userAnswer)
     },
      answer(res, answer, indexAnswer) {
        // console.log(indexAnswer)
        this.userAnswer[this.qIndex+this.numQuest] = {
            no_soal: this.qIndex,
            module_id: this.detailModule.id_module,
            soal_id: res.soal_id,
            jawaban_id: res.id,
            paket_soal_id: this.detailModule.paket_soal_id
        }
        let answerCache = {
          numberSoal: this.qIndex,
          userAnswer: indexAnswer,
          icoClass: null,
        }

        this.$route.params.tipe_test !== 'trial' ? this.$store.dispatch('test/assesment', this.userAnswer[this.qIndex+this.numQuest]) : ''

        this.isPopUp = false
        // console.log(this.listQuestion[this.qIndex])
        this.scoreUp = (res.bobot * 100)
        this.getCorrectAnswered()
        this.questAnswered += 1
        // console.log(this.qIndex)
        this.disableClass = 'avoid-clicks'
        this.listQuestion[this.qIndex+this.numQuest].answer = answer
        // console.log(this.listQuestion[this.qIndex+this.numQuest])
        if (this.qIndex === this.listQuestion.length) {
          // this.isNotYetAnswered = true
          // console.log('hey. its last')
          this.hiddenNext = 1
          this.hiddenEnd = 0
        } else {
          // this.isNotYetAnswered = false
          this.hiddenNext = 0
          this.hiddenEnd = 1
        }

        if (res.is_correct) {
          // console.log(res)
          this.classScore = 'fadeInOut'
          this.scoreBoard += this.scoreUp
          res.done = 'ico benar'
          // setTimeout(() => this.$modal.show('modal-benar'), 1000)
          //  this.$modal.show('hello')
          $('#benar').modal('show')
        } else {
          // console.log('jawaban salah')
          // setTimeout(() => this.$modal.show('modal-salah'), 1000)
          $('#salah').modal('show')
          res.done = 'ico salah'
        }
        answerCache.icoClass = res.done
        this.notAnsweredQuest()
        // this.cacheUserAnswer.push(answerCache)
        this.$store.commit('exam/setCacheJawabanSoal', answerCache)
        this.$store.commit('exam/setCachePembahasan', this.listQuestion[this.qIndex+this.numQuest])
        // console.log(this.listQuestion[this.qIndex+this.numQuest])
      },
      closeAllmodal () {
        $('#benar').modal('hide')
        $('#salah').modal('hide')
        $('#pembahasan').modal('hide')
        $('#finish').modal('show');
        this.isPopUp = true
      },
      keluarTest(){
        // this.$nuxt.$router.push(`/modules/${this.detailModule.id_module}/${this.detailModule.id_tema}?ps_id=${this.detailModule.paket_soal_id}`)
        this.$nuxt.$router.push(`/modules/${this.detailModule.module_slug}`)
        $('#modalKeluar').modal('hide')
        // console.log('keluar test')
      }
    },
    beforeMount() {
      this.testLoader()
    },
}
</script>

<style scoped>
/* remove scrollbar space */
/* optional: just make scrollbar invisible */
/* ::-webkit-scrollbar {
width: 0px;
background: transparent;
} */
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
background: #FF0000;
}

.tGreen {
  color: green;
  margin-top: -50px;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.avoid-clicks {
  pointer-events: none;
}

.fadeInOut {
  /* fade in */
    -webkit-animation: fadeinout 4s linear forwards;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinout 4s linear forwards;
    /* Firefox < 16 */
    -ms-animation: fadeinout 4s linear forwards;
    /* Internet Explorer */
    -o-animation: fadeinout 4s linear forwards;
    /* Opera < 12.1 */
    animation: fadeinout 4s linear forwards;
}

.text-question {
  color: #7F7F7F
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  10%, 50% { opacity: 1; }
}

.fadeOutIn {
   /* fade in */
    -webkit-animation: fadeoutin 1s linear forwards;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeoutin 1s linear forwards;
    /* Firefox < 16 */
    -ms-animation: fadeoutin 1s linear forwards;
    /* Internet Explorer */
    -o-animation: fadeoutin 1s linear forwards;
    /* Opera < 12.1 */
    animation: fadeoutin 1s linear forwards;
}
/* @-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
} */



@keyframes fadeoutin {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}
</style>
