// HEADER WITH BLUE NAVBAR WITHOUT FOOTER
<template>
<!--    <div v-if="l">-->
    <div>
      <edutore-header/>
      <blue-navbar-2 :count="count"/>
    <nuxt/>
    <edutore-long-footer/>
    </div>
</template>

<script>
import edutoreHeader from '~/components/header.vue'
import blueNavbar2 from '~/components/blue-navbar-2.vue'
import edutoreLongFooter from '~/components/long-footer.vue'

export default {
  components: {
    edutoreHeader,
    blueNavbar2,
    edutoreLongFooter,
  },
  // transition: 'page',
  data: () => ({
        l: false,
        isLogin: false,
        header: 'active',
        count: 12,
        // isActiveTabs: ''

    }),
  created () {
    // setTimeout(() => {
      this.l = true
    // }, 100)
  },
}
</script>

