// BASE LAYOUT WITH HEADER AND LONG FOOTER WITH BLUE NAVBAR

<template>
    <div>
      <edutore-header></edutore-header>
      <blue-navbar></blue-navbar>
        <nuxt/>
      <edutore-long-footer></edutore-long-footer>
    </div>
</template>

<script>
import edutoreHeader from '~/components/header.vue'
import edutoreLongFooter from '~/components/long-footer.vue'
import blueNavbar from '~/components/blue-navbar.vue'

export default {
  components: {
    edutoreHeader,
    edutoreLongFooter,
    blueNavbar
  },

  data: () => ({

        // loading: false bg-grey
    }),
  head: () => ({
    bodyAttrs: {
          class: 'bg-grey'
      },
  }),
}
</script>

<style scoped>
/* .loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 200px;
  font-size: 30px;
  font-family: sans-serif;
} */
</style>
