<template>
<!--    <div>-->
    <div v-if="l">
      <edutore-header :isActiveTabs="isActiveTabs"/>
    <nuxt/>
    <edutore-long-footer/>
    </div>
</template>

<script>
import edutoreHeader from '~/components/header.vue'
import edutoreLongFooter from '~/components/long-footer.vue'
export default {
  components: {
    edutoreHeader,
    edutoreLongFooter
  },

  data: () => ({
    l: null,
    isLogin: false,
    isActiveTabs: ''
    }),
  created () {
      // setTimeout(() => {
        this.l = true
      // }, 100)
  },
  methods: {

  },

}
</script>



