<template>
    <div v-if="l" ref="bgl">
      <edutore-header :isActiveTabs="isActiveTabs"/>
      <nuxt/>
      <belajar-gratis-nav-footer/>
      <edutore-long-footer/>
    </div>
</template>

<script>
import edutoreHeader from '~/components/header.vue'
import edutoreLongFooter from '~/components/long-footer.vue'
import belajarGratisNavFooter from '~/components/belajar-gratis/nav-footer.vue'
import eduLoader from '~/components/loader/loader-belajar-gratis.vue'
export default {
  components: {
    edutoreHeader,
    edutoreLongFooter,
    belajarGratisNavFooter

  },
  data: () => ({
    l: null,
    // loading: false,
    isLogin: false,
    isActiveTabs: ''
    }),
  created () {
    if (process.client){
      this.rLoader = this.$loading.show({
          // Optional parameters
          container: this.$refs.bgl,
          // container: this.$refs.demo,
          canCancel: false,
          onCancel: this.onCancel,
          transition: 'fade',
          // isFullPage: false,
          opacity: 1,
          backgroundColor: '#FAFBFC'
        },{
          // Pass slots by their names
          default: this.$createElement(eduLoader),
        }
      );
      setTimeout(() => {
        this.l = true
        this.rLoader.hide()
      }, 3000)
    }
  },
}
</script>



