<template>
  <div class="container">
    <div v-if="error.statusCode === 404" class="berhasil-beli">
      <img src="~/assets/img/history-404-2.png" style="width: 150px">
      <h5>Halaman Error 404</h5>
      <p>Maaf halaman tidak di temukan</p>
      <nuxt-link class="link-underline mydiv" to="/"><h6>Back to Homepage</h6></nuxt-link>
    </div>
    <div v-else-if="this.error.response.data.message.includes('token is expired')" class="berhasil-beli">
      <img src="~/assets/img/history-404-2.png" style="width: 150px">
      <h5>Session anda telah berakhir, Masukan password anda untuk melanjutkan.</h5>
<!--      <label>Password</label>-->
      <input v-model="sandi" v-on:keyup="validateEmailAddress" type="password" class="form-control mb-sm-n1" placeholder="Enter password">
<!--      <span v-show="isInvalidSecretCode" class="text-red">Invalid secret code</span>-->
      <!--      <p>An error occurred</p>-->
<!--      <p>{{error.message}}</p>-->
      <nuxt-link class="link-underline mydiv" to="/"><h6>Back to Homepage</h6></nuxt-link>
    </div>
    <div v-else class="berhasil-beli">
      <img src="~/assets/img/history-404-2.png" style="width: 150px">
      <h5>Halaman Error {{error.statusCode}}</h5>
<!--      <p>An error occurred</p>-->
      <p>{{error.message}}</p>
      <nuxt-link class="link-underline mydiv" to="/"><h6>Back to Homepage</h6></nuxt-link>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      error : {
        type: Object,
        default: () => {}
      },
      statusCode: {
        type: String,
        default: '400'
      }
    },
    data: () => ({
      sandi: ''
    }),
    methods: {
      validateEmailAddress: function(e) {
        if (e.keyCode === 13) {
          // console.log(this.$route)
          this.$nuxt.$router.go(this.$route.fullPath)
          // if (this.sandi === '170411'){
          //   this.isSandiTrue = true
          // }else{
          //   this.isInvalidSecretCode = true
          //   setTimeout(() => {
          //     this.isInvalidSecretCode = false
          //   }, 5000);
          // }
          // alert('Enter was pressed');
        } else if (e.keyCode === 50) {
          // alert('@ was pressed');
        }else{

        }
        this.log += e.key;
      },
    },
    created(){
      let text = 'Firebase ID token has \\"kid\\" claim which does not correspond to a known public key. Most likely the ID , so get a fresh token from your client app and try again.'
      // console.log(text.includes('token is expired'))
      // console.log(this.error)
    }
    // layout: 'blog' // you can set a custom layout for the error page
  }
</script>
<style scoped>
  .berhasil-beli {
    text-align: center;
    width: 500px;
    height: 300px;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;
  }
</style>
