<template>
    <div >
    <blue-test-header/>
      <div class="container">
        <nuxt/>
<!--        <finish-test/>-->
      </div>
    </div>
</template>

<script>
import blueTestHeader from '~/components/blue-test-header.vue'
import finishTest from '~/components/test/finish-test.vue'
export default {
  components: {
    blueTestHeader,
    finishTest
  },
  data: () => ({
        // loading: false,
        // bodyClass: ''
    }),

    // computed: {
    //   bodyClass () {
    //     // return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    //     // console.log('computed-layout')
    //     return this.$store.getters['test/bodyClassTest']
    //   }
    // },
  mounted () {

  },
  methods: {
    // bodyClass () {
    //     // return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    //     // console.log('heloow')
    //     // return this.$store.getters['test/bodyClassTest']
    //   }
  }, 
  fetch() {
    
  },
  beforeMount () {
    // this.$store.dispatch('auth/checkLogin')
  }

}
</script>
