<template>
    <div :class="layout">
    <nuxt/>
    </div>
</template>

<script>
export default {
    data: () => ({
          layout: 'bg-dark-grey h-100'
        // loading: false,
        // bodyClass: ''
    }),
    beforeMount () {
        this.layout = 'bg-dark-grey h-100'
    },
    head () {
        return {
            bodyAttrs: {
                class: 'bg-dark-grey h-100'
            }
        }
    },
}
</script>
<style>

</style>


