<template>
  <div class="berhasil-beli">
    <img src="~/assets/img/success-buy.png" style="width: 150px">
    <h5>Halaman Error 404</h5>
    <p>Maaf anda tidak bisa mengakses halaman ini, mohon login terlebih dahulu</p>
    <nuxt-link class="link-underline mydiv" to="/"><h6>Back to Homepage</h6></nuxt-link>
  </div>
</template>

<style scoped>
  .berhasil-beli {
    text-align: center;
    width: 500px;
    height: 300px;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;
  }
</style>
