<template>
<div class="container position-relative text-center mt-4">
      <p class="text-20 text-yellow">Total Skor</p>
      <p class="text-20">Pedoman Cerdas Fisika</p>

      <p class="text-33">Gelombang Bunyi</p>
      
      <span class="ico ico-star"></span>
      <span class="ico ico-star"></span>

      <div class="score-center">
          000020532
      </div>
    </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
    layout: 'layout-hasil-test',
    // transition: 'page',
    beforeMount() {
      // console.log(this.$store.getters['test/bodyClassTest'])
      // this.$store.dispatch('test/setBodyDataTest', '')
    }
}
</script>