<template>
  <div>
    <div>
      <div v-show="!isSandiTrue" class="berhasil-beli">
        <label>Secret Code</label>
        <input v-model="sandi" v-on:keyup="validateEmailAddress" type="password" class="form-control" placeholder="Enter Secret code">
        <span v-show="isInvalidSecretCode" class="text-red">Invalid secret code</span>
      </div>
    </div>
    <div v-show="isSandiTrue" class="berhasil-beli">
        <img src="~/assets/img/success-buy.png" style="width: 150px">
        <h5>This website is created By :</h5>
        <p>Didi And the gank</p>
        <p>this Website version is {{$store.state.setting.version}}</p>
        <nuxt-link class="link-underline mydiv" to="/"><h6>Homepage</h6></nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
    data: () => ({
      sandi: null,
      isSandiTrue: false,
      isInvalidSecretCode: false
    }),
    methods: {
      validateEmailAddress: function(e) {
        if (e.keyCode === 13) {
          if (this.sandi === '170411'){
            this.isSandiTrue = true
          }else{
            this.isInvalidSecretCode = true
            setTimeout(() => {
              this.isInvalidSecretCode = false
            }, 5000);
          }
          // alert('Enter was pressed');
        } else if (e.keyCode === 50) {
          // alert('@ was pressed');
        }else{

        }
        this.log += e.key;
      },
    },
    mounted(){
        // this.$store.dispatch('cart/clearCart')
        // setTimeout(() => this.$nuxt.$router.push('/edutest'), 5000)
    }
}
</script>


<style scoped>
  .berhasil-beli {
    text-align: center;
    width: 80%;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;

}
</style>
