<template>
  <div class="mobile-view">
    <!-- Swiper -->
    <!-- <div class="swiper-container main-banner">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="~/assets/img/banner-utama.png" class="img-fluid" alt="">
        </div>
        <div class="swiper-slide">
          <img src="~/assets/img/banner-utama.png" class="img-fluid" alt="">
        </div>
      </div> -->
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div> -->
    <!-- You can find this swiper instance object in current component by the "mySwiper"  -->
    <no-ssr>
      <div v-swiper:mySwiper="swiperOption" ref="swiper" @click="sliderClicked" class="mt-home">
      <div class="swiper-wrapper">
        <div v-for="(banner, index) in listBanners" :key="index" class="swiper-slide">
          <nuxt-link :to="banner.link_url">
            <img :src="$store.state.banners.pathImageBanner+banner.image" class="banner" :alt="banner.name">
          </nuxt-link>
        </div>
<!--        <div class="swiper-slide">-->
<!--          <a href="/langganan/6e621f04-5348-4e33-8339-e135bf7e2688">-->
<!--            <img src="~/assets/img/banner-home/banner-2020/Banner-Promo-SelaluSiap.jpg" class="banner" alt="Selalu Siap">-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="swiper-slide">-->
<!--          <nuxt-link to="/edutest">-->
<!--            <img src="~/assets/img/banner-home/Banner Merdeka Belajar 1366x468.jpg" class="banner" alt="Banner Merdeka Belajar">-->
<!--          </nuxt-link>-->
<!--        </div>-->
<!--        <div class="swiper-slide">-->
<!--          <nuxt-link to="/hasil-pencarian/1?v=ramadan">-->
<!--          <img src="~/assets/img/banner-home/banner-2020/Hero-Banner-Kuis-Seru-Ramadan-1366-x-468.jpg" class="banner" alt="Edutore Kuis Seru ramadan">-->
<!--          </nuxt-link>-->
<!--        </div>-->
      </div>
      <div class="swiper-pagination" slot="pagination"></div>
      <div class="swiper-button-next" slot="button-prev"></div>
      <div class="swiper-button-prev" slot="button-next"></div>
    </div>
    </no-ssr>
    <!-- <div class="col-12 mt-3">
          <div id='div-gpt-ad-1585726432401-0'>
              <script>
                  googletag.cmd.push(function() { googletag.display('div-gpt-ad-1585726432401-0'); });
              </script>
          </div>
    </div> -->
    <!--div class="container mt-3 mb-3">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="title-block text-center">
            Kumpulan Latihan Soal Online
          </div>
        </div>
      </div>
    </div-->
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="content-box">
            <div class="row">
              <div class="col-4 col-md-2">
                <nuxt-link to="/edutest">
                  <img src="~/assets/img/category/Icon_1Latihan Soal.png" style="width: 100%"/>
                </nuxt-link>
                <h3 class="text-center fnt-20">Latihan Soal</h3>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://edutore.com/news" target="_blank">
                  <img src="~/assets/img/category/Icon_2Artikel.png" style="width: 100%"/>
                </a>
                <h3 class="text-center fnt-20">Artikel</h3>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://partner.edutore.com" target="_blank">
                  <img src="~/assets/img/category/Icon_3Penerbit.png" style="width: 100%"/>
                </a>
                <h3 class="text-center fnt-20">Penerbit</h3>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://partner.edutore.com">
                  <img src="~/assets/img/category/Icon_4Kursus.png" style="width: 100%"/>
                </a>
                <h3 class="text-center fnt-20">Kursus</h3>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://partner.edutore.com">
                  <img src="~/assets/img/category/Icon_5Bimbel.png" style="width: 100%"/>
                </a>
                <h3 class="text-center fnt-20">Bimbel</h3>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://edutore.com/promo">
                  <img src="~/assets/img/category/Icon_6Voucher.png" style="width: 100%"/>
                </a>
                <h3 class="text-center fnt-20">Voucher</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12">
          <div class="content-box">
            <div v-if="listModulesRecomend.length > 0" class="row">
              <div class="col-6 mb-3" >
                <h2 class="title-home-category text-blue"><b>{{listModulesRecomend[0].name}}</b></h2>
<!--                <h1 class="title-home-category text-blue"><b>{{windowHeight}} | {{windowWidth}} | {{spv}}</b></h1>-->
              </div>
              <div class="col-6 text-right mb-3">
                <nuxt-link class="text-blue" to="/edutest">Lihat Semua ></nuxt-link>
              </div>
              <div v-swiper:mySwiper3="swiperOption1" ref="swiper" class="mt-home">
                <div class="swiper-wrapper">
                  <div class="swiper-slide col-6 col-md-2 mb-3" v-for="(modules, index2) in listModulesRecomend[0].rekomendasi_module" :key="index2" @click="modulesClick(modules.modules.module_slug)">
                    <div>
                      <img :src="basepathImgModule+modules.modules.image" class="img-fluid img-thumb-10px-radius" :alt="modules.modules.name">
                      <!--                                      </div>-->
                      <!--                                      <img :src="basepathImgModule+modules.image" class="img-fluid img-thumb-10px-radius" alt="">-->
                      <div class="mt-1 p-2">
                        <p class="mb-1 prod-title split-text">{{modules.modules.name}}</p>
                        <!--                      <p class="mb-0 ket-pr">{{modules.module_authors[0].penulis.name}}</p>-->
                        <!--                      <p class="mb-0 ket-pr">{{modules.publisher.name }}</p>-->
                        <!-- <p v-if="modules.like.length === 0" class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 0</p>
                        <p v-else class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> {{modules.like[0].likes}}</p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!--                  <div class="swiper-pagination" slot="pagination"></div>-->
                <!--                  <div class="swiper-button-next" slot="button-prev"></div>-->
                <!--                  <div class="swiper-button-prev" slot="button-next"></div>-->
              </div>

              <div class="col-6 mb-3" >
                <h2 class="title-home-category text-blue"><b>{{listModulesRecomend[1].name}}</b></h2>
              </div>
              <div class="col-6 text-right mb-3">
                <nuxt-link class="text-blue" to="/edutest">Lihat Semua ></nuxt-link>
              </div>
              <div v-swiper:mySwiper4="swiperOption1" ref="swiper" class="mt-home">
                <div class="swiper-wrapper">
                  <div class="swiper-slide col-6 col-md-2 mb-3" v-for="(modules, index2) in listModulesRecomend[1].rekomendasi_module" :key="index2" @click="modulesClick(modules.modules.module_slug)">
                    <div>
                      <img :src="basepathImgModule+modules.modules.image" class="img-fluid img-thumb-10px-radius" :alt="modules.modules.name">
                      <!--                                      </div>-->
                      <!--                                      <img :src="basepathImgModule+modules.image" class="img-fluid img-thumb-10px-radius" alt="">-->
                      <div class="mt-1 p-2">
                        <p class="mb-1 prod-title split-text">{{modules.modules.name}}</p>
                        <!--                      <p class="mb-0 ket-pr">{{modules.module_authors[0].penulis.name}}</p>-->
                        <!--                      <p class="mb-0 ket-pr">{{modules.publisher.name }}</p>-->
                        <!-- <p v-if="modules.like.length === 0" class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 0</p>
                        <p v-else class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> {{modules.like[0].likes}}</p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!--                  <div class="swiper-pagination" slot="pagination"></div>-->
                <!--                  <div class="swiper-button-next" slot="button-prev"></div>-->
                <!--                  <div class="swiper-button-prev" slot="button-next"></div>-->
              </div>
              <div class="col-6 mb-3" >
                <h2 class="title-home-category text-blue"><b>{{listModulesRecomend[2].name}}</b></h2>
              </div>
              <div class="col-6 text-right mb-3">
                <nuxt-link class="text-blue" to="/edutest">Lihat Semua ></nuxt-link>
              </div>
              <div v-swiper:mySwiper5="swiperOption1" ref="swiper" class="mt-home">
                <div class="swiper-wrapper">
                  <div class="swiper-slide col-6 col-md-2 mb-3" v-for="(modules, index2) in listModulesRecomend[2].rekomendasi_module" :key="index2" @click="modulesClick(modules.modules.module_slug)">
                    <div>
                      <img :src="basepathImgModule+modules.modules.image" class="img-fluid img-thumb-10px-radius" :alt="modules.modules.name">
                      <!--                                      </div>-->
                      <!--                                      <img :src="basepathImgModule+modules.image" class="img-fluid img-thumb-10px-radius" alt="">-->
                      <div class="mt-1 p-2">
                        <p class="mb-1 prod-title split-text">{{modules.modules.name}}</p>
                        <!--                      <p class="mb-0 ket-pr">{{modules.module_authors[0].penulis.name}}</p>-->
                        <!--                      <p class="mb-0 ket-pr">{{modules.publisher.name }}</p>-->
                        <!-- <p v-if="modules.like.length === 0" class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 0</p>
                        <p v-else class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> {{modules.like[0].likes}}</p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!--                  <div class="swiper-pagination" slot="pagination"></div>-->
                <!--                  <div class="swiper-button-next" slot="button-prev"></div>-->
                <!--                  <div class="swiper-button-prev" slot="button-next"></div>-->
              </div>
              <div class="col-6 mb-3" >
                <h2 class="title-home-category text-blue"><b>{{listModulesRecomend[3].name}}</b></h2>
              </div>
              <div class="col-6 text-right mb-3">
                <nuxt-link class="text-blue" to="/edutest">Lihat Semua ></nuxt-link>
              </div>
              <div v-swiper:mySwiper6="swiperOption1" ref="swiper" class="mt-home">
                <div class="swiper-wrapper">
                  <div class="swiper-slide col-6 col-md-2 mb-3" v-for="(modules, index2) in listModulesRecomend[3].rekomendasi_module" :key="index2" @click="modulesClick(modules.modules.module_slug)">
                    <div>
                      <img :src="basepathImgModule+modules.modules.image" class="img-fluid img-thumb-10px-radius" :alt="modules.modules.name">
                      <!--                                      </div>-->
                      <!--                                      <img :src="basepathImgModule+modules.image" class="img-fluid img-thumb-10px-radius" alt="">-->
                      <div class="mt-1 p-2">
                        <p class="mb-1 prod-title split-text">{{modules.modules.name}}</p>
                        <!--                      <p class="mb-0 ket-pr">{{modules.module_authors[0].penulis.name}}</p>-->
                        <!--                      <p class="mb-0 ket-pr">{{modules.publisher.name }}</p>-->
                        <!-- <p v-if="modules.like.length === 0" class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 0</p>
                        <p v-else class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> {{modules.like[0].likes}}</p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!--                  <div class="swiper-pagination" slot="pagination"></div>-->
                <!--                  <div class="swiper-button-next" slot="button-prev"></div>-->
                <!--                  <div class="swiper-button-prev" slot="button-next"></div>-->
              </div>

            </div>
            <div v-else>
              <div class="text-center">
                <loader></loader>
                <!-- <div>
                  <i  mg src="~/assets/img/edu-wink-3.gif" class="img-fluid" alt="">
                </div> -->
                <div><p>Loading books...</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-blue pt-4 pb-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <h3>Jadi Edufriends Sekarang!</h3>
            <p class="mb-0">Dapatkan penawaran menarik dan pengalaman belajar yang menyenangkan </p>
          </div>
          <div class="col-md-2">
            <nuxt-link class="btn btn-warning btn-block" to="/signup">Daftar</nuxt-link>
            <!--a href="javascript:void(0)" class="btn btn-warning btn-block">Daftar</a-->
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-3 mb-3">
      <div class="row">
        <div class="col-md-12">
          <!--<hr class="mt-0">-->
          <div class="row">
            <div class="col-6 mb-3" >
              <h1 class="title-home-category text-blue"><b>Publisher</b></h1>
            </div>
            <div class="col-6 text-right mb-3">
              <a href="https://partner.edutore.com" class="text-blue">Lihat Semua ></a>
            </div>
            <div v-for="(publisher, index) in listPublisher" :key="index" class="col-md-2 col-sm-4 col-4 mb-3">
              <div v-if="publisher.logo !== null" class="logo-sponsor">
                <a :href="'https://partner.edutore.com/#/patner/'+publisher.slug_name">  <img :src="basePathPublisher+publisher.logo" class="img-fluid" :alt="publisher.slug_name"></a>
              </div>
            </div>
            <!-- <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-2.png" class="img-fluid" alt="">
              </div>
            </div> -->
            <!-- <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-3.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-4.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-5.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-6.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-2.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                <img src="~/assets/img/sp-7.png" class="img-fluid" alt="">
              </div>
            </div> -->

          </div>
        </div>
        <!--<div class="banner-side col-md-4">-->
          <!--<a href="https://partner.edutore.com"><img src="~/assets/img/banner-home/Banner_Kanan_Tengah_Edupartner.jpg" class="img-fluid" alt="" style="border-radius: 10px;"></a>-->
        <!--</div>-->
      </div>
    </div>
    <!-- Swiper -->
    <!-- <div class="swiper-container main-banner mt-5">
       <div class="swiper-wrapper">
         <div class="swiper-slide">
           <img src="~/assets/img/sec.png" class="img-fluid" alt="">
         </div>
         <div class="swiper-slide">
           <img src="~/assets/img/sec.png" class="img-fluid" alt="">
         </div>

       </div> -->
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div> -->
    <!--<div v-swiper:mySwiper2="swiperOption">-->
      <!--<div class="swiper-wrapper">-->
        <!--<div class="swiper-slide">-->
          <!--<a href="https://edutore.com/news" target="_blank"><img src="~/assets/img/banner-home/Banner-Edutopics.jpg" class="img-fluid" alt=""></a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="swiper-pagination" slot="pagination"></div>-->
      <!--<div class="swiper-button-next" slot="button-prev"></div>-->
      <!--<div class="swiper-button-prev" slot="button-next"></div>-->

    <!--</div>-->
    <hr/>
    <div class="container">
      <div class="row">
        <div class="col-6 mb-3" >
          <h2 class="title-home-category text-blue"><b>Artikel Seru</b></h2>
        </div>
        <div class="col-6 text-right mb-3">
          <a class="text-blue" href="https://edutore.com/news" target="_blank">Lihat Semua ></a>
        </div>
        <div v-for="(artikel, index) in listArtikel" :key="index" class="col-6" style="margin-bottom: 10px">
          <div class="row">
<!--            <div class="col-6">-->
<!--              <img src="~/assets/img/banner-home/190404 Banner_Banner Edutopics homepage mobile 360 x 213.jpg" style="width: 100%"/>-->
<!--            </div>-->
            <div class="col-12">
<!--              <a :href="artikel.link"><h6>{{artikel.title.rendered}}</h6></a>-->
              <a :href="artikel.url"><h4>{{artikel.title}}</h4></a>
              <div v-html="artikel.content_html">
<!--              <div v-html="artikel.excerpt.rendered">-->

              </div>
<!--              <p>{{artikel.content_html}}</p>-->
            </div>
          </div>
        </div>
<!--        <div class="col-6" style="margin-bottom: 10px">-->
<!--          <div class="row">-->
<!--            <div class="col-6">-->
<!--              <img src="~/assets/img/banner-home/190404 Banner_Banner Edutopics homepage mobile 360 x 213.jpg" style="width: 100%"/>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <h6>Judul Artikel</h6>-->
<!--              <p>Sort Text artikel</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-6" style="margin-bottom: 10px">-->
<!--          <div class="row">-->
<!--            <div class="col-6">-->
<!--              <img src="~/assets/img/banner-home/190404 Banner_Banner Edutopics homepage mobile 360 x 213.jpg" style="width: 100%"/>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <h6>Judul Artikel</h6>-->
<!--              <p>Sort Text artikel</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-6" style="margin-bottom: 10px">-->
<!--          <div class="row">-->
<!--            <div class="col-6">-->
<!--              <img src="~/assets/img/banner-home/190404 Banner_Banner Edutopics homepage mobile 360 x 213.jpg" style="width: 100%"/>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <h6>Judul Artikel</h6>-->
<!--              <p>Sort Text artikel</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
    <div class="testimonial bg-blue pt-3 pb-5 mt-3">
      <div class="container">
        <h3 class="text-3812 text-center mb-5">Apa Kata Mereka…</h3>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-4 mb-3">
                <div class="content-box p-01293">
                  <div class="text-center">
                    <div class="user-img mb-5">
                      <img src="~/assets/img/testi-user-1.jpeg" alt="">
                    </div>
                    <p>
                      “Edutore membantu saya dalam
                      proses belajar, terutama dalam mata
                      pelajaran sejarah yang memiliki
                      banyak teori.”
                    </p>
                    <p class="mt-5"><b>Eidensia Clara</b> , JPS International</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="content-box p-01293">
                  <div class="text-center">
                    <div class="user-img mb-5">
                      <img src="~/assets/img/testi-user-2.jpeg" alt="">
                    </div>
                    <p>
                      “Saya senang mengerjakan tes di Edutest
                      karena tampilannya yang menyenangkan. “
                    </p>
                    <p class="mt-5"><b>Shakeela Aquene</b> , SD Al-Fath BSD</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="content-box p-01293">
                  <div class="text-center">
                    <div class="user-img mb-5">
                      <img src="~/assets/img/testi-user-4.jpg" alt="">
                    </div>
                    <p>
                      “Alhamdulillah, kini Aku telah diterima di Fakultas Kedokteran - UIN Jakarta. Terima kasih, Edutore”
                    </p>
                    <p class="mt-5"><b>Farah Zikra</b> , SMA Nurul Ikhlas Padang</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-3 mb-3">
      <!--<nuxt-link to="/edutest"><img src="~/assets/img/banner-home/190404 Banner_Hero Banner Edutest 2 740 x 100.jpg" class="img-fluid" alt=""></nuxt-link>-->
      <div class="row mt-3">
        <div class="col-12">
          <img src="~/assets/img/banner-home/190404 Revisi Banner Infografik Homepage Save for Web.jpg" class="img-fluid" alt="" style="width: 100% !important;">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/kXQYnuK7Huc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <!-- <div class="row mt-3"> -->
        <!-- <div class="col-12">
          <div id='div-gpt-ad-1585726432401-0'>
              <script>
                  googletag.cmd.push(function() { googletag.display('div-gpt-ad-1585726432401-0'); });
              </script>
          </div>
        </div> -->
      </div>
    </div>
  <!-- </div> -->
</template>

<script>
  import axios from 'axios'
  import loader from '~/components/vue-content-loader.vue'
  // import dataRss from '~/assets/js/data/rss'
  import dataRss2 from '~/assets/js/data/rss2'
  // import firebase, {auth} from '~/services/fireinit'
  // import VuetifyLogo from '~/components/VuetifyLogo.vue'
  export default {
    layout: 'base-layout-4',
    middleware: 'router-auth',
    // transition: 'modules',
    components: {
      loader
    },
    async asyncData(context){
      // try{
      //   let newsData = await context.$axios.get('https://edutore.com/news/feed/json')
      //   return {
      //     news: newsData.data.items
      //   }
      // }catch(ex){
      //   // console.log(ex)
      //   let newsData = dataRss2
      //   return {
      //     news: newsData.data.items
      //   }
      // }
    },
    head () {
      return {
        title: 'Mall Edukasi Indonesia',
        // titleTemplate: 'Edutore by Gramedia | '+this.metaTitle,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { name: 'description', content: 'Belajar Latihan soal Gratis, Download App Edutore by Gramedia, Belajar Mandiri dengan Online Learning' },
          // google search engine
          // { itemprop: 'name', content: ''},
          // { itemprop: 'desc', content: `Latihan soal buku ${this.books.name} ${this.books.publisher.name}, Gratis Download App Edutore by Gramedia, Belajar Mandiri dengan Online Learning`},
          // { itemprop: 'image', content: `https://storage.googleapis.com/edutore-cdn/public/module/thumb/${this.books.image}`},
          // facebook
          { hid: 'og:title', property: 'og:title', content: 'Mall Edukasi Indonesia' },
          { hid: 'og:url',property: 'og:url', content: `${process.env.BASE_URL}`},
          { hid: 'og:site_name',property: 'og:site_name', content: 'Edutore' },
          { hid: 'og:description',property: 'og:description', content: 'Belajar Latihan soal Gratis, Download App Edutore by Gramedia, Belajar Mandiri dengan Online Learning' },
          { hid: 'og:image',property: 'og:image', content: `https://news.edutore.com/wp-content/uploads/2019/10/logo-edutore-HiRes.png` },
          // twitter
          { property: 'twitter:title', content: 'Mall Edukasi Indonesia' },
          { property: 'twitter:image', content: `https://news.edutore.com/wp-content/uploads/2019/10/logo-edutore-HiRes.png` },
          { property: 'twitter:url', content: `${process.env.BASE_URL}` },
          { property: 'twitter:card', content: '' },
        ],
        link: [
          {
            rel: 'canonical',
            href: process.env.CANONICAL_URL + this.$route.path
          }
        ],
      //   script: [
      // { src: 'https://securepubads.g.doubleclick.net/tag/js/gpt.js', async: true },
      // ],
        // bodyAttrs: {
        //   class: 'bg-grey'
        // }
      }
    },
    data: () => ({
      listBanners: [],
      swiperOption: null,
      swiperOption1: null,
      listArtikel: [],
      listModules: [],
      listPublisher: [],
      listModulesRecomend: [],
      basepathImgModule: null,
      basePathPublisher: null,
      windowWidth: 0,
      windowHeight: 0,
      spv: 6,
      breadcrumbs: [
        {
          url: process.env.BASE_URL,
          text: 'Mall Edukasi Indonesia',
        },
        // {
        //   url: 'https://example.com/foo',
        //   text: 'foo',
        // },
        // {
        //   url: 'https://example.com/foo/bar',
        //   text: 'bar',
        // },
      ],
    }),
    jsonld() {
      const items = this.breadcrumbs.map((item, index) => ({
        '@type': 'ListItem',
        position: index + 1,
        item: {
          '@id': item.url,
          name: item.text,
        },
      }));
      return [{
        '@context': 'http://schema.org',
        '@type': 'BreadcrumbList',
        itemListElement: items,
      },
        {
          "@context" : "http://schema.org",
          "@type" : "Organization",
          "name" : "Edutore",
          "url" : process.env.BASE_URL,
          "sameAs" : [
            "https://web.facebook.com/edutorecom",
            "https://twitter.com/edutorecom",
            "https://www.instagram.com/edutorecom",
            "https://www.youtube.com/channel/UCKHHM8nVVgOAUovFP8vZ0xA",
          ],
          "logo": "https://news.edutore.com/wp-content/uploads/2019/10/logo-edutore-HiRes.png"
        }];
    },
    async created() {
      try {
        this.listBanners = await this.$store.dispatch('banners/getBannerBeranda')
        if (process.client){
          this.initialize()
          // this.getModules()
          this.getRecomendModule()
          this.getPublisher()
          this.getNews()
        }
      } catch (ex) {
        console.log(ex)
      }

    },
    async mounted() {
      // axios.defaults.headers.common = {
      //   'On-Project': 'edutore-x-2020',
      //   'Signature-Key': 'tpsRXbUIl6/iHZ4ZS9gqjz+JnY3qSsr0WESiu6QPRoz0LvU+W+x2drxzi796KcH6',
      // };
      // let {data} = await axios.get(`${process.env.API_URL2}web/sitemap/list/modules/page=1/limit=1000/column-sort=module_slug/sort=asc`)
      // console.log(data)
      this.$nextTick(function () {
        window.addEventListener('resize', this.getWindowWidth);
        window.addEventListener('resize', this.getWindowHeight);

        //Init

        this.getWindowWidth()
        this.getWindowHeight()
      })
    },
    beforeMount () {

      //console.log('hello home')
      // console.log('hello langganan')
      // this.$store.commit('home/setActiveTab', 'home')
      // banners: [
      //   '/1.jpg',
      //   '/2.jpg',
      //   '/3.jpg'
      // ],
      this.swiperOption = {
        autoplay: {
          delay: 3500,
          disableOnInteraction: false
        },
        // loop: true,
        // slidesPerView: 'auto',
        // centeredSlides: true,
        spaceBetween: 30,
        pagination: {
          el: '.swiper-pagination',
          // dynamicBullets: tr ue
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        // on: {
        //   slideChange() {
        //     console.log('onSlideChangeEnd', this);
        //   },
        //   tap() {
        //     console.log('onTap', this);
        //   }
        // }
      }
      // this.initialize()
      // // this.getModules()
      // this.getRecomendModule()
      // this.getPublisher()
      // this.setSwiperOption()
    },
    computed: {
      swiper() {
        return this.$refs.swiper.swiper
      }
    },
    methods: {
      async getNews() {
        // console.log('hellow')
        await this.$store.dispatch('home/getNews')
        .then((res) => {
          // console.log(res.items)
          this.listArtikel = this.shuffleArray(res.items).slice(0, 4)
        })
        .catch((err) => {
          console.log(err)
          const newsData = dataRss2
          this.listArtikel = this.shuffleArray(newsData.data.items).slice(0, 4)
        })
      },
      setSwiperOption(){
        this.swiperOption1 = {
          slidesPerView: this.spv,
          // centeredSlides: true,
          spaceBetween: 10,
          // autoplay: {
          //   delay: 2500,
          //   disableOnInteraction: false
          // },
          // loop: true,
          // slidesPerView: 'auto',
          // centeredSlides: true,
          // pagination: {
          //   // el: '.swiper-pagination',
          //   // dynamicBullets: tr ue
          //   clickable: true
          // },
          // navigation: {
          //   nextEl: '.swiper-button-next',
          //   prevEl: '.swiper-button-prev'
          // },
          // on: {
          //   slideChange() {
          //     console.log('onSlideChangeEnd', this);
          //   },
          //   tap() {
          //     console.log('onTap', this);
          //   }
          // }
        }
      },
      getWindowWidth(event) {
        this.windowWidth = document.documentElement.clientWidth;
        if (this.windowWidth < 400){
          this.spv = 2
          this.setSwiperOption()
        }else{
          this.spv = 6
          this.setSwiperOption()
        }
      },
      getWindowHeight(event) {
        this.windowHeight = document.documentElement.clientHeight;
      },
      sliderClicked: function (event) {
        if(
          !event.target.classList.contains('swiper-pagination-bullet') &&
          !event.target.classList.contains('swiper-button-next') &&
          !event.target.classList.contains('swiper-button-prev')
        ) {
          // switch (this.swiper.realIndex) {
          //   case 0:
          //     this.$nuxt.$router.push('/edutest');
          //     break;
          //   case 1:
          //     window.location.href = 'https://play.google.com/store/apps/details?id=com.edutore02'
          //     break;
          //   case 2:
          //     this.$nuxt.$router.push('/edutest');
          //     break;
          //   case 3:
          //     this.$nuxt.$router.push('/signup');
          //     break;
          //   case 4:
          //     this.$nuxt.$router.push('/signup');
          //     // this.$nuxt.$router.push('/');
          //     break
          // }
          // let item = this.items[this.swiper.realIndex];
          // console.log('clicked item', this.swiper.realIndex);
          // this.$nuxt.$router.push('/');
        }
      },
      initialize(){
        this.basePathPublisher = this.$store.getters['setting/cdnBasePathPublisher']
        this.basepathImgModule = this.$store.getters['setting/cdnBasePathModuleThumb']
        // console.log(this.basepathImgModule)
      },
      async getRecomendModule(){
        this.$store.dispatch('home/getRecomendModules')
          .then(result => {
            if (result.success){
              // console.log(result)
              this.listModulesRecomend = result.data.rows
              // console.log(this.listModulesRecomend)
            } else {
              if (result === 'no Connection'){
                this.$toast.error('No Connection');
              }else{
                // console.log(result)
              }
            }
          })
      },
      async getModules() {
        this.$store.dispatch('home/getModules')
          .then(result => {
            if (result.success){

              this.listModules = result.data.rows
              // console.log(result)
            } else {
              if (result === 'no connection'){
                this.$toast.error('No Connection');
              }else{
                // console.log(result)
              }
            }
          })
        // const modules = await this.$axios.$get('api/v1/modules/page=1/limit=10/sort_by=DESC')
        // this.modules = modules.data.rows
        // console.log(this.modules)
      },
      async getPublisher() {
        this.$store.dispatch('home/getPublisherHome')
          .then(result => {
            if (result.success){
              this.listPublisher = result.data.rows
              // console.log(this.listPublisher)
            } else {
              if (result === 'no connection'){
                this.$toast.error('No Connection');
              }else{
                // console.log(result)
              }
            }
          })
      },
      modulesClick (idx) {

        this.$nuxt.$router.push(`/modules/${idx}?type=0`)
      },
    },
    beforeDestroy() {
      // this.$store.commit('home/setActiveTab', '')
      window.removeEventListener('resize', this.getWindowWidth);
      window.removeEventListener('resize', this.getWindowHeight);
    }
  }
</script>
<style scoped>
  .banner{
    width: 100%;
  }

  .cat{
    width: 135px;
    height: 135px
  }
</style>

