<template>
  <section class="sec-content sec-content-tema xn-mt">
    <div class='container'>
      <div class='row'>
        <div class="col-md-3">
          <div class="login-container ">
            <ul>
              <li><nuxt-link to="/tentang-kami" class="text-blue">Tentang Kami</nuxt-link></li>
              <li><nuxt-link to="/kritik-saran" class="text-black-50">Kritik dan saran</nuxt-link></li>
              <li><nuxt-link to="/kebijakan-privasi" class="text-blue">Kebijakan Privasi</nuxt-link></li>
              <li><nuxt-link to="/terms" class="text-blue">Syarat dan Ketentuan</nuxt-link></li>
              <li><nuxt-link to="/haki" class="text-blue">Hak Cipta</nuxt-link></li>
              <li><nuxt-link to="/faq" class="text-blue">FAQ</nuxt-link></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div class="login-container ">
            <no-ssr>
            <ValidationObserver v-slot="{ handleSubmit }">
              <form @submit.prevent="handleSubmit(onSubmit)">
                <h5 class="text-blue">Punya kritik atau saran untuk Edutore?
                  Jangan ragu dan kirimkan pendapatmu</h5>
                <ValidationProvider name="Nama" rules="required" v-slot="{ errors }">
                  <div class="form-group">
                    <label for="nama">Nama</label>
                    <input v-model="details.nama" type="text" :class="{'req-validate': errors.length > 0, 'form-control': true}" id="nama" placeholder="">
                    <span class="merah">{{ errors[0] }}</span>
                  </div>
                </ValidationProvider>
                <ValidationProvider name="Email" rules="required|email" v-slot="{ errors }">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input v-model="details.email" type="email"  :class="{'req-validate': errors.length > 0, 'form-control': true}" id="email" placeholder="">
                    <span class="merah">{{ errors[0] }}</span>
                  </div>
                </ValidationProvider>
                <ValidationProvider name="No HP" rules="required|min:10|numeric" v-slot="{ errors }">
                  <div class="form-group">
                    <label for="no_hp">No HP</label>
                    <input v-model="details.no_hp" type="text"  :class="{'req-validate': errors.length > 0, 'form-control': true}" id="no_hp" placeholder="">
                    <span class="merah">{{ errors[0] }}</span>
                  </div>
                </ValidationProvider>
                <ValidationProvider name="Judul" rules="required|min:3" v-slot="{ errors }">
                  <div class="form-group">
                    <label for="judul">Judul</label>
                    <input v-model="details.judul" type="text"  :class="{'req-validate': errors.length > 0, 'form-control': true}" id="judul" placeholder="">
                    <span class="merah">{{ errors[0] }}</span>
                  </div>
                </ValidationProvider>
                <ValidationProvider name="Pesan" rules="required|min:5" v-slot="{ errors }">
                  <div class="form-group">
                    <label for="pesan">Pesan</label>
                    <textarea v-model="details.pesan" type="text" :class="{'req-validate': errors.length > 0, 'form-control': true}" id="pesan" placeholder=""></textarea>
                    <span class="merah">{{ errors[0] }}</span>
                  </div>
                </ValidationProvider>
                <div class="form-group">
              <button type="submit" class="btn btn-warning btn-block">Kirim</button>
<!--              <a href="javascript:;" @click="test" class="btn btn-warning btn-block">test modal</a>-->
            </div>
             </form>
            </ValidationObserver>
            </no-ssr>
          </div>
        </div>
      </div>
    </div>
    <modal
      name="hello-world"
      classes="modal-popup"
      transition="scale"
    >
      <div class="modal-dialog modal-sm sh">
        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-body modal-pause">
            <div>
              <h6>Terima Kasih</h6>
              <p>Pesan dan masukan anda akan kami tanggapi secepatnya</p>
              <!--              <button type="submit" data-dismiss="modal" class="btn btn-info">Keluar</button>-->
            </div>
          </div>
        </div>
      </div>
    </modal>
   <v-dialog/>
  </section>
</template>
<script>
  export default {
    layout: 'base-layout-7',
    head () {
      return {
        title: 'Kritik Saran',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Kritik Saran edutore.com' },
          // Facebook Meta tags
          { property: 'og:title', content: 'Kritik Saran Edutore' },
          { property: 'og:url', content: 'https://edutore.com/kritik-saran' },
          { property: 'og:site_name', content: 'edutore' },
          { property: 'og:description', content: 'Kritik saran edutore adalah wadah dari semua user yang ingin memberikan saran2 dan informasi terkait seluruh produk edutore' },
          { property: 'og:image', content: 'https://storage.googleapis.com/edutore-cdn/public/module/thumb/sikat-un-geografi_1565668001.jpg' },
          // { property: 'og:image:type', content: 'image/jpg' },
          // { property: 'og:image:width', content: '800' },
          // { property: 'og:image:height', content: '800' },
          // Twitter Meta tags
          // { name: 'twitter:title', content: 'modules' },
          // { name: 'twitter:image', content: 'https://storage.googleapis.com/edutore-cdn/public/module/thumb/siap un usbn sma ma bahasa indonesia 2019_1553087300.jpg' },
          // { name: 'twitter:url', content: 'https://edutore.com/kritik-saran' },
          // { name: 'twitter:card', content: '' },
        ],
        bodyAttrs: {
          class: 'bg-grey'
        },
      }
    },
    data: () => ({
      details: {
        nama: '',
        email: '',
        no_hp: '',
        judul: '',
        pesan: ''
      }
    }),
    mounted () {

    },
    beforeMount () {

    },
    methods: {
      popModal(){
        this.$modal.show('dialog', {
          title: `<h5 class="text-center">Terima Kasih!</h5>`,
          text: `<p class="text-center">Pesan dan masukan anda akan kami tanggapi secepatnya</p>`,
          buttons: [
            // {
            //   title: 'Deal with it',
            //   handler: () => { alert('Woot!') }
            // },
            // {
            //   title: '',       // Button title
            //   default: true,    // Will be triggered by default if 'Enter' pressed.
            //   handler: () => {} // Button click handler
            // },
            {
              title: 'Close',
              handler: () => {
                this.$nuxt.$router.push('/')
              } // Button click handler
            }
          ]
        })
        // this.$modal.show('hello-world');
      },
      onSubmit(){
        this.submit()
      },
      submit() {
        this.$store.dispatch('kritik-saran/kritikSaran', this.details)
          .then((result) => {
            if (result.success) {
              this.popModal()
              // this.details = {
              //   nama: '',
              //   email: '',
              //   no_hp: '',
              //   judul: '',
              //   pesan: ''
              // }
              // console.log(result)
              this.$toast.success('Kritik dan saran berhasil di kirim.')
            } else {
              this.$toast.error('Terjadi kesalahan, Silahkan hubungi edutore.')
            }

          })
      }
    }
  }
</script>

<style scoped>
  .xn-mt{
    margin-bottom: 20px;
  }

</style>

<style lang="scss">
  .modal-popup{
    background-color: transparent;
    border-radius: 100%;
    /*border: 1px solid rgba(255, 255, 255, 0.65);*/
  }

  .sh{
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.4);
  }
  .scale-enter-active,
  .scale-leave-active {
    transition: all 0.5s;
  }
  .scale-enter,
  .scale-leave-active {
    opacity: 0;
    transform: scale(0.3) translateY(24px);
  }
</style>
