<template>
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-sm-12 my-auto">
                <div class="login-full-container">
                <div class="login-container ">
                    <!-- <form class="" action="" method="post"> -->
                        <div class="form-group">
                          <label for="">No HP / Email</label>
                          <input v-model="login.email" type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                          <label for="">Password</label>
                          <input v-model="login.password" type="password" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <div  class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Ingat saya</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button @click="submitLogin" type="submit" class="btn btn-primary btn-block">MASUK</button>
                        </div>
                        <div class="text-center">
                            <a href="#" @click="test" class="link-underline">Lupa kata sandi?</a>
                        </div>
                    <!-- </form> -->
                </div>
                <div class="login-container">
                    <div class="text-center">
                        Belum punya akun? Yuk <a href="#" class="link-underline">daftar</a> sekarang!
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
    layout: 'login-layout',
    data: () => ({
        login: {
            email: '',
            password: '',
        }

    }),
    mounted () {
    //    this.$store.dispatch('in-game/nuxtServerInit', 'this.login')

    },
    methods : {
        submitLogin () {
            // console.log('isLogin')
            this.$store.dispatch('auth/nuxtServerInit', this.login)
            .then(result => {
            if (result.success){
                this.$router.push('/')
            } else {

            }
            // this.alert = {type: 'success', message: result.data.message}
            // this.loading = false
            // this.$router.push('/admin')
            })
            // .catch(error => {
            //     this.loading = false
            //     if (error.response && error.response.data) {
            //     this.alert = {type: 'error', message: error.response.data.message || error.reponse.status}
            //     }
            // })
        },
        test () {
            // console.log('hei')
            // console.log(this.$store.getters['auth/user'])

            this.$cookies.removeAll()
            // console.log(this.$cookies.get('user'))
        }
    }
}
</script>
