<template>
  <div class="logout">
    <h5>Silahkan login kembali untuk menggunakan layanan edutore</h5>

    <img src="~/assets/img/success-buy.png" style="width: 150px">

<!--    <p>Silahkan login kembali untuk menggunakan layanan edutore</p>-->
    <nuxt-link class="link-underline mydiv" to="/"><h6>Back to Homepage</h6></nuxt-link>
  </div>
</template>

<script>
export default {
  mounted(){
   this.logout()
   setTimeout(() => this.$nuxt.$router.push('/'), 5000)
  },
  methods: {
     logout () {
              this.$store.dispatch('auth/logout', 20)
              // this.isLogin = false
              // this.$router.go()
              // this.$toast.show('Logging out...');
          },
  }
}
</script>

<style scoped>
  .logout {
    text-align: center;
    width: 600px;
    height: 300px;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;

  }
</style>
