<template>
  <section class="sec-content sec-content-tema" style="margin-bottom: 20px">
    <div class='container'>
      <div class='row'>
        <div class="col-md-3">
          <h1>SAMPEL NEWS</h1>
<!--          <div class="login-container ">-->
<!--            <ul>-->
<!--              <li><nuxt-link to="/tentang-kami" class="text-blue">Tentang Kami</nuxt-link></li>-->
<!--              <li><nuxt-link to="/kritik-saran" class="text-blue">Kritik dan saran</nuxt-link></li>-->
<!--              <li><nuxt-link to="/kebijakan-privasi" class="text-blue">Kebijakan Privasi</nuxt-link></li>-->
<!--              <li><nuxt-link to="/terms" class="text-blue">Syarat dan Ketentuan</nuxt-link></li>-->
<!--              <li><nuxt-link to="/haki" class="text-black-50">Hak Cipta</nuxt-link></li>-->

<!--            </ul>-->
<!--          </div>-->
        </div>
<!--        <div class="col-12 col-md-9">-->
<!--          <div class="login-container ">-->
<!--            <VueRssFeed :feedUrl="feedUrl" :name="name" :limit="limit"/>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </section>
</template>
<script>
  import VueRssFeed from "../components/rss-feed/VueRssFeed";
  export default {
    components: {
      VueRssFeed
    },
    layout: 'base-layout-7',
    head () {
      return {
        title: 'News',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {charset: 'utf-8'},
          {name: 'viewport', content: 'width=device-width, initial-scale=1'},
          { hid: 'description', name: 'description', content: 'Hak Cipta' }
        ],
        bodyAttrs: {
          class: 'bg-grey'
        },
      }
    },
    data: () => ({
      feedUrl: "https://staging.edutore.com/news/feed/",
      name: "",
      limit: 5,
    }),
    mounted () {

    },
    beforeMount () {

    },
    methods: {

    }
  }
</script>
<style>
  ol{
    list-style-type: lower-alpha !important;
    margin-left: 20px;
  }
  ol li{
    list-style: lower-alpha !important;
  }
</style>
