<template>
    <div class="berhasil-beli">
      <h3>Selamat, Order via toko berhasil!</h3>
      <br>
        <img src="~/assets/img/success-buy.png" style="width: 150px">
      <br><br>
      <h5>Silahkan selesaikan pembayaran di GRAMEDIA terdekat, dengan menunjukan</h5>
        <h5>ORDER ID:</h5>
      <h1><strong class="text-red">{{orderCode}}</strong></h1>
      <h5> Senilai:</h5>
      <h1><strong class="text-red">{{payment}}</strong></h1>

<!--        <h5>Di toko gramedia terdekat dengan menunjukan KODE ORDER: </h5>-->
<!--        <h1><strong class="text-red">{{orderCode}}</strong></h1>-->
        <h5>Invoice order telah dikirimkan ke EMAIL: </h5>
        <h2><strong class="text-red">{{email}}</strong></h2>
      <h5>Batas waktu pembayaran :</h5>
      <h2><strong class="text-red">{{orderExpired}}</strong></h2>
      <!--        <h4>Silahkan lakukan pembayaran di toko gramedia terdekat, dan tukarkan kode order <strong class="link-underline text-red">{{orderCode}}</strong> ini. Order code ini juga di kirim via email</h4>-->
      <br>
      <nuxt-link class="link-underline mydiv" to="/"><h6>Kembali ke home</h6></nuxt-link>
    </div>
</template>

<script>
export default {
  data: () => ({
  orderCode: 'EDTRGRM',
    email: 'gramedia@edutore.com',
    payment: 0,
    orderExpired: '2019-07-04 18:44:35'
  }),
    mounted(){

        // console.log(this.$cookies.get('order-expired'))
        // console.log(this.$store.getters['cart/orderExpired'])
        if (this.$store.getters['cart/cart'].length > 0){
          // console.log(this.$store.getters['cart/cart'])
          let price = 0
          if (this.$store.getters['cart/totalPriceCart'] === 0){
            this.$store.commit('cart/get_total_price')
          }
          // console.log(this.$store.getters['cart/totalPriceCart'])
          price = this.$store.getters['cart/totalPriceCart']
          // let price = 0
          // console.log(this.$cookies.get('total-price'))
          // this.$store.getters['cart/cart'].forEach(element => {
          //   // console.log(element.price)
          //   price += element.price
          // })
          // console.log(price)
          this.getOrderTimeExpired()
          this.orderCode = this.$store.getters['cart/orderCode']
          this.email = this.$store.getters['auth/user'].email
          this.payment = this.currencyFormat(price, 'Rp. ')+',-'
          // setTimeout(() => this.$nuxt.$router.push('/edutest'), 5000)
          this.$store.dispatch('cart/clearCart') // clear all cart
        // IF CART LANGGANAN
        }else if (this.$store.getters['cart/cartLangganan'].order_nomor !== undefined){
          // console.log('langganan')
          this.getOrderTimeExpired()
          this.orderCode = this.$store.getters['cart/cartLangganan'].id
          this.email = this.$store.getters['auth/user'].email
          this.payment = this.currencyFormat(this.$store.getters['cart/cartLangganan'].total_payment, 'Rp. ')+',-'
          this.$store.dispatch('cart/clearCartLangganan')
          // console.log(this.$store.getters['auth/user'].email)
          // console.log(this.$store.getters['cart/cartLangganan'])
          // console.log(this.$cookies.get('langganan-order'))
          // setTimeout(() => this.$nuxt.$router.push('/edutest'), 5000)
        }else{
          this.$nuxt.$router.push('/')
        }

    },
  methods: {
      getOrderTimeExpired(){
        let date = new Date(this.$store.getters['cart/orderExpired']);
        let year = date.getFullYear();
        let month = date.getMonth()+1;
        let dt = date.getDate();
        let hour = date.getHours()
        let min = date.getMinutes();
        let sec = date.getSeconds();
        // console.log(year+'-' + month + '-'+dt+' '+hour+':'+min+':'+sec);
        this.orderExpired = year+'-' + month + '-'+dt+' '+hour+':'+min+':'+sec
      }
  },
  beforeMount() {

    if (this.$store.getters['cart/cart'].length === 0){
      this.$store.commit('cart/getOrderModule')
      this.$store.commit('cart/getOrderCode')
      this.$store.commit('cart/getOrderExpired')
    }

    if (this.$store.getters['cart/cartLangganan'].length === 0){
      this.$store.commit('cart/getOrderLangganan')
      // this.$store.commit('cart/getOrderCode')
    }
  }
}
</script>


<style scoped>
  .berhasil-beli {
    text-align: center;
    width: 80%;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;

}
</style>
