<template>
    <div class="berhasil-beli">
        <div v-if="isLoading">
          <loader></loader>
          <h5>Loading Content...</h5>
<!--          <a href="javascript:void(0)" @click="test">test api</a>-->
        </div>
        <div v-else>
          <img src="~/assets/img/success-buy.png" style="width: 150px">
          <h5>Selamat, Pembayaran anda berhasil!</h5>
          <p>Pembayaran anda sudah kami terima, selanjutnya anda dapat menggunakan buku-buku yang telah anda beli</p>
          <nuxt-link class="link-underline mydiv" to="/users/my-modules"><h6>Lihat Koleksi saya</h6></nuxt-link>
<!--          <a href="javascript:void(0)" @click="test">test api</a>-->
        </div>

    </div>
</template>

<script>
  import loader from '~/components/vue-content-loader.vue'

export default {
    components: {
      loader
    },
    data: () => ({
      isLoading: false

    }),
    mounted(){
        this.$store.dispatch('cart/clearCart')
        // setTimeout(() => this.$nuxt.$router.push('/edutest'), 5000)
    },
    methods: {
      // test(){
      //   this.$store.dispatch('home/getRecomendModules')
      //     .then((result) => {
      //       this.isLoading = false
      //       console.log(result)
      //     })
      // }
    }
}
</script>


<style scoped>
  .berhasil-beli {
    text-align: center;
    width: 80%;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;

}
</style>
