<template>
  <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12">
                <div class="mt-4">
                    <nuxt-link to="/"><img src="~/assets/img/logo-edustore.png" class="img-fluid" alt="..."></nuxt-link>
                </div>
            </div>
        </div>
    <div class="row">
      <div class="col-md-8 col-12 reg-hide">
        <h1 class="title text-24 text-center mt-4">Hai, Edufriends!</h1>
        <h2 class="title text-18 text-center">Semua bisa pintar bersama Edutore!</h2>
      </div>
      <div class="col-md-4 col-12  my-auto">
        <div class="register-container ">
          <h2 class="title">Daftar Menjadi Edufriend </h2>
          <no-ssr>
          <ValidationObserver v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(onSubmit)">
              <ValidationProvider name="Email" rules="required|email" v-slot="{ errors }">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input v-model="userRegister.email" type="email" :class="{'req-validate': errors.length > 0, 'form-control': true}" id="email" placeholder="">
                  <span class="merah">{{ errors[0] }}</span>
                </div>
              </ValidationProvider>
              <ValidationProvider name="Kata Sandi" rules="required|min:8" v-slot="{ errors }">
                <div class="form-group">
                  <label for="password">Kata Sandi</label>
                  <input name="password" v-model="userRegister.password" id="password" :type="[togglePass ? 'text' : 'password']"  :class="{'req-validate': errors.length > 0, 'form-control': true}" placeholder="">
                  <span @click="toggleShowPass" :class="[togglePass ? 'fa fa-fw fa-eye field-icon toggle-password': 'fa fa-fw fa-eye-slash field-icon toggle-password']"></span>
                  <span class="merah">{{ errors[0] }}</span>
                </div>
              </ValidationProvider>
              <ValidationProvider name="No Hp" rules="required|min:10|max:13|numeric" v-slot="{ errors }">
                <div class="form-group">
                  <label for="phone">No. Hp</label>
                  <input name="phone" v-model="phoneX" id="phone" type="text" :class="{'req-validate': errors.length > 0, 'form-control': true}" placeholder="">
                  <span class="merah">{{ errors[0] }}</span>
                </div>
              </ValidationProvider>
              <ValidationProvider name="Nama" rules="required|min:2" v-slot="{ errors }">
                <div class="form-group">
                  <label for="nama">Nama</label>
                  <input name="name" v-model="userRegister.username" id="nama" type="text"  :class="{'req-validate': errors.length > 0, 'form-control': true}" placeholder="">
                  <span class="merah">{{ errors[0] }}</span>
                </div>
              </ValidationProvider>
              <ValidationProvider name="Referral" rules="min:2|alpha_num" v-slot="{ errors }">
                <div class="form-group">
                  <label for="kode-referal">Kode Referral <small>(jika ada)</small></label>
                  <input name="referral" v-model="userRegister.referal_code" id="kode-referal" type="text"  :class="{'req-validate': errors.length > 0, 'form-control': true}" placeholder="">
                  <span class="merah">{{ errors[0] }}</span>
                  <!--            <span v-show="errors.has('referral')" class="merah">{{ errors.first('referral') }}</span>-->
                </div>
              </ValidationProvider>
              <div v-if="!isLoading" class="form-group">
<!--                <button @click="register" type="submit" class="btn btn-primary btn-block">DAFTAR</button>-->
                <button type="submit" class="btn btn-primary btn-block">DAFTAR</button>
    <!--            <h3 v-else class="text-center">Sign up user...</h3>-->
              </div>
              <div v-else class="form-group text-center">
                <img src="~/assets/img/loading/Ripple-1s-55px.gif" class="img-fluid" alt="...">
              </div>
              <br>
    <!--          <div class="text-center">-->
    <!--              Atau masuk dengan-->
    <!--              &lt;!&ndash; Belum punya akun? Yuk <nuxt-link @click="removeModal" class="link-underline" to="/signup">daftar</nuxt-link> sekarang! &ndash;&gt;-->
    <!--          </div>-->
    <!--          <br>-->
    <!--          &lt;!&ndash; <hr class="hr-text" data-content="AND"> &ndash;&gt;-->
    <!--          <div class="form-group">-->
    <!--            <div class="text-center">-->
    <!--                <button type="button" @click="google" class="btn btn-block btn-outline-secondary btn-login-socmed"><i class="fa fa-google" aria-hidden="true"></i> Masuk Menggunakan Google Akun</button>-->
    <!--            </div>-->
    <!--&lt;!&ndash;            <br>&ndash;&gt;-->
    <!--&lt;!&ndash;            <div class="text-center">&ndash;&gt;-->
    <!--&lt;!&ndash;                <button type="button" @click="facebook" class="btn btn-block btn-outline-primary btn-login-socmed"><span class="fa fa-facebook"></span> Masuk menggunakan Facebook</button>&ndash;&gt;-->
    <!--&lt;!&ndash;            </div>&ndash;&gt;-->
    <!--          </div>-->
              <!--<div class="text-center">-->
                <!--<button type="button" class="btn btn-block btn-outline-secondary"><i class="fa fa-google" aria-hidden="true"></i> Masuk Menggunakan Google Akun</button>-->
              <!--</div>-->
              <!--<br>-->
              <!--<div class="text-center">-->
                <!--<button type="button" class="btn btn-block btn-outline-primary"><span class="fa fa-google-plus-g"></span> Masuk menggunakan Facebook</button>-->
              <!--</div>-->
             </form>
          </ValidationObserver>
          </no-ssr>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'
import Cleave from 'vue-cleave-component';
import 'cleave.js/dist/addons/cleave-phone.id.js';
// require('cleave.js/dist/addons/cleave-phone.{country}');

export default {
    layout: 'signup-layout',
    components: {
      Cleave
    },
    head () {
      return {
        title: 'Signup',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Ayo daftar di edutore sekarang juga!' }
        ],
        bodyAttrs: {
             class: 'bg-image h-100'
        },
      }
    },
    data: () => ({
        togglePass: false,
        isLoading: false,
         userRegister: {
            email: '',
            password: '',
            phone: '',
            username: '',
            address: '',
            referal_code: ''
        },
        phoneX: '',
        options: {
          creditCard: {
            creditCard: true,
            delimiter: '-',
          },
          phoneNumber: {
            phone: true,
            delimiter: '-',
            phoneRegionCode: 'ID'
          },
          date: {
            date: true,
            datePattern: ['d', 'm', 'Y'],
            delimiter: '/',
          },
          number: {
            prefix: '$ ',
            numeral: true,
            numeralPositiveOnly: true,
            noImmediatePrefix: true,
            rawValueTrimPrefix: true,
            numeralIntegerScale: 9,
            numeralDecimalScale: 2
          },
        }
    }),
    computed: {
        // phone(){
        //     if (this.userRegister.phone.startsWith('0')){
        //         return this.userRegister.phone.replace(this.userRegister.phone.substring(0, 1), '+62')
        //     }
        //     return this.userRegister.phone
        // }
    },
    methods: {
      async onSubmit() {
        this.isLoading = true
        this.userRegister.phone = this.phoneX.replace(this.phoneX.substring(0, 1), '+62')
        // console.log(this.userRegister)
        this.$store.dispatch('auth/registerUser', this.userRegister)
          .then(result => {
            // console.log(result)
            this.isLoading = false
            if (result.success === 'true'){
              //   this.isLogin = true
              this.$toast.success('Berhasil Mendaftarkan '+this.userRegister.email);
              this.$store.commit('user/SET_EMAIL_SIGNUP', this.userRegister.email)
              this.userRegister.email = ''
              this.userRegister.password = ''
              this.userRegister.phone = ''
              this.userRegister.username = ''
              this.userRegister.referal_code = ''
              this.phoneX = ''
              // this.userRegister = []
              // return this.userRegister
              this.$nuxt.$router.push('/verify-signup')
            } else {
              // console.log(result.data)
              if (result.data.email === "Terdaftar" && result.data.phone === "Terdaftar"){
                this.$toast.show('Email '+this.userRegister.email+' dan '+this.userRegister.phone+' sudah terdaftar');
              }else if (result.data.email === "Terdaftar" && result.data.phone === "Belum Terdaftar"){
                this.$toast.show('Email '+this.userRegister.email+' sudah terdaftar');
              }else if (result.data.email === "Belum Terdaftar" && result.data.phone === "Terdaftar")
                this.$toast.show('Phone '+this.userRegister.phone+' sudah terdaftar');
              // console.log(result.data)
              // this.$toast.show('user already exist');
            }
            // this.alert = {type: 'success', message: result.data.message}
            // this.loading = false
            // this.$router.push('/admin')
          })
        // console.log('its register')
        // console.log(e)
        // this.register();
      },
      toggleShowPass(){
        if (this.togglePass){
          this.togglePass = false;
        }else{
          this.togglePass = true;
        }
        // console.log('hello toggle')
      },
      setMyModule(){
            this.$store.dispatch('edutest/setMyModule')
        },
      async google() {
    //     await this.$auth.loginWith('google').catch(e => {
    //     this.$toast.show('Error', {icon: "fingerprint"});
    //   })
        this.$store.dispatch('auth/signInWithGoogle')
        .then(() => {
            // location.reload()
            this.setMyModule()
            this.$toast.success('Successfully Logged In with Google');
            this.$nuxt.$router.push('/')
            // $('#login-popup').modal('hide');

            // setTimeout(() => location.reload(), 2000)
        })
        .catch((e) => {
            console.log(e.message)
        })

      },
      async facebook() {
        this.$store.dispatch('auth/signInWithFacebook')
            .then((result) => {
                this.$toast.success('Successfully Logged In with Facebook');
                // $('#login-popup').modal('hide');
                this.setMyModule()
                this.$nuxt.$router.push('/')
                // console.log(this.$store.getters['auth/user'])
                // this.userName = this.$store.getters['auth/user'].name
                // this.photo = this.$store.getters['auth/user'].photo
                // setTimeout(() => location.reload(), 2000)
            })
            .catch((e) => {
                console.log(e.message)
            })
    //       try {
    //     await auth.signInWithPopup(new firebase.auth.FacebookAuthProvider())
    //     console.log('Finished Facebook login')
    //     return location.reload()
    //   } catch (err) {
    //     alert(err)
    //   }

    //      await this.$auth.loginWith('facebook').catch(e => {
    //     this.$toast.show('Error', {icon: "fingerprint"});
    //   })
        // console.log('login facebook')
      },
        register(){
          this.$validator.validateAll().then(x => {
            // console.log(x)
            if (x){
              this.isLoading = true
              this.userRegister.phone = this.phoneX.replace(this.phoneX.substring(0, 1), '+62')
              // console.log(this.userRegister)
              this.$store.dispatch('auth/registerUser', this.userRegister)
                .then(result => {
                  // console.log(result)
                  this.isLoading = false
                  if (result.success === 'true'){
                    //   this.isLogin = true
                    this.$toast.success('Berhasil Mendaftarkan '+this.userRegister.email);
                    this.$store.commit('user/SET_EMAIL_SIGNUP', this.userRegister.email)
                    this.userRegister.email = ''
                    this.userRegister.password = ''
                    this.userRegister.phone = ''
                    this.userRegister.username = ''
                    this.userRegister.referal_code = ''
                    this.phoneX = ''
                    // this.userRegister = []
                    // return this.userRegister
                    this.$nuxt.$router.push('/verify-signup')
                  } else {
                    // console.log(result.data)
                    if (result.data.email === "Terdaftar" && result.data.phone === "Terdaftar"){
                      this.$toast.show('Email '+this.userRegister.email+' dan '+this.userRegister.phone+' sudah terdaftar');
                    }else if (result.data.email === "Terdaftar" && result.data.phone === "Belum Terdaftar"){
                      this.$toast.show('Email '+this.userRegister.email+' sudah terdaftar');
                    }else if (result.data.email === "Belum Terdaftar" && result.data.phone === "Terdaftar")
                      this.$toast.show('Phone '+this.userRegister.phone+' sudah terdaftar');
                    // console.log(result.data)
                    // this.$toast.show('user already exist');
                  }
                  // this.alert = {type: 'success', message: result.data.message}
                  // this.loading = false
                  // this.$router.push('/admin')
                })
              // console.log('its register')
            }else{
              this.$toast.show('Mohon isi field yang masih kosong.');
            }
          }).catch(e => {
            console.log(e)
          })

        }
    },
    mounted() {
        $('#login-popup').modal('hide');
        // console.log('hellow from sign up')
    }
}
</script>

