<template>
  <section class="sec-content sec-content-tema" style="margin-bottom: 20px">
    <div class='container'>
      <div class='row'>
        <div class="col-md-3">
          <div class="login-container ">
            <ul>
              <li><nuxt-link to="/tentang-kami" class="text-blue">Tentang Kami</nuxt-link></li>
              <li><nuxt-link to="/kritik-saran" class="text-blue">Kritik dan saran</nuxt-link></li>
              <li><nuxt-link to="/kebijakan-privasi" class="text-blue">Kebijakan Privasi</nuxt-link></li>
              <li><nuxt-link to="/terms" class="text-black-50">Syarat dan Ketentuan</nuxt-link></li>
              <li><nuxt-link to="/haki" class="text-blue">Hak Cipta</nuxt-link></li>
              <li><nuxt-link to="/faq" class="text-blue">FAQ</nuxt-link></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div class="login-container ">
            <h5 class="text-blue">Syarat dan Ketentuan</h5>
            <p>
              Halo, terima kasih telah mengakses platform Edutore. Edutore adalah sebuah platform yang menyediakan berbagai macam layanan edukasi.  Dengan mendaftar dan/atau menggunakan platform Edutore, Anda berarti telah  membaca, memahami dan menyetujui Syarat dan Ketentuan pengguna dan Kebijakan Privasi. Berikut adalah Syarat dan Ketentuan yang mengatur  seluruh penggunaan platform Edutore. Syarat dan Ketentuan pengguna ini merupakan perjanjian yang sah antara Edutore dan pengguna platform Edutore.
            </p>
            <p>
              Mohon Anda memeriksa dengan seksama Syarat dan Ketentuan dan Kebijakan Privasi penggunaan aplikasi sebelum Anda lanjut mendaftar.
            </p>
            <!-- Paragraf 1 -->
            <h6 class="text-body">Pendaftaran dan Akun</h6>
            <ol>
              <li style="list-style-type: decimal !important;">
                Untuk dapat menggunakan platform Edutore, calon pengguna harus memenuhi persyaratan keanggotaan yang berlaku, melakukan registrasi dan verifikasi akun.
              </li>
              <li style="list-style-type: decimal !important;">
                Anda wajib mengisi formulir elektronik pendaftaran dengan data diri pribadi  sesuai dengan identitas yang Anda miliki.
              </li>
            <li style="list-style-type: decimal !important;">
                Informasi yang kami kumpulkan dari sumber lain. Kami dapat mengumpulkan informasi Anda jika Anda menggunakan situs atau layanan lain yang kami sediakan, termasuk; partner Edutore, mitra penyedia layanan pembayaran, kurir, penyedia layanan finansial, penyedia layanan umum dan mitra bisnis lainnya.
              </li>
              <li style="list-style-type: decimal !important;">
                Anda bertanggung jawab secara pribadi atas segala yang terjadi perihal penggunaan akun pribadi Anda.
              </li>
            </ol>
            <!-- Paragraf 2 -->
            <h6 class="text-body">Profil Pengguna</h6>
            <ol>
              <li style="list-style-type: decimal !important;">
                Untuk dapat menggunakan platform Edutore, calon pengguna harus memenuhi persyaratan keanggotaan yang berlaku, melakukan registrasi dan verifikasi akun.
              </li>
              <li style="list-style-type: decimal !important;">
                Anda wajib mengisi formulir elektronik pendaftaran dengan data diri pribadi  sesuai dengan identitas yang Anda miliki.
              </li>
            <li style="list-style-type: decimal !important;">
                Anda bertanggung jawab untuk menjaga kerahasiaan akun dan kode sandi Anda.
              </li>
              <li style="list-style-type: decimal !important;">
                Anda bertanggung jawab secara pribadi atas segala yang terjadi perihal penggunaan akun pribadi Anda.
              </li>
            </ol>
             <!-- Paragraf 3 -->
            <h6 class="text-body">Pembelian Paket Berlangganan Edutore</h6>
            <ol>
              <li style="list-style-type: decimal !important;">
                Anda dapat menggunakan platform Edutore untuk menikmati layanan ilmu pengetahuan dan pendidikan.
              </li>
              <li style="list-style-type: decimal !important;">
                Anda hanya bisa menikmati fitur secara utuh pada platform Edutore jika membeli paket berlangganan.
              </li>
            <li style="list-style-type: decimal !important;">
                Anda memiliki batas waktu 1x24 jam melakukan pembayaran, apabila melebihi batas waktu tersebut maka pemesanan paket berlangganan otomatis dibatalkan.
              </li>
              <li style="list-style-type: decimal !important;">
                Edutore tidak mengembalikan pembayaran penuh jika Anda membatalkan menggunakan layanan Edutore.
              </li>
               <li style="list-style-type: decimal !important;">
                Anda akan diminta untuk memperbaharui paket berlangganan jika masa berlangganan sudah berakhir.
              </li>
              <li style="list-style-type: decimal !important;">
                Jumlah dan variasi isi dari paket berlangganan dapat berubah sewaktu-waktu, tanpa pemberitahuan terlebih dahulu.
              </li>
            </ol>

              <!-- Paragraf 4 -->
            <h6 class="text-body">Hal yang tidak diperbolehkan</h6>
            <ol>
              <li style="list-style-type: decimal !important;">
                Anda tidak diperbolehkan  menggunakan aplikasi untuk tujuan penipuan serta membuat ketidaknyamanan terhadap pengguna lain  sehingga aplikasi Edutore hanya untuk tujuan mendapatkan layanan. 
              </li>
              <li style="list-style-type: decimal !important;">
                Menggunakan aplikasi dengan akun yang sama dan lebih dari satu perangkat dalam waktu yang bersamaan. Satu akun aplikasi Edutore tidak dapat digunakan secara bersamaan di perangkat yang berbeda
              </li>
            <li style="list-style-type: decimal !important;">
                Menyalin (baik dengan mencetak di atas kertas, menyimpan dalam disk, mengunduh, atau dengan cara lain), mendistribusikan (termasuk mendistribusikan salinan), menyebarkan, mengubah, atau mengutak-atik dengan cara apa pun atau menggunakan materi yang terkandung dalam platform.
              </li>
              <li style="list-style-type: decimal !important;">
                Mengunggah foto yang melanggar hukum, berbahaya, mengancam, kasar, melecehkan, mengkhawatirkan, meresahkan, memfitnah, pornografi, mencemarkan, mengganggu privasi pihak lain, penuh kebencian, atau mengandung unsur SARA dan lainnya.
              </li>
            </ol>
             <!-- Paragraf 5 -->
            <h6 class="text-body">Pengakhiran Keanggotaan</h6>
            <ol>
              <p>
                Anda berhak memilih untuk berhenti berlangganan paket Edutore namun tidak dapat menutup akun yang telah terdaftar sampai diakhiri oleh pihak Edutore kecuali Anda meminta dan menjelaskan secara detail alasan Anda menutup akun.
              </p>
               <p>
                Kami berhak menangguhkan, membatasi dan menghentikan akun Anda pada platform Edutore jika  kami menemukan alasan dan bukti bahwa Anda telah melanggar ketentuan Edutore dan ketentuan hukum yang berlaku.
              </p>
               <p>
                Apabila Anda menemukan seorang pengguna pada platform kami melanggar syarat dan ketentuan ini, silakan hubungi kami melalui <span class="text-blue">info@edutore.com</span>
              </p>
            </ol>
            <!--            PARAGRAF XXXX-->
            <h6 class="text-body">Program Garansi Lulus Ujian</h6>
            <ol>
              <li style="list-style-type: decimal !important;">
                Edutore akan mengembalikan 100% biaya langgan jika Anda tidak naik kelas atau tidak Lulus ujian nasional.
              </li>
              <li style="list-style-type: decimal !important;">
                Berlaku khusus untuk pengguna paket langganan 12 bulan.
              </li>
              <li style="list-style-type: decimal !important;">
                Berlaku khusus untuk Pelajar SD,SMP, dan SMA sederajat.
              </li>
              <li style="list-style-type: decimal !important;">
                Untuk melakukan Klaim:
              </li>
              <ul>
                <li>Anda harus aktif belajar minimal 5 jam seminggu di dalam platform Edutore</li>
                <li>Telah mengisi dengan benar dan lengkap data diri Anda di bagian profile user Edutore.</li>
                <li>Kirim dokumen bukti tidak naik kelas atau tidak lulus ujian nasional yang telah di legalisir oleh pihak sekolah ke <span class="text-blue">info@edutore.com</span></li>
                <li>Dokumen data diri yang disertakan harus sesuai dengan data yang tercatat pada profil di Edutore.</li>
              </ul>
<!--              <li style="list-style-type: decimal !important;">-->
<!--                Anda akan diminta untuk memperbaharui paket berlangganan jika masa berlangganan sudah berakhir.-->
<!--              </li>-->
<!--              <li style="list-style-type: decimal !important;">-->
<!--                Jumlah dan variasi isi dari paket berlangganan dapat berubah sewaktu-waktu, tanpa pemberitahuan terlebih dahulu.-->
<!--              </li>-->
            </ol>
            <h6 class="text-body">Lain-lain</h6>
            <ol>
              <p>
                Ketentuan penggunaan ini dapat dimodifikasi dan diubah dari waktu ke waktu tanpa memerlukan konfirmasi kepada Anda. Kami akan memberitahu Anda melalui email atau SMS notifikasi jika terdapat pembaharuan pada Syarat dan Ketentuan pengguna.
              </p>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  export default {
    layout: 'base-layout-7',
    head () {
      return {
        title: 'Edutore Terms',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          // {charset: 'utf-8'},
          // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
          { hid: 'description', name: 'description', content: 'Halo ini adalah terms, terima kasih telah mengakses platform Edutore. Edutore adalah sebuah platform yang menyediakan berbagai macam layanan edukasi. yg terdetek di hid desc' },
          { property: 'og:title', content: 'Edutore Terms' },
          { property: 'og:url', content: 'https://edutore.com/terms' },
          { property: 'og:site_name', content: 'edutore' },
          { property: 'og:description', content: 'Halo ini adalah terms, yang mendeskripsikan kondisi2 yang harus di lakukan dalam mengguanakan produk kami. yang terdetek menggunakan og:description' },
          { property: 'og:image', content: 'https://storage.googleapis.com/edutore-cdn/public/module/thumb/siap un usbn sma ma ips 2019_1553087322.jpg' },
          // { property: 'og:image:type', content: 'image/jpg' },
          // { property: 'og:image:width', content: '800' },
          // { property: 'og:image:height', content: '800' },
          // { name: 'twitter:title', content: this.metaDescription },
          // { name: 'twitter:image', content: 'https://storage.googleapis.com/edutore-cdn/public/module/thumb/siap un usbn sma ma ips 2019_1553087322.jpg' },
          // { name: 'twitter:url', content: 'https://edutore.com' },
          // { name: 'twitter:card', content: '' },
        ],
        bodyAttrs: {
          class: 'bg-grey'
        },
      }
    },
    data: () => ({

    }),
    mounted () {

    },
    beforeMount () {

    },
    methods: {

    }
  }
</script>
<style>
  ol{
    list-style-type: lower-alpha !important;
    margin-left: 20px;
  }
  ol li{
    list-style: lower-alpha !important;
  }
</style>
