<template>
    <div class="berhasil-beli">
        <h5 class="text-green">Proses registrasi edutore berhasil!</h5>
      <br>
        <img src="~/assets/img/success-buy.png" style="width: 150px">
      <br><br>
        <h5>Terima kasih sudah mendaftar di </h5>
        <h4>EDUTORE</h4>
        <h3 class="text-red">Lakukan aktivasi pada email Anda :</h3>
      <h5><strong class="link-underline">{{email}}</strong></h5>
        <p>Periksa email aktivasi pada INBOX atau SPAM</p>
<!--        <p>Silahkan lakukan pembayaran di toko gramedia terdekat, dan tukarkan kode order <strong class="link-underline">{{orderCode}}</strong> ini. Order code ini juga di kirim via email</p>-->
        <nuxt-link class="link-underline mydiv" to="/"><h6>Kembali ke home</h6></nuxt-link>
    </div>
</template>

<script>
export default {
  data: () => ({
  email: 'name_email'
  }),
    mounted(){
        if (this.$store.getters['user/userSignUpEmail'] !== null){
          // this.$store.dispatch('cart/clearCart')
          this.email = this.$store.getters['user/userSignUpEmail']
          // console.log(this.$store.getters['user/userSignUpEmail'])
          // setTimeout(() => this.$nuxt.$router.push('/edutest'), 5000)
        }else{
          this.$nuxt.$router.push('/')
        }

    }
}
</script>


<style scoped>
  .berhasil-beli {
    text-align: center;
    width: 80%;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;

}
</style>
