<template>
    <div class="berhasil-beli">
        <img src="~/assets/img/success-buy.png" style="width: 150px">
        <h5>{{notice.title}}</h5>
        <p>{{notice.subTitle}}</p>
<!--        <nuxt-link class="link-underline mydiv" to="/users/my-modules"><h6>Lihat Koleksi saya</h6></nuxt-link>-->
        <a @click="refreshBooks" class="link-underline mydiv" href="javascript:;"><h6>Lihat Koleksi saya</h6></a>
    </div>
</template>

<script>
export default {
    middleware: 'router-auth',
    async validate({query}){
      let status = ['pending', 'settlement', 'capture']
      return status.some(x => x === query.transaction_status)
    },
  head () {
    return {
      title: 'Payment Edutore',
    }
  },
    data: () => ({
      notice: {
        title: 'Selamat, Pembayaran anda berhasil!',
        subTitle: 'Pembayaran anda sudah kami terima, selanjutnya anda dapat menggunakan buku-buku yang telah anda beli'
      }
    }),
    async asyncData(context){

    },
    created(){
      try {
        if (this.$route.query.transaction_status === 'pending'){
          this.notice.title = 'Pembayaranmu masih pending, kami menunggu ya!'
          this.notice.subTitle = 'Pembayaran kamu masih pending lho. Agar bisa menggunakan buku edutore, ayo lakukan pembayarannya ya!'
        }else{
          this.$store.dispatch('edutest/setMyModule')
          // const setMyModule = await context.$axios.get(`${process.env.API_URL}/my-modules`, {headers : {'x-access-token': context.store.state.auth.user.token}})
          // context.store.commit('edutest/setMyModule', setMyModule.data.data.rows)
        }
      }catch (e) {
        console.log(e)
      }
    },
    methods: {
      async refreshBooks() {
        if (this.$store.state.cart.cart.length === 0){
          await this.$store.commit('edutest/clearMyModules')
          this.$nuxt.$router.push('/users/my-modules')
        }else{
          await this.$store.commit('langganan/clearMySubscription')
          this.$nuxt.$router.push('/users/my-subscriptions')
        }
        await this.$store.dispatch('cart/clearCart')
        // console.log(this.$route.query)
        // console.log(this.$store.state.cart)
        // await this.$store.dispatch('edutest/setMyModule')
      }
    },
    mounted(){

        // setTimeout(() => this.$nuxt.$router.push('/edutest'), 5000)
    }
}
</script>


<style scoped>
  .berhasil-beli {
    text-align: center;
    width: 80%;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;

}
</style>
