  <template>
    <div>
      <div class="finish">
        <div class="finish-contnet">
          <h3>MISI SELESAI!</h3>
          <img src="~/assets/img/ceklis.png" class="img-fluid" alt="">
          <div class="mt-5">
<!--            <a href="" class="btn btn-white">Lihat Hasil</a>-->
            <nuxt-link class="btn btn-white" :to="'/tests/'+$route.params.paketSoal+'/hasil-test'">Lihat Hasil</nuxt-link>
          </div>
        </div>
      </div>
    </div>
</template>
