<template>
  <nuxt-child :key="$route.params.id"></nuxt-child>
</template>

<script>
  export default {
    validate(){
      return false
    },
    layout: 'base-layout-4',
    head () {
      return {
        title: 'Modules Area',
        // titleTemplate: 'Edutore by Gramedia | '+this.metaTitle,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          // { hid: 'og-title', property: 'og:title', content: `${this.books.name} some books name` },
          // { hid: `description`, name: 'description', content: `modules area of public page at Nuxt.js`}
          // { hid: `description`, property: 'og:title', content: this.books.name },
          // { hid: `description`, property: 'og:url', content: `https://edutore.com/modules/${this.books.module_slug}?type=0`},
          // { hid: `description`, property: 'og:site_name', content: 'edutore' },
          // { hid: `description`, property: 'og:description', content: this.books.description.slice(0, 100) },
          // { property: 'og:image', content: `https://storage.googleapis.com/edutore-cdn/public/module/thumb/${this.books.image}` },
          // { name: 'twitter:title', content: this.books.name },
          // { name: 'twitter:image', content: `https://storage.googleapis.com/edutore-cdn/public/module/thumb/${this.books.image}` },
          // { name: 'twitter:url', content: `https://edutore.com/modules/${this.books.module_slug}?type=0` },
          // { name: 'twitter:card', content: 'card' },
        ],
        bodyAttrs: {
          class: 'bg-grey'
        }
      }
    },
  }
</script>

