<template>
  <div class="mobile-view">
    <div class="container mt-4" id="element">
      <div v-if="isLoading" class="row">
        <div class="col-12 col-md-12">
          <loader class="text-center"></loader>
        </div>
      </div>
      <div v-else class="row">
        <div class="col-12 col-md-8">
          <div class="box-langganan-detail">
            <h5 style="font-weight: bold">{{listLangganan.package_name}}</h5>
            <div v-html="listLangganan.descriptions" class="content"></div>
            <br/>
            <div>Buku yang termasuk dalam paket ini adalah sebagai berikut: </div>
            <ul>
              <collapse-transition>
                <div v-show="isOpen">
                  <li v-for="(detailsBuku, index) in listLangganan.modules_langganan" :key="index"><nuxt-link :to="'/modules/'+detailsBuku.modules.module_slug">{{detailsBuku.modules.name}}</nuxt-link></li>
                </div>
              </collapse-transition>
            </ul>
            <div class="col-md-4 col-sm-6">
              <button @click="isOpen = !isOpen" class="btn btn-buy-langganan">{{textCollapse}}</button>
            </div>

<!--            <a style="text-decoration: none;" href="javascript:void(0)" @click="isOpen = !isOpen">-->
<!--              {{textCollapse}}-->
<!--            </a>-->
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="box-langganan-detail" style="padding: 10px">
            <div class="detail-duration">Ringkasan Belanja</div>
            <hr />
            <div class="detail-duration">Durasi {{listLangganan.duration}} Hari</div>
            <div v-if="basicPrice !== salePrice" class="detail-price-basic price-carret">{{currencyFormat(basicPrice, 'Rp ')}}</div>
            <div class="card-body" style="padding: -1px">
              <ValidationObserver v-slot="{ handleSubmit }">
                <form @submit.prevent="handleSubmit(onSubmit)">
                  <div class="form-group row">
                    <label for="" class="col-md-12">Masukan Kode Voucher <i>(Jika Ada)</i> </label>
                    <div class="col-md-8">
                      <ValidationProvider name="Voucher" rules="required|min:4" v-slot="{ errors }">
                        <input type="text" @input="voucherOnChange" name="voucher" v-model="voucherCode" :class="{'req-validate': errors.length > 0, 'form-control': true}" placeholder="Kode voucher">
                        <span class="merah">{{ errors[0] }}</span>
                        <span v-if="voucherNotif === 'V'" class="text-green">Voucher berhasil diterapkan.</span>
                        <span v-if="voucherNotif === 'I'" class="merah">Voucher tidak bisa digunakan.</span>
                        <span v-if="voucherNotif === 'X'" class="merah">Voucher Expired.</span>
                      </ValidationProvider>
                    </div>
                    <div class="col-md-4 btn-check-voucher">
                      <button :disabled="checkBtnClick" class="btn btn-buy-langganan">Check</button>
                    </div>
                  </div>
                </form>
              </ValidationObserver>
              <div class="form-group row">
                <label for="" class="text-left col-md-6">Total Harga </label>
                <div class="col-md-6">
                  <h5 class="text-right text-primaryColor">{{currencyFormat(totalHarga, 'Rp ')}} </h5>
                </div>
                <label for="" class="text-left col-md-6">Potongan </label>
                <div class="col-md-6">
                  <h5 class="text-right text-primaryColor">{{currencyFormat(potongan, 'Rp ')}} </h5>
                </div>
              </div>
              <div class="form-group row">
                <div v-if="isValidVoucher">
                  <div class="col-12">
                    <hr />
                  </div>
                  <div v-if="totalHarga < minTransaction" ><label for="" class="text-left col-md-12 "><b>Pembelian tidak mencapai minimum transaksi</b> </label></div>
                  <div v-else-if="LanggananNamePotongan.length === 0" ><label for="" class="text-left col-md-12 "><b>Tidak ada Langganan yang mendapatkan potongan</b> </label></div>
                  <div v-else>
                    <label for="" class="text-left col-md-12 "><b>Langganan mendapatkan potongan {{persentasePotongan}} %</b> </label>
                    <label v-if="maxPotongan !== 0" for="" class="text-left col-md-12 "><b>Maksimum potongan {{currencyFormat2(maxPotongan, 'Rp ')}} </b> </label>
                  </div>
                  <!--                  <label v-for="(name, index) in langgananNamePotongan" :key="index" for="" class="text-left col-md-12 "><b>- {{name}}</b> </label>-->
                  <!--                         <label for="" class="text-left col-md-12 "><b>- Bank soal matematika sekolah dasar kelas 6</b> </label>-->
                </div>
                <div class="col-12">
                  <hr />
                </div>
                <label for="" class="text-left col-md-6 text-bold-elliot"><b>Total Bayar</b> </label>
                <div class="col-md-6">
                  <h5 class="text-right text-primaryColor"><b>{{currencyFormat(totalBayar, 'Rp ')}} </b></h5>
                </div>
              </div>
              <div class="form-group row">
                  <div class="col-12">
                    <hr />
                  </div>
                  <div v-if="persentasePotongan !== 100" class="col-md-4">
                    <label for="" class="text-left" style="margin-top: 10px;">Cara bayar </label>
                  </div>
                  <div v-if="persentasePotongan !== 100" class="col-md-8">
                    <select v-model="payMethode" v-on:change="caraBayar()" class="form-control" name="status" id="status">
                      <!--                      <option value="0">Pilih</option>-->
                      <option value="ONLINE">Online</option>
                      <option value="GRAMEDIA">Toko Gramedia</option>
                    </select>
                  </div>
                <div class="mt-2 col-12">
                  <button :disabled="isBtnBayar" @click="submitBeli" class="btn btn-buy-langganan-toko">{{btnBayar}}</button>
                  <!--                  <button :disabled="isBtnBayar" @click="submitBeli2" class="btn btn-buy-langganan">{{btnBayar}}</button>-->
                </div>
                <!--                <div class="mt-2 col-12">-->
                <!--                  <button v-if="salePrice !== storePrice" :hidden="isZeroPay" @click="bayarViaToko" class="btn btn-buy-langganan-toko">Bayar di GRAMEDIA - {{currencyFormat2(storePrice, 'Rp ')}}</button>-->
                <!--                  <button v-else :hidden="isZeroPay" @click="bayarViaToko" class="btn btn-buy-langganan-toko">Bayar di GRAMEDIA</button>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
        </div>

<!--        NEW PAYMENT LANGGANAN 2-->
      </div>

<!--        OLD PAYMENT LANGGANAN-->
<!--        <div class="col-12 col-md-4">-->
<!--          <div class="box-langganan-detail">-->
<!--            <div class="detail-duration">Durasi {{listLangganan.duration}} Hari</div>-->
<!--            <div v-if="basicPrice !== salePrice" class="detail-price-basic price-carret">{{basicPrice}}</div>-->
<!--            <div class="detail-price-sale">{{salePrice}}</div>-->
<!--            <div class="mt-2">-->
<!--              <button @click="textChoice('online')" class="btn btn-buy-langganan">Bayar Online</button>-->
<!--            </div>-->
<!--            <div class="mt-2">-->
<!--              <button v-if="listLangganan.offline_price === listLangganan.sale_price" @click="textChoice('toko')" class="btn btn-buy-langganan-toko">Bayar di GRAMEDIA</button>-->
<!--              <button v-else @click="textChoice('toko')" class="btn btn-buy-langganan-toko">Bayar di GRAMEDIA - {{currencyFormat2(listLangganan.offline_price, 'Rp ')}}</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div v-else class="col-12 col-md-4">-->
<!--        <div class="box-langganan-detail">-->
<!--          <loader class="text-center"></loader>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <no-ssr>
      <vue-fab
        class="fab-scroll"
        v-scroll-to="'#element'"
        :mainBtnColor="mainBtnColor"
        size="big"
        icon="keyboard_arrow_up"
        @clickMainBtn="clickMainBtn">
        <fab-item
          v-for="(item, idx) in menu" :key="idx"
          :idx="idx"
          :title="item.title"
          :color="item.color"
          :icon="item.icon"
          @clickItem="clickItem" />
        <!--          <fab-item-->
        <!--            v-for="(item, idx) in menu" :key="idx"-->
        <!--            :idx="idx"-->
        <!--            :title="item.title"-->
        <!--            :color="item.color"-->
        <!--            :icon="item.icon"-->
        <!--            @clickItem="clickItem" />-->
      </vue-fab>
    </no-ssr>
    <!-- Modal Keluar-->
    <div class="modal" id="modal-beli-langganan">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-body modal-pause">
            <div>
              <h6>Pemberitahuan!</h6>
              <p>Apakah anda yakin ingin membayar {{textPopup}} ?</p>
              <button @click="submitBeli()" type="submit" data-dismiss="modal" class="btn btn-info">Ya</button>
              <button type="submit" data-dismiss="modal" class="btn btn-info">Cancel</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- End Modal Pause-->
  </div>
</template>

<script>
  import loader from '~/components/vue-content-loader.vue'
  export default {
    middleware: 'router-auth',
    layout: 'base-layout-4',
    head () {
      return {
        title: 'Checkout Langganan',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Checkout Langganan' }
        ],
        bodyAttrs: {
          class: 'bg-grey'
        },
        link: [
          {
            rel: 'canonical',
            href: process.env.CANONICAL_URL + this.$route.path
          }
        ],
      }
    },
    data: () => ({
      menu: [
        // {
        //   icon: 'done',
        //   title: 'good job!',
        //   color: '#ff9900'
        // },
        // {
        //   icon: 'toc',
        //   title: '',
        //   color: '#999'
        // }
      ],
      persentasePotongan: 0,
      mainBtnColor: '#6c757d',
      isOpen: false, // closed by default
      isBtnBayar: false,
      btnBayar: 'Bayar',
      maxPotongan: 0,
      payMethode: 'ONLINE',
      LanggananNamePotongan: [],
      isValidVoucher: false,
      potongan: 0,
      voucherNotif: null,
      checkBtnClick: true,
      listLangganan: [],
      basicPrice: 0,
      salePrice: 0,
      storePrice: 0,
      textPopup: null,
      isLoading: true,
      totalHarga: 0,
      voucherCode: '',
      isZeroPay: false,
      totalBayar: 0,
      minTransaction: 0,
      breadcrumbs: [
        {
          url: process.env.BASE_URL,
          text: 'Mall Edukasi Indonesia',
        },
        {
          url: process.env.BASE_URL+'/langganan',
          text: 'Langganan Mall edukasi indonesia',
        },
        {
          url: 'https://examples.com/',
          text: 'foo',
        }
      ],
    }),
    jsonld() {
      this.breadcrumbs[2].url = process.env.BASE_URL+'/langganan/'+this.$route.params.detail
      this.breadcrumbs[2].text = this.listLangganan.package_name
      const items = this.breadcrumbs.map((item, index) => ({
        '@type': 'ListItem',
        position: index + 1,
        item: {
          '@id': item.url,
          name: item.text,
        },
      }));
      return [{
        '@context': 'http://schema.org',
        '@type': 'BreadcrumbList',
        itemListElement: items,
      },
        {
          "@context" : "http://schema.org",
          "@type" : "Organization",
          "name" : "Edutore",
          "url" : process.env.BASE_URL,
          "sameAs" : [
            "https://web.facebook.com/edutorecom",
            "https://twitter.com/edutorecom",
            "https://www.instagram.com/edutorecom",
            "https://www.youtube.com/channel/UCKHHM8nVVgOAUovFP8vZ0xA",
          ],
          "logo": "https://news.edutore.com/wp-content/uploads/2019/10/logo-edutore-HiRes.png"
        }
      ];
    },
    components: {
      loader,
    },
    mounted(){
      this.loadDetailLangganan()
      // console.log(this.$store.getters['cart/cartLangganan'])
    },
    computed:{
      textCollapse(){
        if (this.isOpen){
          return 'Ringkas Daftar Buku'
        }else{
          return 'Lihat Daftar Buku'
        }
      }
    },
    methods: {
      clickItem: function (idx) {
        console.log('idx: ' + idx)
      },
      clickMainBtn: function () {
        console.log('clickMainBtn')
      },
      caraBayar(){
        this.potongan = 0
        this.voucherCode = null
        this.voucherNotif = null
        // this.totalBayar = this.totalHarga
        this.$validator.reset();
        // console.log(this.payMethode)
        if (this.payMethode === 'ONLINE'){
          this.totalHarga = this.listLangganan.sale_price
          this.totalBayar = this.listLangganan.sale_price
        }else{
          this.totalHarga = this.listLangganan.offline_price
          this.totalBayar = this.listLangganan.offline_price
        }
        // console.log(this.totalBayar)
      },
      voucherOnChange(){
        // if (this.voucherCode.length === 0){
        //   this.voucherNotif = null
        // }
        this.voucherNotif = ''
        this.checkBtnClick = false
        // console.log(this.voucherCode.length)
      },
      onSubmit(){
        this.checkVoucher()
      },
      checkVoucher(){
        // console.log(this.voucherNotif)
        this.checkBtnClick = true
        this.isValidVoucher = false
        this.potongan = 0
        this.maxPotongan = 0
        this.minTransaction = 0
        this.totalBayar = this.totalHarga
        this.LanggananNamePotongan = []
        this.$store.dispatch('cart/checkVoucher2', this.voucherCode)
          .then((result) => {
            this.minTransaction = result.data.min_transaction
            if (result.status_voucher){
              if (result.data.category === 'LANGGANAN'){
                this.isValidVoucher = true
                if (this.totalHarga >= result.data.min_transaction) {
                  this.persentasePotongan = result.data.voucher_value
                  // console.log(result.data)
                  if (result.data.specific_used){
                    result.for_subscription.rows.forEach((element) => {
                      if (element.subscription_id === this.listLangganan.id) {
                        this.LanggananNamePotongan.push(this.listLangganan.package_name)
                        this.potongan = this.totalHarga * (result.data.voucher_value / 100)
                        this.voucherNotif = 'V'
                        return true
                      }else{
                        this.voucherNotif = 'I'
                        return false
                      }
                    })
                  }else{
                    // console.log('hellow')
                    this.LanggananNamePotongan.push('ALL')
                    this.potongan = this.totalHarga * (result.data.voucher_value / 100)
                  }

                  if (result.data.max_value !== null){
                    this.maxPotongan = result.data.max_value
                    if (this.potongan < result.data.max_value){
                      this.totalBayar = this.totalBayar -  this.potongan
                    }else{
                      this.potongan = result.data.max_value
                      this.totalBayar = this.totalBayar -  this.potongan
                    }
                  }else{
                    this.totalBayar = this.totalHarga - this.potongan
                    // console.log(this.totalBayar)
                  }
                  // this.voucherNotif = 'V'
                  // this.totalBayar = this.totalBayar - this.potongan
                  // console.log(this.listOrderCart)

                }

              }
              else if (result.data.category === "ALL"){
                this.isValidVoucher = true
                if (this.totalHarga >= result.data.min_transaction) {
                  // console.log(this.totalHarga, result.data.min_transaction)
                  // console.log(result)
                  this.LanggananNamePotongan.push('ALL')
                  this.persentasePotongan = result.data.voucher_value
                  this.potongan = this.totalHarga * (result.data.voucher_value / 100)
                }
                if (result.data.max_value !== null){
                  this.maxPotongan = result.data.max_value
                  if (this.potongan < result.data.max_value){
                    this.totalBayar = this.totalBayar -  this.potongan
                  }else{
                    this.potongan = result.data.max_value
                    this.totalBayar = this.totalBayar -  this.potongan
                  }
                }else{
                  this.totalBayar = this.totalHarga - this.potongan
                  // console.log(this.totalBayar)
                }
                this.voucherNotif = 'V'
              } else{
                this.isValidVoucher = false
                this.voucherNotif = 'I'
              }
            }else{
              this.totalBayar = this.totalHarga
              this.potongan = 0
              this.isValidVoucher = false
              this.voucherNotif = 'I'
            }
            // console.log(result)
          })
      },
      textChoice(){
        if (this.payMethode === 'ONLINE'){
          this.textPopup = 'online'
          // this.beliLangganan()
        }else{
          // this.beliLanggananViaToko()
          this.textPopup = 'di gramedia'
        }
        $('#modal-beli-langganan').modal('show')
        // console.log(type)
      },
      submitBeli2(){
        console.log(this.$cookies.get('sample'))
      },
      submitBeli(){
        if (!this.$store.state.auth.isLogin){
          this.$toast.show('Mohon Login Dulu..');
          $('#login-popup').modal('show');
        }else{
          this.checkVoucher()
          if (this.payMethode === 'ONLINE'){

            // console.log(this.payMethode)
            this.beliLangganan()
          }else{
            // console.log(this.payMethode)
            this.beliLanggananViaToko()
          }
          this.isBtnBayar = true
          this.btnBayar = 'Waiting payment...'
        }
      },
      beliLanggananViaToko(){
        this.isLoading = true
        // console.log(this.$store.getters['auth/isLogin'])
        this.$store.dispatch('cart/orderViaTokoLangganan', {details: this.$route.params.detail, voucher_code: this.voucherCode})
          .then(result => {
            // console.log(result)
            if (result.success){
              if(this.totalBayar === 0){
                this.$nuxt.$router.push(`/c/payment/finish/?order_id=${result.data.order_nomor}&status_code=201&transaction_status=settlement`)
              }else{
                this.$nuxt.$router.push('/pembelian-berhasil-via-toko')
              }
              this.isLoading = false
              this.$toast.success('Pembelian dengan via toko berhasil!');

              // this.$toast.success('Akun berhasil di ubah.')
            }else{
              // console.log(response)
              if (response.data.message === 'Token is Invalid'){
                this.$toast.show('Reconnecting... Please reload the page.');
                this.reLogin()
                // this.getMyModule()
                // console.log('reloaddded')
              }else if(response.data.message.includes('Firebase ID token has expired.')){
                this.userSessionExpired()
              }
            }
          })
      },
      loadDetailLangganan(){
        this.$store.dispatch('langganan/getDetailLangganan', this.$route.params.detail)
          .then(result => {
            // console.log(result)
            this.isLoading = false
            if (result.data.success){
              this.listLangganan = result.data.data
              // console.log(this.listLangganan.basic_price)
              this.basicPrice = this.listLangganan.basic_price
              this.totalHarga = this.listLangganan.sale_price
              this.totalBayar = this.listLangganan.sale_price
              this.salePrice = this.listLangganan.sale_price
              this.storePrice = this.listLangganan.offline_price
              // console.log(this.salePrice, this.storePrice)
              // this.$toast.success('Akun berhasil di ubah.')
            }else{
              // console.log(result)
              if (result.data.message === 'Token is Invalid'){
                this.$toast.show('Reconnecting... Please reload the page.');
                this.reLogin()
                // this.getMyModule()
                // console.log('reloaddded')
              }else if(result.data.message.includes('Firebase ID token has expired.')){
                this.userSessionExpired()
              }
            }
          })
      },
      beliLangganan(){
        this.isLoading = true
        this.$store.dispatch('cart/orderViaMidtransLangganan', {details: this.$route.params.detail, voucher_code: this.voucherCode})
          .then(result => {
            // console.log(result)
            if (result.success){
              this.isLoading = false
              if(this.totalBayar === 0){
                this.$toast.success('Pembelian dengan via toko berhasil!');
                this.$nuxt.$router.push(`/c/payment/finish/?order_id=${result.data.order_nomor}&status_code=200&transaction_status=settlement`)
              }else{
                window.location.href = result.midtrans.redirect_url
                this.$toast.info('Mohon tunggu anda akan di arahkan ke pembayaran...');
              }
              // this.$toast.info('Mohon tunggu anda akan di arahkan ke pembayaran...');
              // this.$nuxt.$router.push('/pembelian-berhasil-via-toko')
              // this.$toast.success('Akun berhasil di ubah.')
            }else{
              // console.log(response)
              if (result.data.message === 'Token is Invalid'){
                this.$toast.show('Reconnecting... Please reload the page.');
                this.reLogin()
                // this.getMyModule()
                // console.log('reloaddded')
              }else if(result.data.message.includes('Firebase ID token has expired.')){
                this.userSessionExpired()
              }
            }
            // else{
            //
            //   this.$toast.error('Pembelian via toko gagal!');
            //   // this.$nuxt.$router.push('/pembelian-berhasil-via-toko')
            // }
          })
      }
    }
  }
</script>

<style scoped>
  /*@media (max-width: 2500px) {*/
  /*  .fab-scroll{*/
  /*    right: 5% !important;*/
  /*    bottom: 11% !important;*/
  /*  }*/
  /*}*/

</style>
