<template>
<div>
<!--  <section class="sec-shop sec-tema">-->
<!--    <div class='container'>-->
<!--        <div class='row'>-->
<!--            <div class="col-md-2">-->
<!--                <div class="logo-edutest">-->
<!--                        <img src="~/assets/img/test-logo.png" alt="edutest logo">-->
<!--                </div>-->
<!--            </div>                           -->
<!--            <div class='col-md-10'>-->
<!--              <ul class="tema-reg">-->
<!--                <li><nuxt-link to="/edutest">Galeri Tes</nuxt-link></li>-->
<!--                <li><nuxt-link to="/users/my-modules">Koleksi Saya</nuxt-link></li>-->
<!--                <li><a @click="checkMyModule" href="javascript:void(0)"><img src="~/assets/img/history.png" alt="history"></a></li>-->
<!--                &lt;!&ndash; <li><a @click="cart" href="javascript:void(0)"><img src="~/assets/img/cart.png" alt="cart"></a></li> &ndash;&gt;-->
<!--                <li>-->
<!--                    <nuxt-link to="/c/keranjang-belanja"><img src="~/assets/img/cart.png" alt="cart"></nuxt-link>-->
<!--                    <div v-if="countOrder !== 0" class="count-notif">{{countOrder}}</div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#"><img src="~/assets/img/notifikasi.png" alt="notifikasi"></a>-->
<!--                    &lt;!&ndash; <div class="count-notif">2</div> &ndash;&gt;-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section class="sec-content sec-content-tema">
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <div class="breadcumb">
                    <ul>
                        <li><nuxt-link to="/">Beranda</nuxt-link><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                        <li><nuxt-link to="/edutest">Edutest</nuxt-link><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                        <li>{{modules.name}}</li>
                        <!-- <li><a href="#">Pelajar</a><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                        <li><a href="#">SMA Kelas XII</a><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                        <li><a href="#">IPS</a><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                        <li><a href="#">Uji Coba Gratis</a><i class="fa fa-chevron-right" aria-hidden="true"></i></li> -->
                        <!-- <li>Kumpulan Soal & Pembahasan…</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
  <no-ssr>
<section>
    <div class='container'>
        <div class='row'>
            <div class='col-md-5'>
              <div v-if="isLoading" class="con-reg-kiri">
                  <div class="text-center">
                    <loader></loader>
                    <br>
                      <div>
                        <p>Loading...</p>
                      </div>
                  </div>
              </div>
                <div v-else class="con-reg-kiri">
                    <h1>{{modules.name}} </h1>
<!--                     <button :hidden="isZeroPrice" type="submit" @click="tesstx" class="btn btn-primary btn-block">test</button>-->
                    <p class="text-blue fnt-20">{{totalSoal}} Soal</p>
<!--                    <h1>{{// modules.name}} <b class="text-red">{{typeBook}}</b></h1>-->
                    <small>{{modules.module_authors[0].penulis.name}}</small>
                    <small>{{modules.publisher.name}}</small>
<!--                    <small>{{totalSoal}}</small>-->
                    <br>
                    <hr v-if="!isBuy" :hidden="isZeroPrice" style="border-top: 2px solid rgb(168, 171, 181);" />
                    <div v-if="isBuy === null" >
                      <!-- <button type="submit" @click="buyModules" class="btn btn-primary btn-block">Beli</button> -->
                    </div>
                    <div v-else-if="!isBuy" >
<!--                      <h1 :hidden="isZeroPrice" class="text-blue text-center">{{currencyFormat2(modules.price, 'Rp ')}}</h1>-->
                      <div class="row">
                        <div class="col-6">
                          <p :hidden="isZeroPrice" style="padding-top: 10px;" class="text-blue text-left langganan-text-buy">{{currencyFormat2(modules.price, 'Rp ')}}</p>
                        </div>
                        <div class="col-6">
                          <button :hidden="isZeroPrice" style="border-color: #557CBF;" type="submit" @click="buyModules" class="btn btn-primary btn-block">Beli</button>
                        </div>
                      </div>
                      <hr :hidden="isZeroPrice" style="border-top: 2px solid rgb(168, 171, 181);" />
                      <div class="row">
                        <div class="col-6">
                          <p :hidden="isZeroPrice" style="padding-top: 7px;" class="text-blue text-left langganan-text-buy">Lebih Ekonomis</p>
                        </div>
                        <div class="col-6">
                          <button :hidden="isZeroPrice" type="submit" @click="btnLangganan" class="btn btn-primary btn-block" style="
                          background-color: #FEC810;
                          color: grey;
                          font-family: ElliotSans-Bold;
                          border-color: #fec810;
                          ">Langganan</button>
                        </div>
                      </div>
                    </div>

                    <div v-else>
                      <!-- <button type="submit" @click="buyModules" class="btn btn-primary btn-block">Beli</button> -->
                    </div>
                    <!-- <p v-else>Loading... </p> -->
                    <br>
                    <p v-if="modules.image === null">Loading...</p>
                    <img v-else :src="imageModule" :alt="modules.name" rel="dns-prefetch" style="width: 100%;border-radius: 10px">
                    <!-- <img :src="imageModule" alt="img-desc" style="width: 100%;border-radius: 10px"> -->
                    <div class="desc-reg-kiri">
                        <p v-for="(descr, index) in desc" :key="index">
                            {{descr}}
                        </p>
                        <p class="notice-text">
                          *) Isi yang tercantum pada cover modul fisik dapat berbeda dengan yang tersedia secara online
                        </p>
                        <div class="icon-desc">
                            <div class="desc-icon book-icon float-right">
                                <img src="~/assets/img/book-icon.png" alt="book">
                                <h3>{{cntReadModule}}</h3>
                                <!-- <h3>{{modules.amount_finish}}</h3> -->
                            </div>
                            <div @click="likes" class="desc-icon love-icon float-right ">
                                    <!-- <img src="~/assets/img/Love.png" alt="love"> -->
                                    <p class="ico-heart-module">
                                    <i class="fas fa-heart" v-bind:class="isLiked ? 'heart-ico': '' "></i>
                                    {{ttlLikes}}
                                    </p>
                                    <!-- <h3 v-if="modules.like === null">{{ttlLikes}}</h3>
                                    <h3 v-else>{{ttlLikes}}</h3> -->
                                    <!-- <h3>{{ttlLiked}}</h3> -->
                            </div>

                            <!-- <div @click="likes" class="desc-icon love-icon float-right ">
                                    <img src="~/assets/img/Love.png" alt="love">
                                    <h3 v-if="modules.like === null">{{ttlLikes}}</h3>
                                    <h3 v-else>{{ttlLikes}}</h3>
                            </div> -->
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="con-reg-kanan">
                  <!-- box -->
                <!-- <div v-if="listThema.paket_soals.length !== 0"> -->
<!--                  <div v-for="(theme, index) in listThema" :key="index" @click="submit(index, theme)">-->
                    <div v-for="(theme, index) in listThema" :key="index">
                      <div v-if="theme.paket_soals.length !== 0" class="tema-reg__box">
                      <a>
                        <!-- <div class="centang">
                          <img src="~/assets/img/centang.png" alt="centang">
                        </div> -->
<!--                        <p v-if="theme.teori.length !== 0" class="text-grey" v-html="theme.teori[0].teori"></p>-->
                        <h2>{{theme.theme_name}}</h2>
                        <a v-if="theme.teori.length !== 0" href="javascript:void(0)">
                          <div v-for="(dasarTeori, index) in theme.teori" :key="index">
                            <div v-if="dasarTeori.trial">
                              <modal-dialog :teori="dasarTeori.teori" :idx="index"></modal-dialog>
                              <p @click="DasarTeori(index)" class="text-tosca-green">Dasar teori - {{dasarTeori.title}}</p>
                            </div>
                          </div>
                        </a>
<!--                        <div class="sub-tema-reg">Semester Gasal</div>-->
<!--                        <p>Paket soal terdiri dari {{theme.paket_soals.length}} paket</p>-->
                        <h3 class="tema-paket-soals fnt-16" v-for="(paket_soal, idx) in listThema[index].paket_soals" :key="idx" @click="submitPaketSoals(idx, theme, paket_soal)">{{paket_soal.name}}  <b v-if="paket_soal.trial" class="text-red">Coba Gratis</b></h3>

                        <!-- <p>0 dari {{theme.paket_soals.length}} Paket Soal telah dikerjakan</p> -->
                        <div class="star-reg-box">
                          <i class="star-kosong far fa-star"></i>
                          <i class="star-kosong far fa-star"></i>
                          <i class="star-kosong far fa-star"></i>
                          <i class="star-kosong far fa-star"></i>
                          <i class="star-kosong far fa-star"></i>
                          <!-- <i class="star-kosong far fa-star"></i> -->
                        </div>
                      </a>
                      </div>
                    </div>
                <!-- </div> -->
                  <!-- box telah dikerjakan-->
                   <!-- <div class="tema-reg__box">
                    <a href="#">
                      <div class="centang">
                        <img src="~/assets/img/centang.png" alt="centang">
                      </div>
                      <h2>Kelangkaan Sumber Daya</h2>
                      <div class="sub-tema-reg">Semester Gasal</div>
                      <p>3 dari 3 Paket Soal telah dikerjakan</p>
                      <div class="star-reg-box">
                        <i class="star-isi fa fa-star"></i>
                        <i class="star-isi fa fa-star"></i>
                        <i class="star-isi fa fa-star"></i>
                        <i class="star-isi fa fa-star"></i>
                        <i class="star-kosong far fa-star"></i>
                      </div>
                    </a>
                  </div> -->

                  <!-- box -->
                  <!-- <div class="tema-reg__solid">
                      <a href="#">
                        <h2>Kelangkaan Sumber Daya</h2>
                        <div class="sub-tema-reg">Semester Gasal</div>
                        <p>3 dari 3 Paket Soal telah dikerjakan</p>
                        <div class="star-reg-box">
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-kosong far fa-star"></i>
                        </div>
                      </a>
                    </div> -->

                    <!-- box -->
                  <!-- <div class="tema-reg__box">
                      <a href="#">
                        <h2>Kelangkaan Sumber Daya</h2>
                        <div class="sub-tema-reg">Semester Gasal</div>
                        <p>3 dari 3 Paket Soal telah dikerjakan</p>
                        <div class="star-reg-box">
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-kosong far fa-star"></i>
                        </div>
                      </a>
                    </div> -->

                    <!-- box -->
                  <!-- <div class="tema-reg__box">
                      <a href="#">

                        <h2>Kelangkaan Sumber Daya</h2>
                        <div class="sub-tema-reg">Semester Gasal</div>
                        <p>3 dari 3 Paket Soal telah dikerjakan</p>
                        <div class="star-reg-box">
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-kosong far fa-star"></i>
                        </div>
                      </a>
                    </div> -->

                    <!-- box -->
                  <!-- <div class="tema-reg__box">
                      <a href="#">
                        <div class="centang">
                          <img src="~/assets/img/centang.png" alt="centang">
                        </div>
                        <h2>Kelangkaan Sumber Daya</h2>
                        <div class="sub-tema-reg">Semester Gasal</div>
                        <p>3 dari 3 Paket Soal telah dikerjakan</p>
                        <div class="star-reg-box">
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-kosong far fa-star"></i>
                        </div>
                      </a>
                    </div> -->

                    <!-- box -->
                  <!-- <div class="tema-reg__box">
                      <a href="#">
                        <h2>Kelangkaan Sumber Daya</h2>
                        <div class="sub-tema-reg">Semester Gasal</div>
                        <p>3 dari 3 Paket Soal telah dikerjakan</p>
                        <div class="star-reg-box">
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-isi fa fa-star"></i>
                          <i class="star-kosong far fa-star"></i>
                        </div>
                      </a>
                    </div> -->

                </div>

            </div>
        </div>
    </div>
</section>
  </no-ssr>
<!-- Modal Keluar-->
      <div class="modal" id="modal-belum-beli-module">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body modal-pause">
              <div>
                <h6>Pemberitahuan!</h6>
                <p>Anda belum membeli module ini, silahkan lakukan pembelian terlebih dahulu</p>
               <button type="submit" data-dismiss="modal" class="btn btn-info">Keluar</button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End Modal Pause-->
</div>
</template>

<script>
import loader from '~/components/vue-content-loader.vue'
import modalDialog from '~/components/modal-dialog.vue'
import { mapState } from 'vuex'

export default {
    layout: 'base-layout-4',
    middleware: 'router-auth',
     // transition: 'page',
    head () {
      try{
        return {
          title: this.books.name,
          meta: [
            // hid is used as unique identifier. Do not use `vmid` for it as it will not work
            { hid: 'description', name: 'description', content: `Latihan soal buku ${this.books.name} ${this.books.publisher.name}, Gratis Download App Edutore by Gramedia, Belajar Mandiri dengan Online Learning` },
            // google search engine
            { itemprop: 'name', content: this.books.name},
            { itemprop: 'desc', content: `Latihan soal buku ${this.books.name} ${this.books.publisher.name}, Gratis Download App Edutore by Gramedia, Belajar Mandiri dengan Online Learning`},
            { itemprop: 'image', content: `https://storage.googleapis.com/edutore-cdn/public/module/thumb/${this.books.image}`},
            // facebook
            { property: 'og:title', content: this.books.name },
            { property: 'og:url', content: `${process.env.BASE_URL}/modules/${this.books.module_slug}?type=0`},
            { property: 'og:site_name', content: process.env.BASE_URL },
            { property: 'og:description', content: this.books.description !== null ? this.books.description.slice(0, 100) : 'Deskripsi buku kosong' },
            { property: 'og:image', content: `https://storage.googleapis.com/edutore-cdn/public/module/thumb/${this.books.image}` },
            // twitter
            { name: 'twitter:title', content: this.books.name },
            { name: 'twitter:image', content: `https://storage.googleapis.com/edutore-cdn/public/module/thumb/${this.books.image}` },
            { name: 'twitter:url', content: `${process.env.BASE_URL}/modules/${this.books.module_slug}?type=0` },
            { name: 'twitter:card', content: '' },
          ],
          link: [
            {
              rel: 'canonical',
              href: process.env.CANONICAL_URL + this.$route.path
            }
          ],
          bodyAttrs: {
            class: 'bg-grey'
          }
        }
      }
      catch(ex){
        console.log(ex)
      }
    },
    components: {
      loader,
      modalDialog
    },
    async asyncData(context){
      // const books = await context.$axios.get(`api/v1/modules/${context.params.id}`)
      // const books = await context.$axios.get(`https://api.edutore.com/api/v1/modules/${context.params.id}`)
      const { data } = await context.$axios.get(`${process.env.API_URL}/modules/${context.params.id}`)
      const modules = data
      // console.log(data)
      // await context.store.dispatch('edutest/getModules', context.params.id)
      //   .then((res) => {
      //     console.log(res)
      //   })
      //   .catch((err) => {
      //     console.log(res)
      //   })
      // console.log(books)
      // const myBooks = await context.$axios.get(`my-modules`, {headers : {'x-access-token': context.store.state.auth.user.token}})
      let isLiked = false
      // console.log(myBooks)
      if (context.store.state.auth.isLogin){
        const {data} = await context.$axios.get(`${process.env.API_URL}/like-module`, {headers : {'x-access-token': context.store.state.auth.user.token}})
        // const setMySubscription = await context.$axios.get('my-subscriptions', {headers : {'x-access-token': context.store.state.auth.user.token}})
        //  console.log(modules)
         // console.log(modules)
        isLiked = data.data.rows.findIndex(x => x.module_id === modules.data.rows.id) !== -1
      }
      return {
        mySubs: context.store.state.langganan.mySubs,
        myListModuleSubs: context.store.state.langganan.myListModuleSubs,
        books: data.data.rows,
        totalSoal: data.data.total_soal,
        modules: data.data.rows,
        listThema: data.data.theme,
        cntReadModule: data.data.dikerjakan[0].total,
        priceBook: data.data.rows.price,
        ttlLikes: data.data.rows.like === null ? 0 : data.data.rows.like.likes,
        isLiked: isLiked,
        // isLiked: 0,
        isZeroPrice: data.data.rows.price === 0
      }
    },

    // async validate ({ params, store , query}) {
    //   // NOTES
    //   // 0 = check all modules and subs
    //   // 1 = check only modules
    //   // 2 = check only subs
    //   let val = ['0', '1', '2']
    //   if (query.type === undefined || query.type === ''){
    //     return false
    //   }else{
    //     return val.some((x) => x === query.type);
    //   }
    // },
    async fetch ({ params, store }) {
      // // LOAD LIST ALL MY SUBS
      // if (store.state.langganan.mySubs === null && store.state.auth.isLogin){
      //   await store.dispatch('langganan/setMySubscriptions')
      // }
      // // LOAD LIST ALL MY MODULE SUBS
      // if (store.state.langganan.myListModuleSubs.length === 0 && store.state.auth.isLogin){
      //   let mySubs = store.state.langganan.mySubs
      //   for (let index = 0; index < mySubs.length; index++) {
      //     await store.dispatch('langganan/getMyModuleSubscriptions', mySubs[index].id)
      //   }
      //   await store.commit('loading/stopLoadingState')
      // }
      // if (store.state.edutest.myModule === null && store.state.auth.isLogin){
      //   await store.dispatch('edutest/setMyModule')
      // }
    },
    data: () => ({
        totalSoal: 0,
        typeBook: '',
        metaDescription: 'Description of the books hahahaha',
        metaTitle: '',
        // isLiked: false,
        // ttlLikes: 0,
        isLoading: true,
        idSubs: 0,
        buy: null,
        cart:{
          modules: null
        },
        modules: [],
        countOrder: 0,
        isBuy: null,
        myModuleSubs: [],
        isOrder: false,
        breadcrumbs: [
          {
            url: process.env.BASE_URL,
            text: 'Mall Edukasi Indonesia',
          },
          {
            url: process.env.BASE_URL+'/edutest',
            text: 'Galeri Tes',
          },
          {
            url: 'https://example.com/foo',
            text: 'foo',
          },
        ],
    }),
    jsonld() {
    // console.log(this.$route.params.id)
    // console.log(this.books.name)
    try {
      this.breadcrumbs[2].url = process.env.BASE_URL+'/modules/'+this.$route.params.id
          this.breadcrumbs[2].text = this.books.name
          const items = this.breadcrumbs.map((item, index) => ({
            '@type': 'ListItem',
            position: index + 1,
            item: {
              '@id': item.url,
              name: item.text,
            },
          }));
          return [{
            '@context': 'http://schema.org',
            '@type': 'BreadcrumbList',
            itemListElement: items,
          },
            {
              "@context" : "http://schema.org",
              "@type" : "Organization",
              "name" : "Edutore",
              "url" : process.env.BASE_URL,
              "sameAs" : [
                "https://web.facebook.com/edutorecom",
                "https://twitter.com/edutorecom",
                "https://www.instagram.com/edutorecom",
                "https://www.youtube.com/channel/UCKHHM8nVVgOAUovFP8vZ0xA",
              ],
              "logo": "https://news.edutore.com/wp-content/uploads/2019/10/logo-edutore-HiRes.png"
            }
          ];
    }catch(ex){
      console.log(ex)
    }

  },
    async mounted() {
      this.$store.dispatch('cart/getOrderModule')
      this.$store.commit('test/clearPaketSoal')
      try {
        await this.initModule()
        this.checkingModule()
      }
      catch(ex){
        console.log(ex)
      }

    },
    async created(){
      // console.log('tesst')

      // this.checkingModule()
      // console.log(this.$route.query.type)
      // console.log(this.mySubs)
      // console.log(this.modules)

    },
    computed: {
      ...mapState('loading', {
        isModuleLoaded: state => state.initLogin,
        // chatOpened: state => state.chatOpened,
        // replyFromTech: state => state.replyFromTech
      }),
      author() {
        // console.log()
      },
      desc () {
        if (this.modules.description === null){
          return this.modules.description
        } else {
          return this.modules.description.split('\r\n')
        }
        // console.log(this.modules.description.split('\r\n'))
        // this.modules.description.split()
        // return this.modules.description.split('\r\n')

      },
      imageModule () {
        return this.$store.getters['setting/cdnBasePathModule']+this.modules.image
      }
    },
    watch: {
      isModuleLoaded: function (v) {
        // Load Messages when Chat Window Opened
        // console.log(v)
        if (v) {
          this.checkingModule()
        }
      },
    },
    methods: {
      checkingModule(){
        this.isLoading = false
        this.isBuy = false
        if (this.$store.state.auth.isLogin){
          switch (this.$route.query.type) {
            case '2':
              this.checkMyModuleLangganan()
              break
            case '1':
              this.checkMyModule()
              break
            default:
              const isHere = this.checkMyModuleLangganan()
              !isHere ? this.checkMyModule() : ''
              // console.log(this.typeBook)
              break
          }
        }
      },
      btnLangganan(){
        // console.log('nice')
        this.$nuxt.$router.push({name: 'langganan'})
      },
      async initModule(){
        try {
          // LOAD LIST ALL MY SUBS
          // console.log(this.$store.state.langganan.mySubs)
          // console.log(this.$store.state.langganan.myListModuleSubs)
          if (this.$store.state.langganan.mySubs === null && this.$store.state.auth.isLogin){
            await this.$store.dispatch('langganan/setMySubscriptions')
          }
          // LOAD LIST ALL MY MODULE SUBS
          if (this.$store.state.langganan.myListModuleSubs === null && this.$store.state.auth.isLogin){
            let mySubs = this.$store.state.langganan.mySubs
            for (let index = 0; index < mySubs.length; index++) {
              await this.$store.dispatch('langganan/getMyModuleSubscriptions', mySubs[index].id)
            }
          }
          if (this.$store.state.edutest.myModule === null && this.$store.state.auth.isLogin){
            await this.$store.dispatch('edutest/setMyModule')
          }
          // await this.$store.commit('loading/stopLoadingState')
        }
        catch (ex){
          console.log(ex)
        }
      },
      tesstx(){

        // console.log(console.log(this.$cookies.get('user-module-cache')))
      },
      DasarTeori(idx){
        $('#modal-dasar-teori'+idx).modal('show')
        // console.log('sample')
      },
      submitPaketSoals(idx, thema, paketSoal) {
        // console.log(paketSoal)
        // this.$store.commit('test/resetSessionThema')
        // this.$store.commit('test/clearPaketSoal')
        try {
          if (this.$store.state.auth.isLogin) {
            // IS LOGIN
            if (paketSoal.trial) {
              thema.matkul = this.modules.name
              thema.kelas = this.modules.kelas.name
              thema.module_id = this.modules.id
              thema.module_slug = this.modules.module_slug
              thema.selectedPaketSoal = paketSoal
              thema.idSubs = null
              thema.type = 'trial'
              // this.$store.dispatch('test/setSessionThema', thema)
              // console.log(paketSoal)
              this.$nuxt.$router.push(`${this.modules.id}/${thema.id}?ps_id=${paketSoal.id}`)
              // this.$nuxt.$router.push('' + this.modules.id + '/' + thema.id + '?type=trial')
            } else {
              // let type = null
              // if (this.$route.query.type === '1') {
              //   type = 'regular'
              // } else if (this.$route.query.type === '2') {
              //   type = 'langganan'
              // } else {
              //   type = this.typeBook
              //   if (this.typeBook === 'L') {
              //     type = 'langganan'
              //   } else {
              //     type = 'regular'
              //   }
              // }
              thema.matkul = this.modules.name
              thema.kelas = this.modules.kelas.name
              thema.module_id = this.modules.id
              thema.module_slug = this.modules.module_slug
              thema.type = this.typeBook
              thema.idSubs = this.idSubs
              // console.log(thema)
              if (this.$route.query.type === '2') {
                thema.selectedPaketSoal = paketSoal
                // thema.type = 'langganan'
              } else {
                // thema.type = 'reguler'
                thema.selectedPaketSoal = paketSoal
              }
              // this.$store.dispatch('test/setSessionThema', thema)
              if (this.isBuy) {
                // this.$nuxt.$router.push(''+this.modules.id+'/'+thema.id)
                this.$nuxt.$router.push(`${this.modules.id}/${thema.id}?ps_id=${paketSoal.id}`)
              } else {
                // console.log('t')
                $('#modal-belum-beli-module').modal('show')
                // this.$nuxt.$router.push('/modules/module-belum-beli')
              }
            }
          } else {
            // IS NOT LOGIN
            // TRIAL
            // console.log(''+this.modules.id+'/'+thema.id)
            // console.log(thema)
            if (paketSoal.trial) {
              thema.matkul = this.modules.name
              thema.kelas = this.modules.kelas.name
              thema.module_id = this.modules.id
              thema.module_slug = this.modules.module_slug
              thema.selectedPaketSoal = paketSoal
              thema.idSubs = null
              thema.type = 'trial'
              this.$store.dispatch('test/setSessionThema', thema)
              // console.log(this.$store.getters['test/sessionThema'])
              // console.log(this.$cookies.get('session-thema'))
              this.$nuxt.$router.push(`${this.modules.id}/${thema.id}?ps_id=${paketSoal.id}`)
            } else {
              this.$toast.show('Mohon Login Dulu..');
              $('#login-popup').modal('show');
            }
          }
          let data = {
            id_tema: thema.id,
            nama_tema: thema.theme_name,
            id_module: thema.module_id,
            nama_module: thema.matkul,
            module_slug: thema.module_slug,
            paket_soal_id: thema.selectedPaketSoal.id,
            paket_soal_name: thema.selectedPaketSoal.name,
            kelas: thema.kelas,
            type_test: thema.type,
            id_langganan: thema.idSubs
          }
          this.$store.commit('exam/setCacheSessionModuleUser', data)
        }
        catch (ex){
          console.log('error '+ ex)
        }

        // console.log(idx, thema, paketSoal)
      },
      likes(){
        // console.log(this.$store.getters['auth/isLogin'])
        if (this.$store.state.auth.isLogin){
            if (!this.isLiked){
              this.isLiked = true
              this.$store.dispatch('edutest/liked', this.modules.id)
              .then(result => {
                if(result.success){
                  // console.log(result)
                  this.ttlLikes++
                  this.$toast.show('Buku berhasil disukai');
                }
              })
            }

        }else {
          this.$toast.show('Mohon login dulu...');
          $('#login-popup').modal('show');
        }
      },
      buyModules(){
        // this.$store.commit('cart/')
        this.$store.getters['cart/cart'].forEach(element => {
          // console.log(element.moduleId)
          if (element.moduleId === this.modules.id){
            this.isOrder = true
          }
        });
        if (!this.isOrder){
          this.countOrder++
          this.$store.dispatch('cart/buyModule', this.modules)
          this.$toast.success('Sukses Tambah Module ke Cart');
        } else {
          this.$toast.show('Maaf, Anda sudah menambahkan modul ini');
        }
      },
      submit(idx, thema) {
        // console.log(this.modules)
        if (this.$store.getters['auth/isLogin']){
            thema.matkul = this.modules.name
            thema.kelas = this.modules.kelas.name
            thema.module_id = this.modules.id
            thema.module_slug = this.modules.module_slug
            this.$store.dispatch('test/setSessionThema', thema)
            if (this.isBuy){
              this.$nuxt.$router.push(''+this.modules.id+'/'+thema.id)
            }else{
              // console.log('t')
              $('#modal-belum-beli-module').modal('show')
              // this.$nuxt.$router.push('/modules/module-belum-beli')
            }
        }else{
          this.$toast.show('Mohon Login Dulu..');
          $('#login-popup').modal('show');
        }

      },
      getMyScore(modulId){
        try {
          if (this.$store.getters['auth/isLogin']){

            this.$store.dispatch('edutest/getMyScore', modulId)
              .then(result => {
                if (result.success){
                  // console.log(result)
                  const grade = this.groupBy(result.data, grades =>  grades.paket_soal_id)
                  // console.log(grade).get(0)
                  let key = []
                  let pktSoalId = null
                  let nilai = 0
                  let jmlPktSoal = 0

                  grade.forEach(element => {
                    // console.log(element)
                    element.forEach(element2 => {
                      if (element2.point === 1){
                        nilai += element2.point
                      }
                    });
                    this.listThema.forEach(element3 => {
                      if (element[0].paket_soal_id === element3.id){
                        // element3.paket_soals.forEach(element4 => {
                        //   console.log(element4)
                        // });
                        // console.log(element3.paket_soals)
                        // console.log(element3)
                        // console.log('jumlah paket soal dari thema '+element[0].paket_soal_id+' adalah '+element3.paket_soals.length)
                      }

                    });
                    // console.log(nilai)
                    // console.log(element[0].module_id)
                    // console.log('point dari paket soal '+element[0].paket_soal_id+' adalah '+nilai)
                    // console.log('jumlah soal dari paket soal '+element[0].paket_soal_id+' adalah')
                    nilai = 0

                  });
                  // console.log(key)
                }else{
                  console.log('something error or no connection')
                }
                // console.log(result)
              })
          }
        }catch(ex){
          console.log(ex)
        }

      },
      checkMyModule(){
          if (this.$store.state.edutest.myModule.length === 0){
            this.isBuy = false
            this.isLoading = false
          }else{
            for (let index = 0; index < this.$store.state.edutest.myModule.length; index++) {
              const element = this.$store.state.edutest.myModule[index];
              if (element.module_id === this.modules.id.toString()){
                this.isBuy = true
                this.isLoading = false
                this.typeBook = 'regular'
                break;
              }else{
                this.isBuy = false
                this.isLoading = false
              }
            }
          }
        },
      checkMyModuleLangganan(){
          try {
            // console.log(this.$store.state.langganan.myListModuleSubs)
            let myModuleSubs = this.$store.state.langganan.myListModuleSubs
            if (myModuleSubs === null){
              this.isBuy = false
              this.isLoading = false
            }else{
              if (myModuleSubs.length === 0) {
                this.isBuy = false
                this.isLoading = false
              } else {
                for (let x = 0; x < myModuleSubs.length; x++) {
                  if (!myModuleSubs[x].status_expire){
                    for (let j = 0; j < myModuleSubs[x].listSubsModule.length; j++) {
                      if (myModuleSubs[x].listSubsModule[j] === this.modules.id) {
                        this.idSubs = myModuleSubs[x].idSubsModule
                        this.isBuy = true
                        this.isLoading = false
                        this.typeBook = 'langganan'
                        return true;
                      }
                    }
                  }
                }
                return false
              }
            }
          }catch (ex){
            console.log(ex)
          }
        }
      }
}
</script>

<style scoped>
  .notice-text {
    font-size: 10px;
  }
  .langganan-text-buy{
    font-size: 20px !important;
  }
  @media (max-width: 767.98px) {
    .langganan-text-buy{
      font-size: 17px !important;
    }
  }
</style>


