<template>
  <div>
    <h1>AREA ID MODULE</h1>
  </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'
import eduLoader from '~/components/loader/ripple.vue'

export default {
    layout: 'layout-test',
    middleware: 'router-auth',
    components: {
      eduLoader
    },
    // transition: 'page',
    head () {
      return {
        title: this.title,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Tes Ujian | Nama Module | Nama Tema' }
        ],
        bodyAttrs: {
            class: 'bg-game'
        },
      }
    },
    data: () => ({
       isLain2: true,
       title: 'Latihan Soal',
       inputLain2: '',
       boolLaporkan: true,
       timerRunning: true,
       rbReport: 'Soal ini mengandung unsur SARA',
       numQuest: -1,
       numNotyetAns: 0,
       secLabel: '00',
       minLabel: '00',
       houLabel: '00',
       totalSeconds: 0,
       myInterval: null,
       // timer: '00:00:00',
       time: 0,
       isPopUp: true,
        listQuestion: [
          
        {
          id: 2,
          quest: `Pak Jazuli tinggal di negara yang
           menjunjung tinggi asas kekeluargaan, mereka melakukan 
           proses produksi sederhana, kehidupan bermasyarakat yang bergotong 
           royong sehingga negaranya damai sejahtera. ini berarti bahwa negara 
           tersebut menganut sistem ekonomi...`,
          choices : {
            A: {chc: 'pasar', done: '' },
            B: {chc: 'terpusat', done: ''},
            C: {chc: 'campuran', done: ''},
            D: {chc: 'demokrasi', done: ''},
            E: {chc: 'tradisional', done: ''},
          },
          correct: 'E',
          pembahasan: 'ini adalah pembahasan dari sebuah negara yang menjunjung tinggi asas kekeluargaan',
          answer: ''
        },
        {
          id: 3,
          quest: 'Sebuah sumber bunyi memiliki taraf intensitas 60 dB. Ketika 100 sumber berbunyi yang sama berbunyi secara serentak, taraf intensitas yang dihasilkan adalah....',
          choices : {
            A: {chc: '62 dB', done: ''},
            B: {chc: '80 dB', done: ''},
            C: {chc: '82 dB', done: ''},
            D: {chc: '100 dB', done: ''},
            E: {chc: '180 dB', done: ''},
          },
          correct: 'B',
          pembahasan: 'ini adalah pembahasan dari sebuah sumber bunyi',
          answer: ''
        },
        {
          id: 4,
          quest: `Pak Jazuli tinggal di negara yang
           menjunjung tinggi asas kekeluargaan, mereka melakukan 
           proses produksi sederhana, kehidupan bermasyarakat yang bergotong 
           royong sehingga negaranya damai sejahtera. ini berarti bahwa negara 
           tersebut menganut sistem ekonomi...`,
          choices : {
            A: {chc: 'pasar', done: ''},
            B: {chc: 'terpusat', done: ''},
            C: {chc: 'campuran', done: ''},
            D: {chc: 'demokrasi', done: ''},
            E: {chc: 'tradisional', done: ''},
          },
          correct: 'E',
          pembahasan: 'ini adalah pembahasan dari sebuah negara yang menjunjung tinggi asas kekeluargaan',
          answer: ''
        },
        {
          id: 5,
          quest: 'Sebuah sumber bunyi memiliki taraf intensitas 60 dB. Ketika 100 sumber berbunyi yang sama berbunyi secara serentak, taraf intensitas yang dihasilkan adalah....',
          choices : {
            A: {chc: '62 dB', done: ''},
            B: {chc: '80 dB', done: ''},
            C: {chc: '82 dB', done: ''},
            D: {chc: '100 dB', done: ''},
            E: {chc: '180 dB', done: ''},
          },
          correct: 'B',
          pembahasan: 'ini adalah pembahasan dari sebuah sumber bunyi',
          answer: ''
        },
        {
          id: 6,
          quest: `Pak Jazuli tinggal di negara yang
           menjunjung tinggi asas kekeluargaan, mereka melakukan 
           proses produksi sederhana, kehidupan bermasyarakat yang bergotong 
           royong sehingga negaranya damai sejahtera. ini berarti bahwa negara 
           tersebut menganut sistem ekonomi...`,
          choices : {
            A: {chc: 'pasar', done: ''},
            B: {chc: 'terpusat', done: ''},
            C: {chc: 'campuran', done: ''},
            D: {chc: 'demokrasi', done: ''},
            E: {chc: 'tradisional', done: ''},
          },
          correct: 'E',
          pembahasan: 'ini adalah pembahasan dari sebuah negara yang menjunjung tinggi asas kekeluargaan',
          answer: ''
        },
        ],
        classScore: 'hidden',
        scoreBoard: 0,
        scoreUp: 200,
        qIndex: 1,
        questClass: '',
        hiddenPrev: 1,
        hiddenNext: 0,
        hiddenEnd: 1,
        disableClass: '',
        questAnswered: 0,
        correctAnswer: '',
        endTest: false,
        // keyCode: 0,
        userAnswer: [],
        detailsSoal: {
          module_id: null,
          paketSoalId: null
        },
        cdnBasePathChoice: 'https://storage.googleapis.com/edutore-cdn/public/soal/answer_choice/',
        cdnBasePathQuestion: 'https://storage.googleapis.com/edutore-cdn/public/soal/question/'
    }),
    async asyncData(){

    },
    created(){
    },
    mounted() {
      if (this.$store.getters['edutest/isCheckedTime']){
        this.myInterval = setInterval(this.setTime, 1000);
      }
      let data = this.$store.getters['test/sessionThema']
      this.detailsSoal.module_id = data.module_id
      this.detailsSoal.paketSoalId = data.id
      this.getSoal()

      document.addEventListener('keydown', this.pressedKey)
      this.firstQuestion()
    },
    computed: {
      zeroFill(){
         let n = this.scoreBoard
         let l = 7
         return ('0000000000'+n).slice(-l);
       },
       calcPercenPage () {
        //  console.log((100/this.listQuestion.length)*(this.qIndex+2))
         return ((100 / this.listQuestion.length) * (this.questAnswered))
       },
      //  isiPembahasan () {
      //    console.log(this.listQuestion[this.qIndex].pembahasan)
      //    if (this.listQuestion[this.qIndex].pembahasan === null){
      //      return 'tidak ada pembahasan'
      //    }else{
      //      return this.listQuestion[this.qIndex].pembahasan.isi
      //    }
        // listQuestion[qIndex].pembahasan.isi
        // if (strings === null){
        //   return 'tidak ada pembahasan'
        // }else{
        //   return strings
        // }
      // },
    },
    methods: {
      testLoader() {
        let loader = this.$loading.show({
            // Optional parameters
            container: this.fullPage ? null : this.$refs.demo,
            // container: this.$refs.demo,
            canCancel: true,
            onCancel: this.onCancel,
            transition: 'fade',
            // isFullPage: false,
            // opacity: 0.8
          },{
            // Pass slots by their names
            default: this.$createElement(eduLoader),
          }
        );
        // simulate AJAX
        setTimeout(() => {
          loader.hide()
        }, 50000)
      },
      rbLain2(e){
        if (this.rbReport === 'Lain - lain'){
          this.isLain2 = false
          // console.log(this.rbReport)
        }else{
          this.isLain2 = true
        }
      },
      laporkanSoal(){
        // console.log(this.listQuestion[this.qIndex+this.numQuest].id, this.detailsSoal.paketSoalId)
        // console.log(this.rbReport)
        let alasan = this.rbReport
        !this.isLain2 ? alasan = this.inputLain2 : ''
        let data = {
          paketSoalId: this.detailsSoal.paketSoalId,
          soalId: this.listQuestion[this.qIndex+this.numQuest].id,
          alasan: alasan
        }
        // console.log(data)
        this.$store.dispatch('test/laporkanSoal', data)
          .then((response) => {
            // console.log(response)
            this.$toast.show('Soal berhasil dilaporkan.')
            $('#modalLaporkan').modal('hide');
          })
          .catch((error) => {
            console.log(error)
          })
        // console.log('lapor')
      },
      firstQuestion(){
        if (this.userAnswer.length < this.qIndex){
           let ans = {
            no_soal: this.qIndex,
            module_id: null,
            soal_id: null,
            jawaban_id: null,
            paket_soal_id: null
          }
          // this.qIndex++
          this.userAnswer.push(ans)
        }
      },
      notAnsweredQuest(){
        let arrQuestNotAns = []
        let totalAnswered = 0
        this.userAnswer.forEach(element => {
          // console.log(element.no_soal)
          
          // return element.soal_id === null
          if (element.soal_id === null){
            arrQuestNotAns.push(element.no_soal)
            // return element.no_soal
          }else {
            totalAnswered++
          }
          // console.log(element.soal_id)
         
        });
        // console.log(totalAnswered, arrQuestNotAns.length)
        arrQuestNotAns.length === 0 ? this.numNotyetAns = totalAnswered+1 : this.numNotyetAns = arrQuestNotAns[0]

        // console.log(this.numNotyetAns)
        // this.numNotyetAns = 
      },
      loncatKeSoalKosong(){
          // console.log(this.listQuestion[this.numNotyetAns+this.numQuest])
          // this.hiddenNext = 0
          this.notAnsweredQuest()
          this.qIndex = this.numNotyetAns
          this.qIndex === this.listQuestion.length ? this.hiddenNext = 1 : this.hiddenNext = 0
          this.disableClass = ''
          // console.log(this.qIndex, this.listQuestion.length)
          // console.log(this.userAnswer)
      },
      // pilihanJawaban(data){
      //   if (data.isi === null){
      //     return data.image
      //   }else if (data.image === null) {
      //     return clearHtmlTags(data.isi)
      //   }
      // },
      testBlur(){
        // console.log('on blur')
        this.isPopUp = true
      },
      pauseState(){

        if (this.timerRunning){
          // console.log('its paused')
          clearInterval(this.myInterval)
          this.timerRunning = false
          // this.myInterval = setInterval(this.setTime, 1000);
        }else{
          // console.log('its start')
          this.myInterval = setInterval(this.setTime, 1000);
          // clearInterval(this.myInterval)
          this.timerRunning = true
        }
        

        // console.log('its paused')
      },
      
      setTime(){
        ++this.totalSeconds;
        this.secLabel = this.pad(this.totalSeconds % 60);
        this.minLabel = this.pad(parseInt(this.totalSeconds / 60));
      },
      pad(val){
        var valString = val + "";
        if (valString.length < 2) {
          return "0" + valString;
        } else {
          return valString;
        }
      },
      showModalLaporan() {
        //let element = this.$refs.modal.$el
        $('#modalPause').modal('hide');
        $('#modalLaporkan').modal('show');
      },
      showModalKeluar() {
        //let element = this.$refs.modal.$el
        $('#modalPause').modal('hide');
        $('#modalKeluar').modal('show');
      },
      pressedKey() {
        // console.log(this.isPopUp)
        if (this.isPopUp){
          // console.log(event.keyCode)
          if (event.keyCode === 37 && this.hiddenPrev === 0){
            $('#finish').modal('hide');
            
            this.prevQuest()
          } else if (event.keyCode === 39 && this.hiddenNext === 0){
            // console.log(event.keyCode)
            this.nextQuest()
          }
        }
        // console.log(this.qIndex, this.listQuestion.length-2, this.hiddenNext)
        
      },
      arrowKeyPress(){
        // console.log('im pressed')
          if (event.keyCode === 37 && this.qIndex > 0){
            // console.log('left')
            this.prevQuest()
          } else if (event.keyCode === 39 && this.qIndex < this.listQuestion.length){
            // console.log('right')
            this.nextQuest()
          }

      },
      getCorrectAnswered () {
        this.listQuestion[this.qIndex+this.numQuest].jawabans.forEach((element, i) => {
          // console.log(element)
          element.is_correct ? this.correctAnswer = this.listAbjad(i) : ''
        });
        // console.log('correct answer from this question is : '+this.correctAnswer)
      },
      isAnswered (idx) {
        // console.log(this.listQuestion[idx].answer)
        // console.log(idx)
        if (this.listQuestion[idx].answer === undefined){
          
          this.disableClass = ''
        }else{
          this.disableClass = 'avoid-clicks'
        }
        // this.listQuestion[idx].answer === undefined ?  this.disableClass = '': this.disableClass = 'avoid-clicks'

      },
      clearHtmlTags (strings) {
        if (strings === null){
          return strings
        }else{
          return strings.replace(/<\/?[^>]+(>|$)/g, "")
        }
      },
      listAbjad(idx) {
        switch (idx) {
          case 0:
          return "A";
          case 1:
          return "B";
          case 2:
          return "C";
          case 3:
          return "D";
          case 4:
          return "E";
        }
      },
      async getSoal() {
            // console.log(this.$store.getters['test/soal'].data.rows)
            if (this.$store.getters['test/soal'] === null){
               this.$store.dispatch('test/setSoal', this.$store.getters['test/sessionThema'])
              .then(result => {
                if (result.success){
                    // console.log(result)
                    this.detailsSoal.paketSoalId = result.paketSoalId
                    this.listQuestion = result.data.rows
                    // console.log(this.listQuestion[this.qIndex+this.numQuest].gambar)
                    // console.log(this.detailsSoal.paketSoalId)
                } else {
                  // console.log(response)
                  if (result.data.message === 'Token is Invalid'){
                    this.$toast.show('Reconnecting. Please reload the page.');
                    this.reLogin()
                    // this.getMyModule()
                    // console.log('reloaddded')
                  }else if (result.data.message.includes('token has expired')){
                    this.userSessionExpired()
                  }
                }
              })
            }else{
              this.listQuestion = this.$store.getters['test/soal'].data.rows
            }
            // console.log(this.$store.getters['test/sessionSoal'])
            // console.log(this.$cookies.get('session-soal'))

            // console.log(this.$store.getters['test/soal'])
            

            // for (let x = 0; x < this.listQuestion.length; x++) {
            //   this.listQuestion[x].answer = null
            // }
            
            // this.listQuestion[0].jawabans.forEach(element => {
            //   console.log(element.isi)
            // });

            // console.log(this.listQuestion[0].jawabans)
        },
      pembahasan () {
        $('#pembahasan').modal('show');
        // console.log(this.isPopUp)
        this.isPopUp = false
      },
      leaving: function () {
                alert("Leaving...");
            },
      testFinished () {
        $('#modalFinishTest').modal({backdrop: 'static', keyboard: false}, 'show')
        let data = {
          lastScore: this.scoreBoard,
          noq: this.listQuestion.length, // number of queston
          timeElapsed: this.houLabel+':'+this.minLabel+':'+this.secLabel
        }
        let filteredAnswer = []
        clearInterval(this.myInterval)
        //  this.$modal.show('modal-finish')
        // $('#finish').modal('show');
        // console.log(this.userAnswer)
        this.userAnswer.forEach(element => {
          if (element.soal_id !== null){
            filteredAnswer.push(element)
          }
          // console.log(element)
        });
        console.log(filteredAnswer)
        this.endTest = true
        // this.$store.dispatch('test/assesment', filteredAnswer)
        this.$store.dispatch('test/setScore', data)
       
        // this.$store.commit('test/updatePaketSoal', this.$route.params.paketSoal)
      },
       nextQuest () {
        this.qIndex += 1
        this.$nuxt.$router.push({query: {s: this.qIndex}})
        // console.log( this.listQuestion[this.qIndex+this.numQuest])
        //  if (this.qIndex < this.userAnswer.length){
        //    let ans = {
        //     no_soal: this.qIndex+1,
        //     module_id: null,
        //     soal_id: null,
        //     jawaban_id: null,
        //     paket_soal_id: null
        //   }
        //   this.userAnswer.push(ans)
        //  }
        this.firstQuestion()
        //  console.log(this.qIndex)
         this.isAnswered(this.qIndex+this.numQuest)
         this.hiddenPrev = 0
         this.classScore = 'hidden'
        //  this.disableClass = ''
        //  this.listQuestion[this.qIndex].answer === '' ? this.hiddenNext = 1 : this.hiddenNext = 0
         this.qIndex === this.listQuestion.length ? [this.hiddenNext = 1, this.hiddenEnd = 0] : ''

        //  console.log(this.qIndex, this.listQuestion.length)
        //  console.log(this.userAnswer)
       },
       prevQuest () {
       this.qIndex -= 1
       this.$nuxt.$router.push({query: {s: this.qIndex}})
      //  console.log(this.userAnswer.length, this.qIndex)
      //  console.log(this.qIndex)
       this.isAnswered(this.qIndex+this.numQuest)
       this.hiddenNext = 0
       this.qIndex+this.numQuest === 0 ? this.hiddenPrev = 1 : this.hiddenPrev = 0
      //  console.log(this.listQuestion[this.qIndex])
      //  console.log(this.qIndex, this.listQuestion.length)
      //  console.log(this.userAnswer)
     },
      answer(res, answer) {
        this.userAnswer[this.qIndex+this.numQuest] = {
            no_soal: this.qIndex,
            module_id: this.detailsSoal.module_id,
            soal_id: res.soal_id,
            jawaban_id: res.id,
            paket_soal_id: this.detailsSoal.paketSoalId
        }
        this.notAnsweredQuest()
        this.$store.dispatch('test/assesment', this.userAnswer[this.qIndex+this.numQuest])
        // console.log(this.numNotyetAns)
        // console.log(this.userAnswer[this.qIndex+this.numQuest])

          //  let ans = {
          //   no_soal: this.qIndex,
          //   module_id: null,
          //   soal_id: null,
          //   jawaban_id: null,
          //   paket_soal_id: null
          //  }
          // this.userAnswer.push(ans)
        // this.userAnswer.push(ans)
        // console.log(this.detailsSoal)
        // console.log(this.userAnswer)
        // console.log(res, answer)
        this.isPopUp = false

        // console.log(this.listQuestion[this.qIndex])
        this.scoreUp = (res.bobot * 100)
        this.getCorrectAnswered()
        this.questAnswered += 1
        // console.log(this.qIndex)
        this.disableClass = 'avoid-clicks'
        this.listQuestion[this.qIndex+this.numQuest].answer = answer
        // this.pembahasan = pembahasan
        // this.qIndex === this.listQuestion.length-1 ? this.hiddenNext = 1 : this.hiddenNext = 0
        if (this.qIndex === this.listQuestion.length) {
          this.hiddenNext = 1
          this.hiddenEnd = 0
        } else {
          this.hiddenNext = 0
          // this.hiddenEnd = 1
        }
        // if (this.qIndex === this.numNotyetAns){
        //   this.numNotyetAns++
        // }
        if (res.is_correct) {
          this.classScore = 'fadeInOut'
          this.scoreBoard += this.scoreUp
          res.done = 'ico benar'
          // setTimeout(() => this.$modal.show('modal-benar'), 1000)
          //  this.$modal.show('hello')
          $('#benar').modal('show')
        } else {
          // console.log('jawaban salah')
          // setTimeout(() => this.$modal.show('modal-salah'), 1000)
          $('#salah').modal('show')
          res.done = 'ico salah'
        }
        // res.done = 'ico benar'
        //  console.log(this.listQuestion)
        // localStorage.setItem('listQuest', JSON.stringify(this.listQuestion))
        // console.log(JSON.parse(localStorage.getItem('listQuest')))
        // this.savedSessionQuest()
      },
      closeAllmodal () {
        $('#benar').modal('hide')
        $('#salah').modal('hide')
        $('#pembahasan').modal('hide')
        $('#finish').modal('show');
        this.isPopUp = true
        
        // console.log('hi')
        // this.$modal.hide('modal-benar');
        // this.$modal.hide('modal-salah');
        // this.$modal.hide('modal-pembahasan');
      },
      savedSessionQuest () {
        // let dataSession = {
        //   pembahasan: this.pembahasan,
        //   classScore: this.classScore,
        //   scoreBoard: this.scoreBoard,
        //   scoreUp: this.scoreUp,
        //   qIndex: this.qIndex,
        //   questClass: this.questClass,
        //   hiddenPrev: this.hiddenPrev,
        //   hiddenNext: this.hiddenNext,
        //   hiddenEnd: this.hiddenEnd,
        //   disableClass: this.disableClass
        // }
        // // console.log(dataSession)
        // this.$store.dispatch('in-game/setSavedQuestion', {payload: JSON.stringify(this.listQuestion), payload2: dataSession})
      },
      keluarTest(){
        this.$nuxt.$router.push('/modules/'+this.detailsSoal.module_id+'/'+this.detailsSoal.paketSoalId)
        $('#modalKeluar').modal('hide')
        // console.log('keluar test')
      }
    },
    updated(){
      if (this.$store.getters['test/sessionThema'].selectedPaketSoal.trial){
        this.$nuxt.$router.push('error/access-disable')
      }
    },
    beforeMount() {
      // console.log(this.$cookies.get('user-answer'))
      //console.log(this.$store.getters['test/sessionThema'].selectedPaketSoal.trial)
      if (this.$store.getters['test/sessionThema'] === null) {
        this.$store.dispatch('test/getSessionThema')
        if (this.$store.getters['test/sessionThema'].selectedPaketSoal.trial){
          this.$nuxt.$router.push('error/access-disable')
        }
        // console.log('in')
      }
      // this.$store.dispatch('in-game/getSavedQuestion')
      // this.$store.dispatch('test/setBodyDataTest', 'bg-game')
      // console.log('before mount in game')
      // console.log(this.$store.getters['in-game/savedQuestion'])
    }
}
</script>

<style scoped>
/* remove scrollbar space */
/* optional: just make scrollbar invisible */
/* ::-webkit-scrollbar {
width: 0px; 
background: transparent; 
} */
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
background: #FF0000;
}

.tGreen {
  color: green;
  margin-top: -50px;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.avoid-clicks {
  pointer-events: none;
}

.fadeInOut {
  /* fade in */
    -webkit-animation: fadeinout 4s linear forwards;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinout 4s linear forwards;
    /* Firefox < 16 */
    -ms-animation: fadeinout 4s linear forwards;
    /* Internet Explorer */
    -o-animation: fadeinout 4s linear forwards;
    /* Opera < 12.1 */
    animation: fadeinout 4s linear forwards;
}

.text-question {
  color: #7F7F7F
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  10%, 50% { opacity: 1; }
}

.fadeOutIn {
   /* fade in */
    -webkit-animation: fadeoutin 1s linear forwards;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeoutin 1s linear forwards;
    /* Firefox < 16 */
    -ms-animation: fadeoutin 1s linear forwards;
    /* Internet Explorer */
    -o-animation: fadeoutin 1s linear forwards;
    /* Opera < 12.1 */
    animation: fadeoutin 1s linear forwards;
}
/* @-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
} */



@keyframes fadeoutin {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}
</style>
