<template>
    <div class="container mt-5">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="koreksi-img">
            <img src="~/assets/img/edu-kereksi.png" class="img-fluid" alt="">
          </div>
          <div class="koreksi-txt">
            <p class="pljran">{{detailModule.nama_module}}</p>
            <hr>
            <p class="kls">Kelas {{detailModule.kelas}}</p>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <p> <b>{{detailModule.nama_tema}}</b> </p>
          <p>{{detailModule.paket_soal_name}}</p>
          <p class="mb-0">Jumlah Soal</p>
          <p class="mb-4">{{jmlSoal}}</p>

          <p class="mb-0">Tipe Soal</p>
          <p class="mb-5">{{tipeSoal}}</p>

          <p>
            Pengatur Waktu
            <label class="switch ml-3">
              <input type="checkbox" v-model="checked" v-on:change="checkedTime">
              <span class="slider round"></span>
            </label>
          </p>
          <nuxt-link v-if="!isLoading && detailModule.type_test === 'regular'" class="btn btn-primary mt-5" :to="`/tests/regular/${$route.params.id}/${$route.params.konfirmasiTest}/${detailModule.paket_soal_id}?s=1`">Mulai</nuxt-link>
          <nuxt-link v-else-if="!isLoading && detailModule.type_test === 'trial'" class="btn btn-primary mt-5" :to="`/tests/trial/${$route.params.id}/${$route.params.konfirmasiTest}/${detailModule.paket_soal_id}?s=1`">Mulai</nuxt-link>
          <nuxt-link v-else-if="!isLoading && detailModule.type_test === 'langganan'" class="btn btn-primary mt-5" :to="`/tests/langganan/${$route.params.id}/${$route.params.konfirmasiTest}/${detailModule.paket_soal_id}?s=1`">Mulai</nuxt-link>
          <!-- <a v-if="loader" class="btn btn-primary mt-5" href="/tests">Mulai</a> -->
<!--          <p v-else-if="!isLoading === 'error'" class="mt-5">Something Error!!!</p>-->
          <!-- <p v-else class="mt-5">Loading Soal...</p> -->
          <div v-else class="text-center">
            <loader :sHeight=100 ></loader>
            <p>Loading...</p>
            </div>
<!--          <a @click="testx" class="btn btn-primary mt-5" href="javascript:void(0)">Sampel</a>-->

          <!-- <label v-else @click="go" class="btn btn-warning mt-5">Loading...</label> -->
          <div class="mt-3">
              <a href="javascript:void(0)" @click="batal" class="link-underline">Keluar</a>
              <!-- <nuxt-link class="link-underline" :to="'/modules/'+detailsSoal.module_id">Batal</nuxt-link> -->
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import loader from '~/components/vue-content-loader.vue'
import { mapState } from 'vuex'

export default {
    layout: 'layout-test',
    middleware: 'router-auth',
    // transition: 'page',
    data: () => ({
        loaders: true,
        matpel: 'Mata Pelajaran',
        kelas: 'kelas',
        title: 'title',
        thema: 'tema',
        isPaketSoalTrial: false,
        paket_name: 'loading paket name...',
        jmlSoal: 'Load jumlah soal...',
        tipeSoal: 'Single Choice',
        detailsSoal: {
          module_id: null,
          themaId: null,
          module_slug: null
        },
        paketSoalId: null,
        checked: false,
        isTrial: 'null',
        isLangganan: null
    }),
  head () {
    return {
      title: 'Konfirmasi Test',
      bodyAttrs: {
        class: 'bg-white'
      }
    }
  },
    components: {
      loader
    },
    async asyncData ({store, params, query, app, error}){
      await store.commit('exam/getCacheSessionModuleUser')
      await store.commit('exam/removeCacheSoal')
      if (query.ms !== undefined){
        // console.log(query.ms.replace(/ /g, '+'))
        await store.dispatch('edutest/getModules', query.ms.replace(/ /g, '+'))
          .then(async (mod) => {

            if (mod.success === 'true'){
              const data = {
                id_tema: parseInt(params.konfirmasiTest),
                nama_tema: mod.data.theme.filter(x => x.id === parseInt(params.konfirmasiTest))[0].theme_name,
                id_module: mod.data.rows.id,
                nama_module: mod.data.rows.name,
                module_slug: mod.data.rows.module_slug,
                paket_soal_id: query.ps_id,
                paket_soal_name: mod.data.theme.filter(x => x.id === parseInt(params.konfirmasiTest))[0].paket_soals.filter(y => y.id === parseInt(query.ps_id))[0].name,
                kelas: mod.data.rows.kelas.name,
                type_test: 'trial',
                id_langganan: null
              }
              await store.commit('exam/setCacheSessionModuleUser', data)
            }else{
              // console.log('nice')
              error({ statusCode: 404, message: 'Maaf module yang anda cari tidak di temukan' })
            }
          })

      }else{

        // console.log('its not undefined')
      }
    },
    async fetch({store}){
      // await store.commit('exam/getCacheSessionModuleUser')
      // await store.commit('exam/removeCacheSoal')
    },
    computed: {
      ...mapState('exam', {
        detailModule: state => state.userCacheSessionModule,
        listSoal: state => state.onGoingSoal,
        isLoading: state => state.examLoadingSoal,
      }),
    },
    async created() {
      this.$store.commit('edutest/setCheckedTime', false)
      if (this.$store.state.exam.onGoingSoal === null || this.$store.state.exam.onGoingSoal.id_paket_soal !== this.$route.query.ps_id) {
        // let data = {
        //   id_module: this.$route.params.id,
        //   id_paket_soal: this.$route.query.ps_id
        // }
        await this.$store.commit('exam/setLoadingState', true)
        await this.$store.dispatch('exam/fillSoal', {
          type_test: this.$route.query.hasOwnProperty('type') ? 'trial' : this.detailModule.type_test,
          id_module: this.$route.params.id,
          id_paket_soal: this.$route.query.ps_id,
          id_langganan: this.detailModule.id_langganan
        })
          .then((res) => {
            this.jmlSoal = res.data.count
          })
      }else{
        this.jmlSoal = this.listSoal.data.count
        // console.log('this.listSoal')
        // console.log(this.$store.state.exam)
      }
      // this.getSoal()
    },
    mounted () {
    },

    methods: {
      testx(){
        // console.log(this.$cookies.get('user-module-cache'))

        // console.log(this.listSoal)
        // console.log(this.isLoading)
        // console.log(this.listSoal)
      },
      batal(){
        let type = this.detailModule.type_test === 'regular' ? '?type=1' : this.detailModule.type_test === 'langganan' ? '?type=2' : '?type=0'
        // console.log(`/modules/${this.detailModule.module_slug}${type}`)
        this.$nuxt.$router.push(`/modules/${this.detailModule.module_slug}${type}`)
        this.$store.commit('test/clearPaketSoal')
      },
      checkedTime(){
        // if (data){
        //   return false
        // }else{
        //   return true
        // }
        // console.log(this.checked)
        this.$store.commit('edutest/setCheckedTime', this.checked)
      },
      go(){
        // this.$nuxt.$routers.go({path: '/in-game'})
        // console.log('go')
      },
      getSoal(){
        // console.log(this.$store.getters['test/sessionThema'])
        this.$store.dispatch('test/setSoal', this.$store.getters['test/sessionThema'])
        .then(response => {
           // console.log(response)
          if (response.success){
            this.loaders = true
            this.jmlSoal = response.data.count
            this.paketSoalId = response.paketSoalId
            this.paket_name = response.paket_name_now
            this.isTrial = response.isTrial
          }else{
            // console.log(response)
            this.loaders = 'error'
            if (response.data.message === 'Token is Invalid'){
              this.$toast.show('Reconnecting... Please refresh the page.');
              this.reLogin()
              // this.getMyModule()
              // console.log('reloaddded')
            }
          }
        })
      }
    }
}
</script>

